@model EmailConfirmationModel

<section>
<div class="p-b p-l">

  <h1 class="m-b">Confirm Registration</h1>

  @if (Model.SuccessfulConfirmation) {
      <p>
        @if (Model.ConfirmingNewAccount) {
            @: Account registration completed!
        }
        else {
            @: Email address change confirmed!
        }
      </p>
      if (Model.ConfirmingNewAccount) {
          <p>
            Click on the Login link to log in to the site.
          </p>
          <p>
            You may now upload packages and make your mark in 
            the community.
          </p>
      }
      else {
          <p>
            Your email address is now updated.
          </p>
      }
  }

  else {
      <p class="message error">
        Could not confirm your email address.
      </p>
      <p>
        Make sure you clicked on the confirmation URL in the email we sent.
      </p>
    
      <p class="message warning">
        If you see this screen and you are logged in, you can likely safely ignore it. <br />
        If you were already logged into another account when you clicked on confirm, you will need to resend confirmation.
      </p>
  }
</div>
</section>