<section>
<div class="p-b p-l">
  <h1 class="m-b">Password changed!</h1>


  <p class="warning">
    Don't forget to use your new password the next time you 
    <a href="@Url.LogOn()">log on</a>. 
  </p>
</div>
</section>