body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

aside {
    z-index: 9999 !important;
}

.profile-packages a {
    color: $gray-900;
    font-weight: $font-weight-normal;
}

a {
    font-weight: $font-weight-bold;
    transition: 0 .5s;
}

q {
    display: inline-block;
}

.sticky-top:not(th):not(tr) {
    top: 1rem;
}
#docs .docs-left .sticky-top {
    top: 0;
}

/*Code*/
code:not([class*="language-"]) {
    background: white;
    padding: .2em;
    border-radius: .3em;
    border: 1px solid $gray-300;
}

/*Scrollbars*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0,0,0,.1)
}

/*Buttons*/
.btn:not(.btn-sm) {
    white-space: nowrap;
    width: 100%;
}

.btn + .btn {
    margin-top: 1rem;
}

.btn-link:hover {
    text-decoration: underline;
}

/*Backgrounds & Text*/
.bg-medium-light {
    background: $medium-light;
}

.bg-dark:not(.navbar) a:not(.btn), .bg-medium-dark, .bg-primary, .bg-medium, .bg-primary a:not(.btn), .bg-medium:not(.navbar) a:not(.btn), footer.bg-medium-dark a {
    color: $white;
}

.bg-medium-dark {
    background: $medium-dark;
    /*border-top: 4px solid #21446d;*/
}

.bg-medium {
    background: $medium;
}

footer.bg-medium-dark a:hover {
    color: $primary;
}

/*Alerts and Cookies Notifications*/
.alert {
    z-index: 2;
}

.alert-primary .alert-link {
    color: $primary;
    text-decoration: underline;
}

.cookies-popup {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
}

.gitter-chat-embed {
    z-index: 9999;
}

.modal {
    background: rgba(0,0,0,.7);
    overflow: auto;
    z-index: 9999;
}

.modal .modal-footer button.close {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    opacity: 1;
}

.modal .modal-footer button.close:hover, .modal .modal-footer .close:not(:disabled):not(.disabled):hover, .modal .modal-footer .close:not(:disabled):not(.disabled):focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background: #fff;
    border: 1px solid #80bdff;
    outline: 0;
    -webkit-text-fill-color: #202f3c;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="text"]:disabled, .video-story div[data-toggle]:hover {
    cursor: pointer;
}

/*Copy Boxes with Prepend Item*/
.input-group {
    .input-group-prepend {
        .input-group-text {
            background: white;
            padding-right: 0;
            border-right: 0;
        }

        + input {
            border-left: none;
            padding-left: .25rem;
        }
    }
}

/*Header*/
#header {
    border-top: 1px solid rgba(255,255,255,.2);
}

/*Curve*/
.shape-border {
    position: relative;
    overflow: hidden;
    height: 80px;
}

.shape-border:before {
    border-radius: 100%;
    position: absolute;
    right: -200px;
    left: -200px;
    content: '';
}

.shape-border-bottom::before {
    background: $light;
    bottom: -200px;
    top: 0;
}

.shape-border-top::before {
    background: $white;
    top: -200px;
    bottom: 0;
}

.shape-border-white::before {
    background: $white;
}

.shape-border-light::before {
    background: $light;
}

/*Terminal*/
#terminal .maximize {
    border: 2px solid;
    height: .78em;
    width: .78em;
}

#terminal .terminal-body {
    height: 90px;
}

/*Home Page*/
.carousel-section1 {
    padding-bottom: 250px;
}

.carousel-section2 {
    margin-top: -300px;
}

.carousel-section3 img {
    max-height: 75px;
    max-width: 125px;
}

/*Checklist*/
ul.check-list, ul.times-list {
    list-style-type: none;
    margin-bottom: 0;

    li {
        margin-bottom: .5rem;

        &:before {
            font-family: 'FontAwesome';
            position: absolute;
            left: 8px;
            font-size: 1.2em;
            margin-left: 15px;
        }
    }
}

ul.check-list li::before {
    color: $green;
}

ul.times-list li::before {
    color: $red;
    margin-top: -.25rem;
}

/*Random Borders*/
.border-hr {
    border: 3px solid $blue;
    width: 50px;
    margin-left: 0;
    border-radius: $border-radius;
}

/*Load More/Show Less*/
#showLess {
    display: none;
}

/*Collapse*/
a + .collapse.show, a + .collapsing {
    margin-left: 30px;
}

/*Account Overview*/
#generateKey pre.language-powershell {
    white-space: normal;
}

.table .thead-dark th {
    border-color: $primary;
    background: $primary;
    color: $white;
}

/*Copy Code Box*/
.copyBox {
    max-width: 800px;
}

/*Trusted By Logos*/
.trusted-by img {
    max-height: 50px;
    max-width: 100px;
}

/*Footer*/
footer {
    border-top: 5px solid #81b5e2;
}

@media (min-width: 576px) {
    #terminal .terminal-body {
        height: 300px;
    }
    
    .btn:not(.btn-sm) {
        width: auto;
    }

    .btn + .btn {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .copyBox {
        max-width: 550px;
    }

    .modal.fade .modal-dialog:not(.modal-dialog-centered) {
        transform: translate(0,50%);
    }

    .divider-row [class*=col-]:not(:last-child) {
        border-right: 1px solid #ced4da;
    }

    .divider-row [class*=col-] {
        padding: 0 2rem;
    }
}

@media (min-width: 1200px) {
    .cookies-popup {
        z-index: 99;
    }

    #header {
        margin-top: -1rem;
    }
}