.resource-list {

    .card-body img {
        max-width: 100%;
    }

    .card-footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: white;
        justify-content: center;
        text-align: center;

        p, h5 {
            margin: 0;
        }
    }
}

.home-list .card .card-body {
    background: $primary;
    height: 320px;
    transition: all 0.3s ease;
    color: $white;
}
.home-list .card:hover .card-body {
    background: #3d8dd1;
}

.home-list, .resource-list {
    a, &.video-story {

        .card {
            transition: all 0.3s ease;

            .card-header span, .card-footer p {
                color: $dark;
            }

            .card-footer h5 {
                color: $primary;
            }
        }

        .card:hover {
            -webkit-transform: scale(0.98);
            -ms-transform: scale(0.98);
            transform: scale(0.98);

            .card-header span, .card-footer p, .card-footer h5 {
                color: #3d8dd1;
            }
        }
    }
}
.resource-d-3 > *, .resource-d-6 > * {
    display: none;
    transition: all .3s ease;
}

.resource-d-3 > *:nth-child(-n+3), .helpful-list.resource-d-3 > *:nth-child(-n+5), .updated-list.resource-d-6 > *:nth-child(-n+8), .resource-d-6 > *:nth-child(-n+6) {
    display: block;
}

.updated-list a span, .helpful-list a span {
    color: $dark;
}
.updated-list a:hover span, .helpful-list a:hover span, .updated-list a:hover, .helpful-list a:hover {
    color: #3d8dd1;
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
}