.vs/
_ReSharper*
bin
obj
*.user
*.suo
App_Data
*.results.xml
/packages
/chocolatey/Website/cassette-cache/
/chocolatey/Website/Content/packageimages
snags/
_AzurePackage
*.sln.docstates
*.bak

.DS_Store
Thumbs.db
TestResults
