@{
  ViewBag.Title = "_Footer";
}

<article>
<p><a href="Home">Home</a> | <a href="Installation">Installation</a> | <a href="CommandsReference">Command Reference</a> | <a href="CreatePackages">Creating Chocolatey Packages</a> | <a href="HelpersReference">Package Scripts Helper Reference</a></p>
</article>
