@{
  ViewBag.Title = "_Sidebar";
}

<article>
<ul>
<li><a href="Home">Home</a></li>
<li><a href="Why">Why Chocolatey?</a></li>
<li><a href="https://github.com/chocolatey/chocolatey/wiki">Choco 0.9.8.x &amp; below</a></li>
</ul>
<p><strong>General</strong></p>
<ul>
<li><a href="ReleaseNotes">Release Notes</a></li>
<li><a href="https://github.com/chocolatey/choco/blob/master/README.md#submitting-issues">Submitting Issues</a></li>
<li><a href="https://github.com/chocolatey/choco/blob/master/CONTRIBUTING.md">Contributing</a></li>
<li><a href="ChocolateyFAQs">FAQs</a></li>
<li><a href="Security">Security</a></li>
<li><a href="Moderation">Chocolatey.org Moderation</a></li>
<li><a href="CommunityPackagesDisclaimer">Chocolatey.org Packages Disclaimer</a></li>
<li><a href="PackageTriageProcess#are-you-a-software-vendor">Software Vendor?</a></li>
</ul>
<p><strong>Features</strong></p>
<ul>
<li><a href="FeaturesVirusCheck">Runtime Malware Protection</a></li>
<li><a href="FeaturesPrivateCdn">Private CDN Cache</a></li>
<li>In progress, check back for updates!</li>
</ul>
<p><strong>Usage</strong></p>
<p><a href="GettingStarted#how-does-chocolatey-work">How does choco work?</a></p>
<ul>
<li><a href="installation">How to install</a></li>
<li><a href="Uninstallation">How to uninstall</a></li>
<li><a href="GettingStarted">Getting Started</a></li>
<li><a href="Proxy-Settings-for-Chocolatey">Proxy Settings</a></li>
<li><strong>Commands:</strong></li>
<li><a href="CommandsReference#how-to-pass-options--switches">Passing args to choco</a></li>
<li><a href="CommandsReference">Complete Reference</a></li>
<li><a href="CommandsList">List / Search </a></li>
<li><a href="CommandsInstall">Install</a></li>
<li><a href="CommandsPin">Pin</a></li>
<li><a href="CommandsOutdated">Outdated</a></li>
<li><a href="CommandsUpgrade">Upgrade</a></li>
<li><a href="CommandsUninstall">Uninstall</a></li>
<li><a href="CommandsConfig">Config</a></li>
<li><a href="CommandsSources">Source / Sources</a></li>
<li><a href="CommandsFeature">Feature</a></li>
<li>See other commands related to creating packages below</li>
</ul>
<p><strong>Creating Packages</strong></p>
<ul>
<li><a href="CreatePackages">Create Packages</a></li>
<li><a href="CreatePackagesQuickStart">Quick Start</a></li>
<li><strong>Commands:</strong></li>
<li><a href="CommandsNew">New</a></li>
<li><a href="CommandsPack">Pack</a></li>
<li><a href="CommandsApiKey">Apikey</a></li>
<li><a href="CommandsPush">Push</a></li>
<li><a href="HelpersReference">Function and Variable Reference</a></li>
<li><a href="AutomaticPackages">Automatic Packages</a></li>
</ul>
<p><strong>How To&#39;s</strong></p>
<ul>
<li><a href="Proxy-Settings-for-Chocolatey">Use Chocolatey w/Proxy Server</a></li>
<li><a href="How-To-Change-Cache">Change Download Cache Location aka Don&#39;t use TEMP for downloads</a></li>
<li><a href="How-To-Install-Upgrade-Package-Without-Scripts">Install/Upgrade a Package w/out running install scripts</a></li>
<li><a href="How-To-Create-Custom-Package-Templates">Create Custom Package Templates</a></li>
<li><a href="PackageTriageProcess">Request Package Fixes/Updates</a></li>
<li><a href="PackageTriageProcess">Request Package</a></li>
<li><a href="PackageTriageProcess#i-want-to-take-overhelp-with-package-maintenance-for-my-software">Maintain Packages for My Software</a></li>
<li><a href="PackageTriageProcess">Become a Maintainer</a></li>
<li><a href="PackageMantainerHandover">Take Over Package Maintenance Exclusively</a></li>
<li><a href="How-To-Parse-PackageParameters-Argument">Parse Package Parameters</a></li>
<li><a href="How-To-Mount-An-Iso-In-Chocolatey-Package">Mount Iso</a></li>
<li><a href="How-To-Deprecate-A-Chocolatey-Package">Deprecate a Package</a></li>
<li><a href="How-To-Host-Feed">Host Your Own Server</a></li>
</ul>
<p><strong>Use Cases</strong></p>
<ul>
<li><a href="DevelopmentEnvironmentSetup">Development Environment</a></li>
<li><a href="Hosting-Chocolatey-Packages-on-MyGet">Host on MyGet</a></li>
</ul>
<p><strong>Learning Resources</strong></p>
<ul>
<li><a href="Resources">Resources</a></li>
<li><a href="Videos">Videos</a></li>
<li><a href="Presentations">Presentations</a></li>
</ul>
<p><strong>Other</strong></p>
<ul>
<li><a href="Why">Why Chocolatey?</a></li>
<li><a href="Legal">Legal</a></li>
<li><a href="History">History</a></li>
</ul>
</article>
