@{
  ViewBag.Title = "ChocolateyInstallPS1";
}

<article>
<h1 id="chocolateyinstall.ps1">ChocolateyInstall.ps1</h1>
<p>Chocolatey uses PowerShell as a package install provider and will look for this file in the package. If it finds it, it will execute the contents of the file, attaching the helper modules. Check out the <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-reference" })">Helper Reference</a> for more information on each of the helpers you can include.</p>
<p>It really is just PowerShell, so you can use regular PowerShell here and it should run fine. <strong>Note:</strong> Please maintain compatibility with Posh v2. Not every OS we support is on Posh v2 (nor comes OOB with Posh v3+). It&#39;s best to work with the widest compatibility of systems out there.</p>
<h2 id="when-is-the-script-triggered">When is the script triggered?</h2>
<p>If present in a package, the <code>ChocolateyInstall.ps1</code> script will be triggered at the following points:</p>
<ul>
<li>When a package is installed for the first time, after the package contents have been extracted.</li>
<li>In an <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-upgrade" })">Upgrade</a> scenario, the install script for the new package will be run after any <code>chocolateyBeforeModify.ps1</code> script associated with the previous version of the package.</li>
</ul>
<h3 id="example">Example?</h3>
<p>This is what it takes to install <a href="https://github.com/ferventcoder/nugetpackages/blob/master/StExBar/tools/chocolateyInstall.ps1">StExBar</a>:</p>
<pre class="brush: ps">$name   = &#39;StExBar&#39;
$url = &#39;http://stexbar.googlecode.com/files/StExBar-1.8.3.msi&#39;
$url64 = &#39;http://stexbar.googlecode.com/files/StExBar64-1.8.3.msi&#39;
$silent = &#39;/quiet&#39;

Install-ChocolateyPackage $name &#39;msi&#39; $silent $url $url64</pre>
<p>The Install-ChocolateyPackage helper uses the url, msi, and silent args to download and silently install and update stexbar.</p>
</article>
