@{
  ViewBag.Title = "DefaultChocolateyInstallReasoning";
}

<article>
<h2 id="notice-as-of-0.9.8.24-chocolateys-default-install-location-is-cprogramdatachocolatey"><span style="color:red;">NOTICE: As of 0.9.8.24, Chocolatey&#39;s default install location is C:\ProgramData\Chocolatey</span></h2>
<p>This reduces the attack surface on a local installation of Chocolatey and limits who can make changes to the directory.</p>
</article>
