@{
  ViewBag.Title = "FeaturesPackageThrottle";
}

<article>
<h1 id="package-throttle">Package Throttle</h1>
<h2 id="usage">Usage</h2>
<h2 id="see-it-in-action">See It In Action</h2>
<h2 id="options-and-switches">Options and Switches</h2>
<h2 id="faq">FAQ</h2>
<h3 id="how-do-i-take-advantage-of-this-feature">How do I take advantage of this feature?</h3>
<p>You must have a <a href="https://chocolatey.org/pricing">licensed edition of Chocolatey</a> (Pro, MSP, or Business) and use the community package repository to install/upgrade packages. Pro is a personal, named license that costs about the price of a lunch outing per month and comes with several other features. Business editions are great for organizations that need to manage the total software management lifecycle. MSP editions are for managed service providers and contain the same features as Pro (minus VirusTotal integration).</p>
<h3 id="im-a-licensed-customer-now-what">I&#39;m a licensed customer, now what?</h3>
<p>It works to slow the download rate when you provide the maximum download rate as an argument or as a set feature.</p>
<h3 id="how-does-it-work">How does it work?</h3>
</article>
