@{
  ViewBag.Title = "FeaturesInstallDirectoryOverride";
}

<article>
<h1 id="install-directory-override-licensed-editions-only">Install Directory Override (Licensed Editions Only)</h1>
<p>The ubiquitous install directory switch for <a href="https://chocolatey.org/pricing">customers</a>! The only switch you will ever need for overriding the install directory for native installers! When working with packages that use native installers (software that actually installs on a machine), Chocolatey is able to override the default installation directory from a simple switch you pass to choco.</p>
<p>It can be a pain determining the native installer type (MSI, NSIS, InnoSetup, etc) for a piece of software and then determining what the what the install directory argument should look like.</p>
<p>With the ubiquitous switch, you are not only saving time, but also possible errors in passing the wrong arguments to an installer!</p>
<h2 id="usage">Usage</h2>
<p>Just pass <code>--install-directory=value</code> along and Chocolatey will determine what the actual call to the native installer needs to be and manage that for you!</p>
<p><img src="@Url.Content("~/content/images/docs/chocopro_features_installdirectory.png")" alt="choco install 1password --install-directory c:\1password" /></p>
<h2 id="see-it-in-action">See It In Action</h2>
<p><img src="@Url.Content("~/content/images/docs/gifs/chocopro_features_installdirectory.gif")" alt="Directory override in action" /></p>
<h2 id="options-and-switches">Options and Switches</h2>
<p>The following options are added to install and upgrade commands.</p>
<pre class="cmd">   --dir, --directory, --installdir, --installdirectory, --install-dir,
   --install-directory=VALUE
   Install Directory Override - Override the default installation
    directory. Chocolatey will automatically determine the type of
    installer and pass the appropriate arguments to override the install
    directory. The package must use Chocolatey install helpers and be
    installing an installer for software. Available in 0.9.10+. Licensed
    versions only.</pre>
<h2 id="faq">FAQ</h2>
<h3 id="how-do-i-take-advantage-of-this-feature">How do I take advantage of this feature?</h3>
<p>You must have a <a href="https://chocolatey.org/pricing">licensed edition of Chocolatey</a> (Pro and/or Business). Pro is a personal, named license that costs about the price of a lunch outing per month and comes with several other features. Business editions are great for organizations that need more business friendly features from their software management tool.</p>
<h3 id="im-a-licensed-customer-now-what">I&#39;m a licensed customer, now what?</h3>
<p>You just create a package or find a package you want to install that uses a native installer (ends up in Programs and Features).</p>
<h3 id="how-does-it-work">How does it work?</h3>
<p>Chocolatey is able to inspect the installer file to learn what it is and can do this for almost 15 different types of installers (there are over 20)! Once it understands what type of file it is, it knows how to install/upgrade/uninstall that piece of software.</p>
<p>The recommended calls for installing native installers are to use <code>Install-ChocolateyPackage</code> (or <code>Install-ChocolateyInstallPackage</code>). This allows Chocolatey to override that directory automagically.</p>
<h3 id="do-you-have-plans-to-make-this-work-for-zip-files">Do you have plans to make this work for zip files?</h3>
<p>We do have plans to extend this to archive packages as well.</p>
</article>
