@{
  ViewBag.Title = "FeaturesPackageThrottle";
}

<article>
<h1 id="package-throttle-licensed-editions-only">Package Throttle (Licensed Editions Only)</h1>
<blockquote>
<p>Use Chocolatey in low bandwidth environments</p>
</blockquote>
<p>By default, Chocolatey downloads packages and any resources the packages use as fast as it can. In most cases, this is exactly the behavior you want. However, low bandwidth areas would be overwhelmed with this behavior and so you need to slow Chocolatey down. Package Throttle covers these low bandwidth scenarios automatically.</p>
<!-- TOC -->
<ul>
<li><a href="#usage">Usage</a>
<ul>
<li><a href="#requirements">Requirements</a></li>
</ul></li>
<li><a href="#see-it-in-action">See It In Action</a></li>
<li><a href="#options-and-switches">Options and Switches</a></li>
<li><a href="#faq">FAQ</a>
<ul>
<li><a href="#how-do-i-take-advantage-of-this-feature">How do I take advantage of this feature?</a></li>
<li><a href="#im-a-licensed-customer-now-what">I&#39;m a licensed customer, now what?</a></li>
<li><a href="#how-does-it-work">How does it work?</a></li>
<li><a href="#package-throttle-didnt-slow-down-the-downloads-of-resources-in-my-package">Package Throttle didn&#39;t slow down the downloads of resources in my package</a></li>
<li><a href="#how-do-i-turn-this-feature-on">How do I turn this feature on?</a></li>
<li><a href="#how-do-i-turn-this-feature-off">How do I turn this feature off?</a></li>
</ul></li>
</ul>
<!-- /TOC -->
<h2 id="usage">Usage</h2>
<p>Adding the option or config setting for maximum download rate will slow down the speed a package and any resources are downloaded to a particular machine. This is done in &quot;bit per second&quot; (b/s or bps), which is a common unit of data transmission rate (bandwidth) in computers. The symbol bps is often pronounced &quot;bips.&quot;</p>
<p>A good way to find what you need is to translate from Kbps to bits: <a href="https://www.google.com/search?q=2+Kb/s+%3D+?+bps">Google Kbps to bps</a> or KB/s (bytes) to bits: <a href="https://www.google.com/search?q=2+KB/s+%3D+bps">Google KB/s to bps</a>.</p>
<h3 id="requirements">Requirements</h3>
<ul>
<li>Chocolatey (<code>chocolatey</code> package) v0.10.7+.</li>
<li>Chocolatey Licensed Edition.</li>
<li>Chocolatey Licensed Extension (<code>chocolatey.extension</code> package) v1.10.0+.</li>
</ul>
<h2 id="see-it-in-action">See It In Action</h2>
<p><img src="@Url.Content("~/content/images/docs/features/features_package_throttle.png")" alt="Package Throttle downloading a package and resources - - if you are on https://chocolatey.org/docs/features-package-throttle, see commented html below for detailed description of image" /></p>
<!--
Text in the image above:
Package Throttle - Slow Downloads of Packages and Downloaded Resources

- Great for low bandwidth environments
- Will not overwhelm bandwidth pipes
- Set in configuration and forget
- Future Licensed editions: set auto and let Windows determine this value automatically

-->
<h2 id="options-and-switches">Options and Switches</h2>
<p>Global Config Setting:</p>
<ul>
<li><code>maximumDownloadRateBitsPerSecond</code> - The maximum download rate in bits per second. &#39;0&#39; or empty means no maximum. A number means that will be the maximum download rate in bps. Defaults to &#39;&#39;.</li>
</ul>
<p><code>choco install</code> / <code>choco upgrade</code> provide the following option(s):</p>
<pre><code class="language-none">     --bps, --maxdownloadrate, --max-download-rate, --maxdownloadbitspersecond, --max-download-bits-per-second, --maximumdownloadbitspersecond, --maximum-download-bits-per-second=VALUE
     Maximum Download Rate Bits Per Second - The maximum download rate in
       bits per second. &#39;0&#39; or empty means no maximum. A number means that will
       be the maximum download rate in bps. Defaults to config setting of &#39;0&#39;.
       Available in [licensed editions](https://chocolatey.org/compare) v1.10+ only. See https://chocolate-
       y.org/docs/features-download-throttle</code></pre>
<h2 id="faq">FAQ</h2>
<h3 id="how-do-i-take-advantage-of-this-feature">How do I take advantage of this feature?</h3>
<p>You must have a <a href="https://chocolatey.org/pricing">licensed edition of Chocolatey</a> (Pro, MSP, or Business) and use the community package repository to install/upgrade packages. Pro is a personal, named license that costs about the price of a lunch outing per month and comes with several other features. Business editions are great for organizations that need to manage the total software management lifecycle. MSP editions are for managed service providers and contain the same features as Pro (minus VirusTotal integration).</p>
<h3 id="im-a-licensed-customer-now-what">I&#39;m a licensed customer, now what?</h3>
<p>It works to slow the download rate when you provide the maximum download rate as an argument or as a set feature.</p>
<h3 id="how-does-it-work">How does it work?</h3>
<p>It sees a resource being downloaded and throttles the download to lower download speeds, ensuring it doesn&#39;t go over a set number of bits per second during the entire course of the download.</p>
<h3 id="package-throttle-didnt-slow-down-the-downloads-of-resources-in-my-package">Package Throttle didn&#39;t slow down the downloads of resources in my package</h3>
<p>Package Throttle only works for resources downloaded with built-in Chocolatey PowerShell functions. It will not be able to slow down downloads using WebClient, and it&#39;s an anti-pattern in packaging to use WebClient anyways.</p>
<h3 id="how-do-i-turn-this-feature-on">How do I turn this feature on?</h3>
<ul>
<li>Globally - <code>choco config set maximumDownloadRateBitsPerSecond &lt;value&gt;</code></li>
<li>Per command - use the option <code>--max-download-bits-per-second=&quot;'&lt;value&gt;'&quot;</code> with install/upgrade commands.</li>
</ul>
<h3 id="how-do-i-turn-this-feature-off">How do I turn this feature off?</h3>
<ul>
<li>Globally - <code>choco config unset maximumDownloadRateBitsPerSecond</code></li>
<li>Per command - don&#39;t specify the <code>--max-download-bits-per-second</code> option (and don&#39;t have the config set) or <code>--max-download-bits-per-second=&quot;'0'&quot;</code> if you want to temporarily disable it but keep the config setting.</li>
</ul>
</article>
