@{
  ViewBag.Title = "FeaturesChocolateyCentralManagement";
}

<article>
<h1 id="chocolatey-central-management-ccm-business-editions-only">Chocolatey Central Management (CCM) (Business Editions Only)</h1>
<!-- TOC depthTo:5 -->
<ul>
<li><a href="#usage">Usage</a></li>
<li><a href="#requirements">Requirements</a></li>
<li><a href="#installation-source">Installation Source</a></li>
<li><a href="#setup">Setup</a>
<ul>
<li><a href="#pre-requisites">Pre-Requisites</a></li>
<li><a href="#fqdn-usage">FQDN Usage</a></li>
<li><a href="#install-ccm-components">Install CCM Components</a>
<ul>
<li><a href="#installing-chocolatey-management-database">Installing chocolatey-management-database</a>
<ul>
<li><a href="#package-parameters">Package Parameters</a></li>
<li><a href="#example">Example</a></li>
<li><a href="#verify-installation">Verify Installation</a></li>
</ul></li>
<li><a href="#installing-chocolatey-management-service">Installing chocolatey-management-service</a>
<ul>
<li><a href="#package-parameters-1">Package Parameters</a></li>
<li><a href="#example-1">Example</a></li>
<li><a href="#verify-installation-1">Verify Installation</a></li>
</ul></li>
<li><a href="#installing-chocolatey-management-web">Installing chocolatey-management-web</a>
<ul>
<li><a href="#package-parameters-2">Package Parameters</a></li>
<li><a href="#example-2">Example</a></li>
<li><a href="#verify-installation-2">Verify Installation</a></li>
</ul></li>
<li><a href="#complete-installation-script">Complete Installation Script</a></li>
</ul></li>
</ul></li>
<li><a href="#chocolatey-configuration-for-ccm">Chocolatey Configuration for CCM</a>
<ul>
<li><a href="#centralmanagementreportpackagestimerintervalinseconds">centralManagementReportPackagesTimerIntervalInSeconds</a></li>
<li><a href="#centralmanagementserviceurl">centralManagementServiceUrl</a></li>
<li><a href="#centralmanagementreceivetimeoutinseconds">centralManagementReceiveTimeoutInSeconds</a></li>
<li><a href="#centralmanagementsendtimeoutinseconds">centralManagementSendTimeoutInSeconds</a></li>
<li><a href="#centralmanagementcertificatevalidationmode">centralManagementCertificateValidationMode</a></li>
</ul></li>
<li><a href="#chocolatey-clients">Chocolatey Clients</a></li>
<li><a href="#see-it-in-action">See It In Action</a></li>
<li><a href="#faq">FAQ</a>
<ul>
<li><a href="#will-this-become-available-for-lower-editions-of-chocolatey">Will this become available for lower editions of Chocolatey?</a></li>
<li><a href="#whats-the-minimum-version-of-the-chocolatey-packages-i-need-to-use-ccm">What&#39;s the minimum version of the Chocolatey packages I need to use CCM?</a></li>
<li><a href="#how-can-i-add-sql-server-permissions-through-powershell">How can I add SQL Server Permissions through PowerShell</a></li>
<li><a href="#how-can-i-view-what-ssl-registrations-have-been-made-by-the-installation-of-chocolatey-management-service">How can I view what SSL registrations have been made by the installation of chocolatey-management-service</a></li>
<li><a href="#how-can-i-remove-a-netsh-binding-that-has-been-created">How can I remove a netsh binding that has been created</a></li>
<li><a href="#can-i-manually-create-an-ssl-binding">Can I manually create an SSL binding?</a></li>
<li><a href="#where-can-i-find-all-the-log-files-for-chocolatey-central-management">Where can I find all the log files for Chocolatey Central Management</a>
<ul>
<li><a href="#website">Website</a></li>
<li><a href="#chocolatey-managment-service">Chocolatey Managment Service</a></li>
<li><a href="#chocolatey-agent-service">Chocolatey Agent Service</a></li>
</ul></li>
<li><a href="#how-can-i-increase-the-level-of-logging-for-chocolatey-central-management">How can I increase the level of logging for Chocolatey Central Management</a></li>
<li><a href="#can-i-install-the-chocolatey-central-management-web-site-under-a-virtual-directory-in-iis">Can I install the Chocolatey Central Management Web Site under a Virtual Directory in IIS?</a></li>
</ul></li>
<li><a href="#common-errors-and-resolutions">Common Errors and Resolutions</a>
<ul>
<li><a href="#the-specified-path-file-name-or-both-are-too-long">The specified path, file name, or both are too long</a></li>
<li><a href="#chocolatey-agent-service-is-unable-to-communicate-with-chocolatey-central-management-service">Chocolatey Agent Service is unable to communicate with Chocolatey Central Management Service</a></li>
<li><a href="#http-error-when-trying-to-access-chocolatey-central-management-website">HTTP Error when trying to access Chocolatey Central Management Website</a></li>
<li><a href="#a-parameter-cannot-be-found-that-matches-parameter-name-keyusage">A parameter cannot be found that matches parameter name KeyUsage</a></li>
<li><a href="#chocolatey-central-management-database-package-installs-without-error-but-chocolateymanagement-database-is-not-created">Chocolatey Central Management database package installs without error, but ChocolateyManagement database is not created</a></li>
<li><a href="#the-term-install-chocolateyappsettingsjsonfile-is-not-recognized-as-the-name-of-a-cmdlet-function-script-file-or-operable-program">The term &#39;Install-ChocolateyAppSettingsJsonFile&#39; is not recognized as the name of a cmdlet, function, script file, or operable program.</a></li>
<li><a href="#cannot-process-command-because-of-one-or-more-missing-mandatory-parameters-filepath">Cannot process command because of one or more missing mandatory parameters: FilePath</a></li>
<li><a href="#emails-sent-from-ccm-to-users-has-links-that-contains-localhost-rather-than-actual-ccm-server-name">Emails sent from CCM to users has links that contains localhost, rather than actual CCM Server name</a></li>
</ul></li>
</ul>
<!-- /TOC -->
<h2 id="usage">Usage</h2>
<p>Chocolatey Central Management (CCM) works in conjunction with <a href="https://chocolatey.org/docs/features-agent-service">Chocolatey Agent</a> to bring full details of all Chocolatey controlled machines in your environment into one location, which is then accessible by the CCM Website. Chocolatey Agent will regularly report information about what is installed on each machine, and whether any of that software is outdated, based on packages in available sources.</p>
<h2 id="requirements">Requirements</h2>
<ul>
<li>Chocolatey (<code>chocolatey</code> package) v0.10.14+</li>
<li>Chocolatey for Business (C4B) Edition</li>
<li>Chocolatey Licensed Extension (<code>chocolatey.extension</code> package) v2.0.0+</li>
<li>Chocolatey Agent (<code>chocolatey-agent</code> package) v0.9.0+</li>
<li>CCM Database (<code>chocolatey-management-database</code> package) v0.1.0+
<ul>
<li>This deploys the CCM database schema to the specified SQL Server instance</li>
</ul></li>
<li>CCM Service (<code>chocolatey-management-service</code> package) v0.1.0+
<ul>
<li>This installs the CCM Service, which the Chocolatey Agent will communicate with.</li>
</ul></li>
<li>CCM Website (<code>chocolatey-management-web</code> package) v0.1.0+
<ul>
<li>This is the CCM front end website that is the main user interface of the application</li>
</ul></li>
</ul>
<h2 id="installation-source">Installation Source</h2>
<p>All the packages required to install CCM into your environment are located on the <code>chocolatey.licensed</code> feed. This is the same place that you would install <a href="https://chocolatey.org/docs/features-agent-service">Chocolatey Agent</a> and the <a href="https://chocolatey.org/docs/installation-licensed">Chocolatey Extension</a> from.</p>
<p>The <code>chocolatey.licensed</code> source is automatically added to your Chocolatey instance when you install the Chocolatey Extension, however, as per the recommended installation best practices, this source is typically <a href="https://chocolatey.org/docs/installation-licensed#installing-upgrading-in-secure-environments-without-internet-access">disabled in an organisational context</a>. As such, it may be necessary to first download the required packages from the licensed source, and place them into your own internal repository.</p>
<h2 id="setup">Setup</h2>
<p>While it is envisioned that CCM will be installed across multiple servers, it is certainly possible to run CCM on a single server.</p>
<p>Currently, the CCM packages do not provision the SQL Server Database Permissions that are required for the CCM components to function. It is assumed that the necessary permissions have already been provided (see the <a href="#how-can-i-add-sql-server-permissions-through-powershell">FAQ</a> for one method of doing it). By default, two users will require read/write permissions to the CCM Database:</p>
<ul>
<li><code>ChocolateyLocalAdmin</code> - which, by default, runs the CCM Service</li>
<li><code>IIS APPPOOL\ChocolateyCentralManagment</code> - which, by default, runs the CCM IIS Application Pool</li>
</ul>
<p><strong>NOTE:</strong> If either of these users are changed during the installation of these components, the database permissions will need to be updated to reflect this.</p>
<p>Or, the required username/password for connecting to the CCM database are added as part of the connection string that is passed into the CCM packages during installation.</p>
<h3 id="pre-requisites">Pre-Requisites</h3>
<p>In order to install CCM, it is assumed that the following applications/software are installed:</p>
<ul>
<li>At least .Net Framework 4.6.1 on all machines</li>
<li>IIS on the machine where the <code>chocolatey-management-web</code> package will be installed</li>
<li>SQL Server on the machine where the <code>chocolatey-management-database</code> package will be installed</li>
</ul>
<p>IIS can be installed using the following commands:</p>
<pre><code class="powershell">choco install IIS-WebServer --source windowsfeatures
choco install IIS-ApplicationInit --source windowsfeatures</code></pre>
<p>We will not provide specific instruction on installing SQL Server. Any database platform that supports Entity Framework (EF) Core is supported, and as such there are too many scenarios to cover in this document.</p>
<p>For a list of Database products that support EF Core you can view the Microsoft Docs page <a href="https://docs.microsoft.com/en-us/ef/core/providers/#current-providers">here</a></p>
<h3 id="fqdn-usage">FQDN Usage</h3>
<p>When installing the CCM Service, the default is to use the Fully Qualified Domain Name (FQDN) of the machine that it is being installed on. As a result, there is an expectation that the certificate (either the self signed certificate that is created during installation, or the existing certificate which is configured with the <a href="#package-parameters-1">CertifcateThumbprint</a> parameter) that is used to secure the transport layer of this service, also uses the same FQDN.</p>
<p>If this is not the case, it will be necessary to provide the information to the package about the actual name for the machine that is being used. When using a self signed certificate, this can be specified using the <code>CertifcateDnsName</code>, and when using an existing certificate, no additional parameters are required. In both cases, it will be necessary to also set the <code>centralManagementServiceUrl</code> <a href="#centralmanagementserviceurl">configuration parameter</a>. This can be done using the following command:</p>
<pre><code class="powershell">choco config set CentralManagementServiceUrl https://&lt;accessible_name_of_machine&gt;:24020/ChocolateyManagementService</code></pre>
<h3 id="install-ccm-components">Install CCM Components</h3>
<p>The CCM Components should be installed in the following order:</p>
<ol>
<li><a href="#installing-chocolatey-management-database">chocolatey-management-database</a></li>
<li><a href="#installing-chocolatey-management-service">chocolatey-management-service</a></li>
<li><a href="#installing-chocolatey-management-web">chocolatey-management-web</a></li>
</ol>
<h4 id="installing-chocolatey-management-database">Installing chocolatey-management-database</h4>
<p><strong>NOTE:</strong> It is likely that additional package parameters are required which are specific to your environment. Please carefully review the available <a href="#package-parameters">package parameters</a> before proceeding.</p>
<p>In order to successfully install the chocolatey-management-database package onto a machine (using all default values), the following steps are required:</p>
<pre><code class="powershell">choco upgrade chocolatey --version 0.10.15
choco upgrade chocolatey.extension --version 2.0.2
choco upgrade chocolatey-agent --version 0.9.1
choco upgrade chocolatey-management-database --version 0.1.0</code></pre>
<h5 id="package-parameters">Package Parameters</h5>
<p>This package creates the CCM Database with the following defaults:</p>
<ul>
<li>Database Connection String: <strong>Server=&lt;LOCAL COMPUTER FQDN NAME&gt;; Database=ChocolateyManagement; Trusted_Connection=True;</strong></li>
</ul>
<p>You can override the package defaults using the following parameters:</p>
<ul>
<li><code>/ConnectionString</code>
<ul>
<li>The SQL Server database connection string to be used to connect to the CCM database.</li>
<li><strong>NOTE:</strong> Default Value: <strong>Server=&lt;LOCAL COMPUTER FQDN NAME&gt;; Database=ChocolateyManagement; Trusted_Connection=True;</strong></li>
</ul></li>
<li><code>/Database</code>
<ul>
<li>Name of the SQL Server database to use. Note that if you do not also pass <code>/ConnectionString</code>, it will be generated using this parameter value and <code>/SqlServerInstance</code> (using defaults for missing parameters);</li>
<li><strong>NOTE:</strong> Default Value: <strong>ChocolateyManagement</strong></li>
</ul></li>
<li><code>/SqlServerInstance</code>
<ul>
<li>Instance name of the SQL Server database to connect to. Note that if you do not also pass <code>/ConnectionString</code>, it will be generated using this parameter value and <code>/Database</code> (using defaults for missing parameters);</li>
<li><strong>NOTE:</strong> Default Value: <strong>&lt;LOCAL COMPUTER FQDN NAME&gt;</strong></li>
</ul></li>
</ul>
<h5 id="example">Example</h5>
<p>Let&#39;s assume that you want to install the CCM Database onto a machine that will access a SQL Server instance called <code>SQLSERVERCCM</code>, on a domain machine called <code>MACHINE1</code> which is part of the domain <code>ccmtest</code>, using a specific user name (ccmservice) and password combination. In this scenario, the installation command would look like the following:</p>
<pre><code class="powershell">choco upgrade chocolatey-management-database --package-parameters-sensitive=&quot;&#39;/ConnectionString=&quot;&quot;Server=MACHINE1\SQLSERVERCCM;Database=ChocolateyManagement;User ID=ccmtest\ccmservice;Password=Password01;&quot;&quot;&#39;&quot;</code></pre>
<p><strong>NOTE:</strong> This command makes use of <code>package-parameters-sensitive</code> to ensure that the sensitive information is not leaked out into log files.</p>
<h5 id="verify-installation">Verify Installation</h5>
<p>The purpose of the <code>chocolatey-management-database</code> package is to create and deploy the schema for the database that is used by the CCM Service and Website. This can be verified by using something like SQL Server Managmeent Studio to connect to the SQL Server Instance and:</p>
<ul>
<li>check that a database (by default named <code>ChocolateyManagement</code>) has been created</li>
<li>that a set of tables have been created within this database</li>
</ul>
<h4 id="installing-chocolatey-management-service">Installing chocolatey-management-service</h4>
<p><strong>NOTE:</strong> It is likely that additional package parameters are required which are specific to your environment. Please carefully review the available <a href="#package-parameters-1">package parameters</a> before proceeding.</p>
<p>In order to successfully install the chocolatey-management-service package onto a machine (using all default values), the following steps are required:</p>
<pre><code class="powershell">choco upgrade chocolatey --version 0.10.15
choco upgrade chocolatey.extension --version 2.0.2
choco upgrade chocolatey-agent --version 0.9.1
choco upgrade chocolatey-management-service --version 0.1.0</code></pre>
<h5 id="package-parameters-1">Package Parameters</h5>
<p>This package creates the CCM Service with the following defaults:</p>
<ul>
<li>Service Name: <strong>chocolatey-management-service</strong></li>
<li>Service Displayname: <strong>Chocolatey Management Service</strong></li>
<li>Description: <strong>Chocolatey Management Service is a background service for Chocolatey.</strong></li>
<li>Service Startup: <strong>Automatic</strong></li>
<li>Service Username: <strong>ChocolateyLocalAdmin</strong></li>
<li>Database Connection String: <strong>Server=&lt;LOCAL COMPUTER FQDN NAME&gt;; Database=ChocolateyManagement; Trusted_Connection=True;</strong></li>
<li>Service Listening Port: <strong>24020</strong></li>
<li>Self-Signed Certificate Domain Name: <strong>DNS name of the local computer</strong></li>
</ul>
<p>You can override the package defaults using the following parameters:</p>
<ul>
<li><code>/Username</code>
<ul>
<li>Username to install the management service as;</li>
<li><strong>NOTE:</strong> Default Value: <strong>ChocolateyLocalAdmin</strong></li>
</ul></li>
<li><code>/Password</code>
<ul>
<li>Password to use for the management service account;</li>
<li><strong>NOTE:</strong> Automatically generated secure password</li>
</ul></li>
<li><code>/EnterPassword</code>
<ul>
<li>This will prompt you to enter the password, during install, for the username (provided via the <code>/Username</code> parameter) the management service will run under;</li>
<li><strong>NOTE:</strong> Default Value: Not provided</li>
</ul></li>
<li><code>/ConnectionString</code>
<ul>
<li>The SQL Server database connection string to be used to connect to the CCM database;</li>
<li><strong>NOTE:</strong> Default Value: <strong>Server=&lt;LOCAL COMPUTER FQDN NAME&gt;; Database=ChocolateyManagement; Trusted_Connection=True;</strong></li>
</ul></li>
<li><code>/Database</code>
<ul>
<li>Name of the SQL Server database to use. Note that if you do not also pass <code>/ConnectionString</code>, it will be generated using this parameter value and <code>/SqlServerInstance</code> (using defaults for missing parameters);</li>
<li><strong>NOTE:</strong> Default Value: <strong>ChocolateyManagement</strong></li>
</ul></li>
<li><code>/SqlServerInstance</code>
<ul>
<li>Instance name of the SQL Server database to connect to. Note that if you do not also pass <code>/ConnectionString</code>, it will be generated using this parameter value and <code>/Database</code> (using defaults for missing parameters);</li>
<li><strong>NOTE:</strong> Default Value: <strong>&lt;LOCAL COMPUTER FQDN NAME&gt;</strong></li>
</ul></li>
<li><code>/PortNumber</code>
<ul>
<li>The port the Chocolatey Management Service will listen on. This will automatically create a rule to open the firewall on this port;</li>
<li><strong>NOTE:</strong> Default Value <strong>24020</strong></li>
</ul></li>
<li><code>/CertificateDnsName</code>
<ul>
<li>The DNS name of the self-signed certificate that is generated if no existing certificate thumbprint is provided using the <code>/CertificateThumbprint</code> parameter is provided;</li>
<li><strong>NOTE:</strong> Default Value: <strong>&lt;LOCAL COMPUTER FQDN NAME&gt;</strong></li>
</ul></li>
<li><code>/CertificateThumbprint</code>
<ul>
<li>By default the CCM Service uses a self-signed SSL certificate to secure communication with the clients. Use this parameter to provide the thumbprint of a certificate to use instead. <strong>Note that if you use this the certificate must already be in the LocalMachine\TrustedPeople Certificate Store on the Chocolatey Management Service computer</strong>;</li>
<li><strong>NOTE:</strong> Default Value: Not applicable as if not provided, a new Self Signed Certificate will be generated</li>
</ul></li>
<li><code>/NoRestartService</code>
<ul>
<li>Explicit request not to restart the service</li>
<li><strong>NOTE:</strong> Default Value: Not provided</li>
</ul></li>
<li><code>/DoNotReinstallService</code>
<ul>
<li>Explicit request not to reinstall the service</li>
<li><strong>NOTE:</strong> Default Value: Not provided</li>
</ul></li>
</ul>
<h5 id="example-1">Example</h5>
<p>Let&#39;s assume that you want to install the CCM Service with a specific connection string in order to connect to the CCM Database, as well as configure the CCM Service to use a specific user name and password, as well as alter the Port number that the CCM Service will be hosted on. The necessary installation command would look like the following:</p>
<pre><code class="powershell">choco upgrade chocolatey-management-service --package-parameters-sensitive=&quot;&#39;/PortNumber=24021 /Username=ccmtest\ccmservice /Password=Password01 /ConnectionString=&quot;&quot;Server=MACHINE1\SQLSERVERCCM;Database=ChocolateyManagement;User ID=ccmtest\ccmservice;Password=Password01;&quot;&quot;&#39;&quot;</code></pre>
<p><strong>NOTE:</strong> This command makes use of <code>package-parameters-sensitive</code> to ensure that the sensitive information is not leaked out into log files.</p>
<h5 id="verify-installation-1">Verify Installation</h5>
<p>The <code>chocolatey-management-service</code> is responsible for making a number of changes to your system. A successful installation of this package can be verified by:</p>
<ul>
<li>Open the services snap-in (services.msc) and check for the presence of the <code>Chocolatey Management Service</code> which should be in the started state</li>
<li>Open the Service log file located at <code>$env:ChocolateyInstall\lib\chocolatey-management-service\tools\service\logs\chocolatey.service.host.log</code> and verify that there are no recently reported errors</li>
</ul>
<h4 id="installing-chocolatey-management-web">Installing chocolatey-management-web</h4>
<p><strong>NOTE:</strong> It is likely that additional package parameters are required which are specific to your environment. Please carefully review the available <a href="#package-parameters-2">package parameters</a> before proceeding.</p>
<p>In order to successfully install the chocolatey-management-web package onto a machine (using all default values), the following steps are required:</p>
<pre><code class="powershell">choco upgrade aspnetcore-runtimepackagestore
choco upgrade dotnetcore-windowshosting
choco upgrade chocolatey --version 0.10.15
choco upgrade chocolatey.extension --version 2.0.2
choco upgrade chocolatey-agent --version 0.9.1
choco upgrade chocolatey-management-web --version 0.1.0</code></pre>
<p><strong>NOTE:</strong> Once installed, when you access the CCM Website you will be prompted to provide a username and password to access the site. By default, the username is <code>ccmadmin</code> and the password is <code>123qwe</code>. After you input this, you will be prompted to change the password.</p>
<h5 id="package-parameters-2">Package Parameters</h5>
<p>This package creates the CCM Website and Application Pool with the following defaults:</p>
<ul>
<li>IIS Web Application Pool: <strong>ChocolateyCentralManagement</strong>
<ul>
<li>enable32BitAppOnWin64: <strong>True</strong></li>
<li>managedPipelineMode: <strong>Integrated</strong></li>
<li>managedRuntimeVersion: &lt;blank&gt;</li>
<li>startMode: <strong>AlwaysRunning</strong></li>
<li>processModel.idleTimeout: <strong>0</strong></li>
<li>recycling.periodicRestart.schedule: <strong>Disabled</strong></li>
<li>recycling.periodicRestart.time: <strong>0</strong></li>
</ul></li>
<li>Website Name: <strong>ChocolateyCentralManagement</strong>
<ul>
<li>PortBinding: <strong>80</strong></li>
<li>applicationDefaults.preloadEnabled: <strong>True</strong></li>
</ul></li>
<li>SQL Server Instance: <strong>&lt;LOCAL COMPUTER FQDN NAME&gt;</strong></li>
<li>Connection String: <strong>Server=&lt;LOCAL COMPUTER FQDN NAME&gt;; Database=ChocolateyManagement; Trusted_Connection=True;</strong></li>
</ul>
<p>You can override the package defaults using the following parameters:</p>
<ul>
<li><code>/ConnectionString</code>
<ul>
<li>The SQL Server database connection string to be used to connect to the CCM Database;</li>
<li><strong>NOTE:</strong> Default Value: <strong>Server=&lt;LOCAL COMPUTER FQDN NAME&gt;; Database=ChocolateyManagement; Trusted_Connection=True;</strong></li>
</ul></li>
<li><code>/Database</code>
<ul>
<li>Name of the SQL Server database to use. Note that if you do not also pass <code>/ConnectionString</code>, it will be generated using this parameter value and <code>/SqlServerInstance</code> (using defaults for missing parameters);</li>
<li><strong>NOTE:</strong> Default Value: <strong>ChocolateyManagement</strong></li>
</ul></li>
<li><code>/SqlServerInstance</code>
<ul>
<li>Instance name of the SQL Server database to connect to. Note that if you do not also pass <code>/ConnectionString</code>, it will be generated using this parameter value and <code>/Database</code> (using defaults for missing parameters);</li>
<li><strong>NOTE:</strong> Default Value: <strong>&lt;LOCAL COMPUTER FQDN NAME&gt;</strong></li>
</ul></li>
<li><code>/Username</code>
<ul>
<li>The username that the IIS WebApplicationPool will run under. If this is not provided the pool will run under the default account. Note that if you provide this you must also provide either the <code>/Password</code> or <code>/EnterPassword</code> parameter;</li>
<li><strong>NOTE:</strong> Default Value: <strong>IIS APPPOOL\ChocolateyCentralManagement</strong></li>
</ul></li>
<li><code>/Password</code>
<ul>
<li>The password for the username (provided via the <code>/Username</code> parameter) the IIS WebApplicationPool will run under;</li>
<li><strong>NOTE:</strong> Automatically generated secure password</li>
</ul></li>
<li><code>/EnterPassword</code>
<ul>
<li>This will prompt you to enter the password, during install, for the username (provided via the <code>/Username</code> parameter) the IIS WebApplicationPool will run under;</li>
<li><strong>NOTE:</strong> Default Value: Not provided</li>
</ul></li>
</ul>
<h5 id="example-2">Example</h5>
<p>Let&#39;s assume that you want to install the CCM Website with a specific connection string in order to connect to the CCM Database, as well as configure the IIS Application Pool to use a specific user name and password. The<br />
necessary installation command would look like the following:</p>
<pre><code class="powershell">choco upgrade chocolatey-management-web --package-parameters-sensitive=&quot;&#39;/ConnectionString=&quot;&quot;Server=MACHINE1\SQLSERVERCCM;Database=ChocolateyManagement;User ID=ccmtest\ccmservice;Password=Password01;&quot;&quot; /Username=ccmwebserver\ccmserviceuser /Password=Password01&#39;&quot;`</code></pre>
<p><strong>NOTE:</strong> This command makes use of <code>package-parameters-sensitive</code> to ensure that the sensitive information is not leaked out into log files.</p>
<h5 id="verify-installation-2">Verify Installation</h5>
<p>The <code>chocolatey-management-web</code> package is responsible for creating and deploying the CCM Website within IIS. A successful installation of this package can be verified by:</p>
<ul>
<li>Opening an internet browser on the machine to the following address <code>http://localhost</code> which should result in the login page for CCM being displayed</li>
<li>It should be possible to login to the site using the default credentials mentioned in the installation steps</li>
<li>Open the Site log file located at <code>c:\tools\chocolatey-management-web\App_Data\Logs\Logs.txt</code> and verify that there are no recently reported errors</li>
</ul>
<h4 id="complete-installation-script">Complete Installation Script</h4>
<p>The following is a complete installation script that can be used as an example of how to install all necessary CCM components and configuration on a single machine, using all the default values. To use values other than the default, see the relevant parameters section for the <a href="#package-parameters">chocolatey-management-database</a>, <a href="#package-parameters-1">chocolatey-management-service</a> and <a href="#package-parameters-2">chocolatey-management-web</a> packages. And refer to the <a href="#chocolatey-configuration-for-ccm">Chocolatey Configuration</a> for further information about global settings for CCM.</p>
<pre><code class="powershell"># Find FDQN for current machine
$hostName = [System.Net.Dns]::GetHostName()
$domainName = [System.Net.NetworkInformation.IPGlobalProperties]::GetIPGlobalProperties().DomainName

if(-Not $hostName.endswith($domainName)) {
  $hostName += &quot;.&quot; + $domainName
}

# Pre-requisites
# These three packages will be required on any machine that is going to be reporting into CCM
choco upgrade chocolatey -y --version 0.10.15
choco upgrade chocolatey.extension -y --version 2.0.2
choco upgrade chocolatey-agent -y --version 0.9.1

# CCM Database
# This package is only required on the machine that is going to host the CCM Database
choco upgrade chocolatey-management-database -y --version 0.1.0

# CCM Service
# This package is only required on the machine that is going to host the CCM Service
choco upgrade chocolatey-management-service -y --version 0.1.0

# CCM Website
# These packages are only required on the machine that is going to host the CCM Web Site
choco upgrade aspnetcore-runtimepackagestore -y
choco upgrade dotnetcore-windowshosting -y
choco upgrade chocolatey-management-web -y --version 0.1.0

# CCM Configuration
# These steps are required on any machine that is going to be reporting into CCM
choco config set --name=&quot;&#39;centralManagementReportPackagesTimerIntervalInSeconds&#39;&quot; --value=&quot;&#39;1800&#39;&quot;
choco config set --name=&quot;&#39;centralManagementServiceUrl&#39;&quot; --value=&quot;&#39;https://$($hostname):24020/ChocolateyManagementService&#39;&quot;
choco config set --name=&quot;&#39;centralManagementReceiveTimeoutInSeconds&#39;&quot; --value=&quot;&#39;60&#39;&quot;
choco config set --name=&quot;&#39;centralManagementSendTimeoutInSeconds&#39;&quot; --value=&quot;&#39;60&#39;&quot;
choco config set --name=&quot;&#39;centralManagementCertificateValidationMode&#39;&quot; --value=&quot;&#39;PeerOrChainTrust&#39;&quot;
choco feature enable --name=&quot;&#39;useChocolateyCentralManagement&#39;&quot;</code></pre>
<blockquote>
<p>Best practices in scripts are noted here:</p>
<ul>
<li>Use <code>upgrade</code> instead of <code>install</code> - upgrade is more making the script reusable when newer versions are available.</li>
<li>Always use <code>-y</code> to ensure nothing stops and prompts for more than 30 seconds.</li>
<li>When using options prefer a longer name (<code>--name</code> versus the short <code>-n</code>) to make the scripts more self-documenting</li>
<li>When using options that have a value passed, add an <code>=</code> between and surround the value with <code>&quot;''&quot;</code> (<code>--name=&quot;'value'&quot;</code>). This ensures that the argument is not split between different versions/editions of Chocolatey. This also ensures that values like <code>.</code> and <code>\\</code> are not escaped by PowerShell.</li>
</ul>
</blockquote>
<h2 id="chocolatey-configuration-for-ccm">Chocolatey Configuration for CCM</h2>
<p>The following configuration values, with their default values, are added into the chocolatey.config file after installing CCM and it&#39;s dependent packages.</p>
<h3 id="centralmanagementreportpackagestimerintervalinseconds">centralManagementReportPackagesTimerIntervalInSeconds</h3>
<p>This is the length of time, in seconds, that the Chocolatey Background Agent will wait between each attempt to report into CCM.</p>
<p><strong>Default Value:</strong> 1800</p>
<h3 id="centralmanagementserviceurl">centralManagementServiceUrl</h3>
<p>This is the URL that is used by the Chocolatey Background Agent to report into CCM, and also by the CCM Service to register the URL that it is listening for incoming reports on.</p>
<p><strong>Default Value:</strong> <em>blank</em></p>
<p><strong>NOTE:</strong> If left blank, the CCM Service will construct a URL based on the default Port number which is 24020, and the FQDN of the machine that the service is being executed on. However, Chocolatey Agent will not be able to report into CCM, if a value is not provided.</p>
<p><strong>NOTE:</strong> If the Chocolatey Background Agent is installed on the same machine that has the CCM Service installed, it can only report into that CCM Service.</p>
<h3 id="centralmanagementreceivetimeoutinseconds">centralManagementReceiveTimeoutInSeconds</h3>
<p>This is the length of time, in seconds, that a connection to CCM can remain inactive, during which no application messages are received, before it is dropped.</p>
<p><strong>Default Value:</strong> 30</p>
<h3 id="centralmanagementsendtimeoutinseconds">centralManagementSendTimeoutInSeconds</h3>
<p>This is the length of time, in seconds, that a write operation against CCM has to complete before the transport raises an exception.</p>
<p><strong>Default Value:</strong> 30</p>
<h3 id="centralmanagementcertificatevalidationmode">centralManagementCertificateValidationMode</h3>
<p>This captures the options for determining the validity of the CCM Service certificate obtained using SSL/TLS negotiation.</p>
<p><strong>Default Value:</strong> PeerOrChainTrust</p>
<p><strong>Valid Values:</strong> None, PeerTrust, ChainTrust, PeerOrChainTrust, Custom</p>
<h2 id="chocolatey-clients">Chocolatey Clients</h2>
<p>Once CCM has been set up and configured, each machine that you want to report into CCM will have to be enabled. This can be done by doing the following:</p>
<pre><code class="powershell">choco config set CentralManagementServiceUrl https://MACHINE1:24020/ChocolateyManagementService
choco feature enable --name=&quot;&#39;useChocolateyCentralManagement&#39;&quot;</code></pre>
<p>Here, the full URL, including the port number, to where the CCM service was installed to is being set, and then the <code>useChocolateyCentralManagement</code> feature is being enabled. In your environment you would replace <code>MACHINE1:24020</code> with the FQDN name of your server and the port being used.</p>
<p><strong>NOTE:</strong> By default, this feature is disabled, and will need to be turned on.</p>
<p><strong>NOTE:</strong> If not set, the CCM Service will construct a URL based on the default Port number which is 24020, and the FQDN of the machine that the service is being executed on. However, Chocolatey Agent will not be able to report into CCM, if a value is not provided.</p>
<p><a href="#chocolatey-configuration-for-chocolatey-central-management">Additional configuration</a> exists for CCM Service, which allows fine grained control of how Chocolatey Agent will report into CCM.</p>
<h2 id="see-it-in-action">See It In Action</h2>
<h2 id="faq">FAQ</h2>
<h3 id="will-this-become-available-for-lower-editions-of-chocolatey">Will this become available for lower editions of Chocolatey?</h3>
<p>CCM will only be available in Chocolatey for Business (C4B).</p>
<h3 id="whats-the-minimum-version-of-the-chocolatey-packages-i-need-to-use-ccm">What&#39;s the minimum version of the Chocolatey packages I need to use CCM?</h3>
<p>See <a href="#requirements">Requirements</a>.</p>
<h3 id="how-can-i-add-sql-server-permissions-through-powershell">How can I add SQL Server Permissions through PowerShell</h3>
<p>The following script is an example of how to add <code>db_owner</code> permissions to a SQL Server Database</p>
<p><strong>NOTE:</strong> You will need to change <code>MACHINE1\SQLSERVERCCM</code> and <code>ChocolateyManagement</code> to the actual name of the SQL Server Instance and Database being used, and this script will have to be run by someone who has the correct permissions to the SQL Server Instance. In addition, change the <code>$username</code> variable for each user that requires permission to the database.</p>
<pre><code class="powershell">$username = &#39;CCMSERVER\ChocolateyLocalAdmin&#39;
$database = &#39;ChocolateyManagement&#39;
$chocolateyLocalAdminQuery = &quot;
USE [master]
CREATE LOGIN [$username] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
USE [$database]
CREATE USER [$username] FOR LOGIN [$username]
USE [$database]
ALTER ROLE [db_owner] ADD MEMBER [$username]
&quot;

$Connection = New-Object System.Data.SQLClient.SQLConnection
$Connection.ConnectionString = &quot;server=&#39;MACHINE1\SQLSERVERCCM&#39;;database=&#39;master&#39;;trusted_connection=true;&quot;
$Connection.Open()
$Command = New-Object System.Data.SQLClient.SQLCommand
$Command.CommandText = $chocolateyLocalAdminQuery
$Command.Connection = $Connection
$Command.ExecuteNonQuery()
$Connection.Close()</code></pre>
<h3 id="how-can-i-view-what-ssl-registrations-have-been-made-by-the-installation-of-chocolatey-management-service">How can I view what SSL registrations have been made by the installation of chocolatey-management-service</h3>
<p>By default, the installation of the <code>chocolatey-management-service</code> package will register a single netsh binding between a self-signed certifcate (created at the point of installation) and port 24020. This can be verified using the following command:</p>
<pre><code class="powershell">netsh http show sslcert</code></pre>
<h3 id="how-can-i-remove-a-netsh-binding-that-has-been-created">How can I remove a netsh binding that has been created</h3>
<p>If you need to remove a netsh binding, you can do that using the following command:</p>
<pre><code class="powershell">netsh http delete sslcert ipport=0.0.0.0:&lt;port_number&gt;</code></pre>
<p><strong>NOTE:</strong> Here <code>&lt;port_number&gt;</code> should be replaced with the Port Number that has been registered</p>
<h3 id="can-i-manually-create-an-ssl-binding">Can I manually create an SSL binding?</h3>
<p>If required, it is possible to manually create a netsh binding. This is done using the following command:</p>
<pre><code class="powershell">netsh http add sslcert ipport=0.0.0.0:&lt;port_number&gt; certhash=&lt;certificate_thumbprint&gt; appid={&lt;random_guid&gt;}</code></pre>
<p><strong>NOTE:</strong> Here, <code>&lt;port_number&gt;</code> should be replaced with the Port Number to be used for the registration. <code>&lt;certifcate_thumbprint&gt;</code> should be replaced with the thumbprint for the certificate that is to be used for the registration. <code>&lt;random_guid&gt;</code> should be replaced with a random guid in the following format <code>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</code></p>
<h3 id="where-can-i-find-all-the-log-files-for-chocolatey-central-management">Where can I find all the log files for Chocolatey Central Management</h3>
<p>Due to the fact that Chocolatey Central Management is made up of a number of components, there are a few places that log files exist, and you may be asked for these when engaging with support.</p>
<h4 id="website">Website</h4>
<p>Log file is located at <code>C:\tools\chocolatey-management-web\App_Data\Logs\Logs.txt</code></p>
<h4 id="chocolatey-managment-service">Chocolatey Managment Service</h4>
<p>Log file is located at <code>C:\ProgramData\chocolatey\lib\chocolatey-management-service\tools\service\logs\chocolatey.service.host.log</code></p>
<h4 id="chocolatey-agent-service">Chocolatey Agent Service</h4>
<p>Log file is located at <code>C:\ProgramData\chocolatey\lib\chocolatey-agent\tools\service\logs\chocolatey-agent.log</code></p>
<h3 id="how-can-i-increase-the-level-of-logging-for-chocolatey-central-management">How can I increase the level of logging for Chocolatey Central Management</h3>
<p>This can be done by changing the level value, which should be currently INFO, to use DEBUG, as per the following:</p>
<pre><code class="nohighlight">&lt;root&gt;
  &lt;level value=&quot;DEBUG&quot; /&gt;
  &lt;appender-ref ref=&quot;ColoredConsoleAppender&quot; /&gt;
  &lt;appender-ref ref=&quot;RollingLogFileAppender&quot; /&gt;
&lt;/root&gt;</code></pre>
<p>In the following files:</p>
<ul>
<li>C:\ProgramData\chocolatey\lib\chocolatey.management.service\tools\service\chocolatey.console.service.host.exe.config</li>
<li>C:\ProgramData\chocolatey\lib\chocolatey-agent\tools\service\chocolatey-agent.exe.config</li>
</ul>
<h3 id="can-i-install-the-chocolatey-central-management-web-site-under-a-virtual-directory-in-iis">Can I install the Chocolatey Central Management Web Site under a Virtual Directory in IIS?</h3>
<p>Currently no. The Chocolatey Central Management Web Site expects to reside at the site level within IIS.</p>
<h2 id="common-errors-and-resolutions">Common Errors and Resolutions</h2>
<h3 id="the-specified-path-file-name-or-both-are-too-long">The specified path, file name, or both are too long</h3>
<p>This error can occur when installing the <code>chocolatey-management-web</code> package. Due to the nested folder structure contained within this package, when extracting to the default cache location, the path can become too long. This problem is known is occur in the 0.1.0-beta–20181009 release of this package, and it should be corrected in subsequent releases. As a workaround, adding the following parameters to the install command should allow the installation to complete successfully:</p>
<pre><code class="powershell">--cache-location=&quot;&#39;C:\Temp\choco&#39;&quot;</code></pre>
<h3 id="chocolatey-agent-service-is-unable-to-communicate-with-chocolatey-central-management-service">Chocolatey Agent Service is unable to communicate with Chocolatey Central Management Service</h3>
<p>There is a known issue with the beta release of Chocolatey Central Management where an inconsistent Port Number is used between these two services. One used 24020 and the other used 24040. The correct default Port Number is 24020, and this is used in the 0.1.0 release of Chocolatey Central Management. If required, the Port Number can be explicitly set during the installation of the Chocolatey Central Management packages using the following option when installing <code>chocolatey-management-service</code>:</p>
<pre><code class="powershell">--params=&quot;&#39;/PortNumber=24020&#39;&quot;</code></pre>
<h3 id="http-error-when-trying-to-access-chocolatey-central-management-website">HTTP Error when trying to access Chocolatey Central Management Website</h3>
<p>When you try to access the Chocolatey Central Management Website (by default, this is hosted on <a href="http://localhost" class="uri">http://localhost</a>), errors messages similar to the following may be returned:</p>
<p><code>HTTP Error 500.19 - Internal Server Error</code></p>
<p>These errors happen very early in the application execution, and as a result, are not logged to the standard log location. It is possible to increase the logging that is performed by the ASP.NET Worker Process, so that additional information about the error can be found. Follow these steps to enable that additional logging:</p>
<ol>
<li>In Windows Explorer, navigate to the <code>c:/tools/chocolatey-management-web</code> folder</li>
<li>Find the <code>web.config</code> file and open this in a text editor</li>
<li>Locate the <code>stdoutLogEnabled</code> attribute, which will be set to false by default</li>
<li>Change this to true, and save the file</li>
<li>Check to see if there is a running process called <code>ChocolateySoftware.ChocolateyManagement.Web.Mvc.exe</code>. If there is, stop it.</li>
<li>Attempt to access the website again. An additional log file will be created in the <code>App_Data\Logs\stdout</code> folder</li>
<li>Review this log for additional error information</li>
<li>Ensure that you set the <code>stdoutLogEnabled</code> attribute back to false</li>
</ol>
<p>In these situations, we have found that incorrect database connection strings are typically the root cause of the problem.</p>
<h3 id="a-parameter-cannot-be-found-that-matches-parameter-name-keyusage">A parameter cannot be found that matches parameter name KeyUsage</h3>
<p>This is known issue with the beta release of Chocolatey Central Management regarding the creation of a Self Signed Certificate. You may see the error:</p>
<p><code>A parameter cannot be found that matches parameter name KeyUsage</code></p>
<p>This happens when installing Chocolatey Central Management on a machine that has PowerShell 4 or earlier. This is corrected in the 0.1.0 release of Chocolatey Central Management.</p>
<p>To work around this issue, you can use the following script to manually create a Self Signed Certificate, which will then be used to continue the installation:</p>
<pre><code class="powershell">$hostName = [System.Net.Dns]::GetHostName()
$domainName = [System.Net.NetworkInformation.IPGlobalProperties]::GetIPGlobalProperties().DomainName

if(-Not $hostName.endswith($domainName)) {
  $hostName += &quot;.&quot; + $domainName
}

$certificateDnsName = $hostName

$newCert = New-SelfSignedCertificate -CertStoreLocation cert:\LocalMachine\My -DnsName $certificateDnsName

# move the certificate to &#39;TrustedPeople&#39;
$certPath = Get-ChildItem -Path &#39;Cert:\\LocalMachine\\My&#39; | Where-Object subject -like &quot;*$certificateDnsName&quot;
$null = Move-Item -Path $certPath.PsPath -Destination &#39;Cert:\\LocalMachine\\TrustedPeople&#39;</code></pre>
<h3 id="chocolatey-central-management-database-package-installs-without-error-but-chocolateymanagement-database-is-not-created">Chocolatey Central Management database package installs without error, but ChocolateyManagement database is not created</h3>
<p>In the beta version of the Chocolatey Central Management database package, if there was an error during the creation of the database, no exit code was used. As a result, the package could state that it was installed correctly, but the database would not have been created. This has been corrected in the 0.1.0 release of Chocolatey Central Management.</p>
<p>When this occurs, the problem is typically the connection string being used to connect to the database. The advice is to verify that the connecting string is valid, and attempt the installation again.</p>
<h3 id="the-term-install-chocolateyappsettingsjsonfile-is-not-recognized-as-the-name-of-a-cmdlet-function-script-file-or-operable-program">The term &#39;Install-ChocolateyAppSettingsJsonFile&#39; is not recognized as the name of a cmdlet, function, script file, or operable program.</h3>
<p>In the beta version of Chocolatey.Extension, there was a Cmdlet named Install-ChocolateyAppSettingsJsonFile and this was used in the 0.1.0-beta–20181009 release of the Chocolatey Central Management components. In the final released version of the Chocolatey.Extension, this was renamed to Install-AppSettingsJsonFile.</p>
<p>As a result, the Chocolatey Central Management beta no longer works with the released version of Chocolatey.Extension. This will be corrected once the next release of the Chocoaltey Central Management components is completed.</p>
<h3 id="cannot-process-command-because-of-one-or-more-missing-mandatory-parameters-filepath">Cannot process command because of one or more missing mandatory parameters: FilePath</h3>
<p>During the creation of Chocolatey Central Management, some additional PowerShell cmdlets were created, and these are installed as part of the Chocolatey Extension package. These cmdlets went through a number of iterations, and as a result, different combinations of Chocolatey Central Management packages were incompatible with the Chocolatey Extension package, resulting in the error:</p>
<p><code>Cannot process command becuase of one or more missing mandattory parameters: FilePath</code></p>
<p>The guidance in this case is either to pin to the specific version of the Chocolatey Extension package required by the version of Chocolatey Central Management beind used, or, update to the latest versions of all packages, where the situation should be addressed.</p>
<h3 id="emails-sent-from-ccm-to-users-has-links-that-contains-localhost-rather-than-actual-ccm-server-name">Emails sent from CCM to users has links that contains localhost, rather than actual CCM Server name</h3>
<p>There is a requirement within the CCM site to send emails to end users of the application. For example, when registering a new user, or resetting a password. When this happens, the email should contain a link back to the CCM Site, which the user can click on to bring up the site in their browser. However, emails sent from CCM contain links that contain localhost in the address, which means when clicked on, they fail to open correctly. This can be fixed by making a change to the <code>appsettings.json</code> file which is located in the <code>c:\tools\chocolatey-management-web</code> folder.</p>
<p>Open this file in a text editor, and add the following entry:</p>
<pre><code class="json">    &quot;App&quot;: {
        &quot;WebSiteRootAddress&quot;: &quot;&lt;URL_to_CCM&gt;&quot;
    }</code></pre>
<p>NOTE: When adding this entry, be sure to include a <code>,</code> either before or after the entry, depending on where you add it in the file. i.e.&nbsp; the end result needs to be a properly formatted JSON document.</p>
<p>where <code>URL_to_CCM</code> should be the accessible URL to access the CCM Website. This will typically be the FQDN of the server that is hosting the CCM Web Site, but it will depend on your environments configuration.</p>
<p>Once this change has been added, save the file, and then run the following to ensure that the process running the CCM Website is stopped:</p>
<pre><code class="powershell">Get-Process -Name &quot;ChocolateySoftware.ChocolateyManagement.Web.Mvc&quot; -ErrorAction SilentlyContinue | Stop-Process -Force -PassThru</code></pre>
<p>And then try accessing the website again. Any emails that are then sent from CCM should then contain valid links back to the site.</p>
</article>
