@{
  ViewBag.Title = "FeaturesPrivateCdn";
}

<article>
<h1 id="customer-cdn-download-cache-licensed-editions-only">Customer CDN Download Cache (Licensed Editions Only)</h1>
<p>Chocolatey offers a customer CDN cache of download content for <a href="https://chocolatey.org/pricing">customers</a>! The internet is unpredictable and sometimes sites go down, the cache ensures that the packages on the community repository are not broken by issues with the internet. We lovingly call this the &quot;<strong>No more 404s feature</strong>&quot;.</p>
<p>We do this by caching a copy of the content on our private CDN. This content also gets virus checked and checksummed to verify that it matches what was originally intended by package maintainers and moderators for you to receive.</p>
<!-- TOC -->
<ul>
<li><a href="#important-information-for-software-vendors">Important Information for Software Vendors</a></li>
<li><a href="#usage">Usage</a></li>
<li><a href="#options-and-switches">Options and Switches</a></li>
<li><a href="#faq">FAQ</a></li>
<li><a href="#how-do-i-take-advantage-of-this-feature">How do I take advantage of this feature?</a></li>
<li><a href="#im-a-licensed-customer-now-what">I&#39;m a licensed customer, now what?</a></li>
<li><a href="#how-do-i-turn-this-feature-on">How do I turn this feature on?</a></li>
<li><a href="#how-do-i-turn-this-feature-off">How do I turn this feature off?</a></li>
<li><a href="#is-the-content-modified">Is the content modified?</a></li>
<li><a href="#is-the-content-publicly-available">Is the content publicly available?</a></li>
<li><a href="#why-isnt-a-cache-available-for-x-package">Why isn&#39;t a cache available for x package?</a></li>
<li><a href="#does-this-grant-me-a-license-to-the-software">Does this grant me a license to the software?</a></li>
<li><a href="#im-a-vendor-and-wish-to-opt-out">I&#39;m a vendor and wish to opt out.</a></li>
</ul>
<!-- /TOC -->
<h2 id="important-information-for-software-vendors">Important Information for Software Vendors</h2>
<p>When our customers download content from you, we may cache a copy of that content on our customer CDN to ensure that later our licensed customers will be able to access that content again. This allows predictable and reliable installations of packages. Like most CDNs, no changes are made, we are simply ensuring the content stays available for our private customers. We are not modifying, selling, renting, leasing, lending, or sub-licensing this content in any way.</p>
<p>This private content cache is <strong><em>only</em></strong> available as a service for our <a href="https://chocolatey.org/pricing">licensed customers</a>.</p>
<p>If you have questions or <strong>prefer to opt out</strong>, please <a href="https://chocolatey.org/contact">contact us</a> and select &quot;Software Vendor Opt Out&quot; (vendor requests only please).</p>
<h2 id="usage">Usage</h2>
<p>This is mostly automatic, but in case the feature is turned off, you may turn it on by setting the feature <code>downloadCache</code> (<code>choco feature enable -n downloadCache</code>).</p>
<p>To see if a package has content cached on the CDN, you can run <code>choco info packagename</code> and it will give you detailed information pertaining to a package.</p>
<p><img src="@Url.Content("~/content/images/docs/choco_info_cached.png")" alt="choco info packagename" /></p>
<p>When you install, you will see a message similar to the following when the cached content is used:</p>
<p><img src="@Url.Content("~/content/images/docs/choco_install_cached.png")" alt="Pro install with CDN cache" /></p>
<h2 id="options-and-switches">Options and Switches</h2>
<p>The following options are added to install and upgrade commands.</p>
<pre><code class="nohighlight">     --sdc, --skipdownloadcache, --skip-download-cache
     Skip Download Cache - Use the original download even if a
       private CDN cache is available for a package.
       Overrides the default feature &#39;downloadCache&#39; set to &#39;True&#39;. Available
       in 0.9.10+. Licensed versions only.

     --dc, --downloadcache, --download-cache, --use-download-cache
     Use Download Cache - Use private CDN cache if
       available for a package. Overrides the default feature &#39;downloadCache&#39;
       set to &#39;True&#39;. Available in 0.9.10+. Licensed versions only.</code></pre>
<h2 id="faq">FAQ</h2>
<h3 id="how-do-i-take-advantage-of-this-feature">How do I take advantage of this feature?</h3>
<p>You must have a <a href="https://chocolatey.org/pricing">licensed edition of Chocolatey</a> (Pro, Business, or MSP). Pro is a personal, named license that costs about the price of a lunch outing per month and comes with several other features. Business editions are great for organizations that need to manage the total software management lifecycle. MSP editions contain a subset of the Business edition features.</p>
<h3 id="im-a-licensed-customer-now-what">I&#39;m a licensed customer, now what?</h3>
<p>When you install packages from the community repository and a private cache becomes available, it will use that cache automatically. You don&#39;t have to do anything additional.</p>
<h3 id="how-do-i-turn-this-feature-on">How do I turn this feature on?</h3>
<ul>
<li>Globally - <code>choco feature enable -n downloadCache</code></li>
<li>Per command - use the switch <code>--use-download-cache</code> with install/upgrade commands.</li>
</ul>
<h3 id="how-do-i-turn-this-feature-off">How do I turn this feature off?</h3>
<ul>
<li>Globally - <code>choco feature disable -n downloadCache</code></li>
<li>Per command - use the switch <code>--skip-download-cache</code> with install/upgrade commands.</li>
</ul>
<h3 id="is-the-content-modified">Is the content modified?</h3>
<p>No, this is the original content as it would have been downloaded.</p>
<h3 id="is-the-content-publicly-available">Is the content publicly available?</h3>
<p>No, this is a private CDN cache available only for <a href="https://chocolatey.org/pricing">licensed customers</a>.</p>
<h3 id="why-isnt-a-cache-available-for-x-package">Why isn&#39;t a cache available for x package?</h3>
<p>There are a variety of factors that go into suitability for a package.</p>
<ul>
<li>If the software vendor has opted out, there will be no cache for a package that uses that software.</li>
<li>If the package doesn&#39;t actually download anything, there will be no cache.</li>
<li>If the package downloads resources, but not in the recommended way, there may not be a cache available.</li>
</ul>
<h3 id="does-this-grant-me-a-license-to-the-software">Does this grant me a license to the software?</h3>
<p>No, you still need to work with the software vendor to obtain a license, if required.</p>
<h3 id="im-a-vendor-and-wish-to-opt-out.">I&#39;m a vendor and wish to opt out.</h3>
<p>Please see <a href="#important-information-for-software-vendors">important information for software vendors</a>.</p>
</article>
