@{
  ViewBag.Title = "FeaturesSynchronize";
}

<article>
<h1 id="synchronize-with-programs-and-features-licensed-editions-only">Synchronize with Programs And Features (Licensed Editions Only)</h1>
<p>Chocolatey maintains its own state of the world, while Windows maintains the state of Programs and Features. If an application is upgraded or uninstalled outside of Chocolatey, such as is the case with Google Chrome and its auto updating utility, Chocolatey doesn&#39;t know about the change. The synchronize feature keeps Chocolatey&#39;s state in sync with Programs and Features, removing possible system-installed state drift.</p>
<h2 id="usage">Usage</h2>
<p>This is done automatically on every choco call in Pro, MSP, and Business editions.</p>
<p><img src="@Url.Content("~/content/images/docs/features/features_synchronize.png")" alt="Synchronize - if you are on https://chocolatey.org/docs/features-synchronize, see commented html below for detailed description of image" /></p>
<!--
Text in the image above:

Synchronize with Programs and Features

- Chocolatey for Business - any Chocolatey command will trigger synchronization
- Synchronizes state between Chocoaltey and Programs and Features
- Currently supports manual software removals
- Adding upgrade tracking

This image shows running `choco list -lo`. Chocolatey for Business automatically detects that 1Password has been manually uninstalled and synchronizes Chocolatey's state.
-->
<h2 id="see-it-in-action">See It In Action</h2>
<p><img src="@Url.Content("~/content/images/docs/gifs/choco_business_features.gif")" alt="auto package creation/synchronize" /></p>
<h2 id="options-and-switches">Options and Switches</h2>
<p>N/A</p>
<h2 id="faq">FAQ</h2>
<h3 id="how-do-i-take-advantage-of-this-feature">How do I take advantage of this feature?</h3>
<p>You must have a <a href="https://chocolatey.org/pricing">licensed edition of Chocolatey</a> (Pro, Business, or MSP). Pro is a personal, named license that costs about the price of a lunch outing per month and comes with several other features. Business editions are great for organizations that need to manage the total software management lifecycle. MSP editions contain a subset of the Business edition features.</p>
<h3 id="im-a-licensed-customer-now-what">I&#39;m a licensed customer, now what?</h3>
<p>It just works.</p>
<h3 id="how-does-it-work">How does it work?</h3>
<p>Chocolatey tracks applications that it installs, so it is able to keep up with those applications as they are upgraded and uninstalled, even outside of Chocolatey.</p>
</article>
