@{
  ViewBag.Title = "HelpersInstallChocolateyDesktopLink";
}

<article>
<h1 id="install-chocolateydesktoplink">Install-ChocolateyDesktopLink</h1>
<p>This adds a shortcut on the desktop to the specified file path.</p>
<p><strong>NOTE:</strong> This is deprecated in favour of <a href="HelpersInstallChocolateyShortcut">Install-ChocolateyShortcut</a>.</p>
<h2 id="usage">Usage</h2>
<pre class="powershell"><code>Install-ChocolateyDesktopLink $targetFilePath</code></pre>
<h2 id="examples">Examples</h2>
<pre class="powershell"><code>Install-ChocolateyDesktopLink &#39;C:\tools\NHibernateProfiler\nhprof.exe&#39;</code></pre>
<h2 id="parameters">Parameters</h2>
<ul>
<li><p><code>-targetFilePath</code></p>
<p>This is the location to the application/executable file that you want to add a shortcut to on the desktop.</p>
<p>Example: <code>'C:\tools\NHibernateProfiler\nhprof.exe'</code></p></li>
</ul>
<p><a href="HelpersReference">Function Reference</a></p>
</article>
