@{
    ViewBag.Title = "";
}

<article>
  <h1 id="start-chocolateyprocessasadmin">Start-ChocolateyProcessAsAdmin</h1>
<p>Runs a process as an administrator. If $exeToRun is not specified, it is run with PowerShell.</p>
<p><strong>NOTE:</strong> This command will assert UAC/Admin privileges on the machine.</p>
<h2 id="usage">Usage</h2>
<pre><code class="lang-powershell">Start-ChocolateyProcessAsAdmin $statements $exeToRun
</code></pre>
<h2 id="examples">Examples</h2>
<pre><code class="lang-powershell">Start-ChocolateyProcessAsAdmin &quot;$msiArgs&quot; &#39;msiexec&#39;

Start-ChocolateyProcessAsAdmin &quot;$silentArgs&quot; $file

Start-ChocolateyProcessAsAdmin &quot;$silentArgs&quot; $file -validExitCodes @@(0,21)
</code></pre>
<pre><code class="lang-powershell">$psFile = Join-Path &quot;$(Split-Path -parent $MyInvocation.MyCommand.Definition)&quot; &#39;someInstall.ps1&#39;
Start-ChocolateyProcessAsAdmin &quot;&amp; `&#39;$psFile`&#39;&quot;
</code></pre>
<h2 id="parameters">Parameters</h2>
<ul>
<li><p><code>-statements</code></p>
<p>  These are statements and/or arguments for an application.</p>
<p>  Example: <code>&#39;/i package /q&#39;</code></p>
</li>
<li><p><code>-exeToRun</code></p>
<p>  This is the executable/application to run.</p>
<p>  Example: <code>cmd.exe</code></p>
<p>  Defaults to <code>powershell</code></p>
</li>
<li><p><code>-validExitCodes</code> <em>(optional)</em></p>
<p>  If there are other valid exit codes besides zero signifying a successful install, please pass <code>-validExitCodes</code> with the value, including 0 as long as it is still valid.</p>
<p>  Example: <code>-validExitCodes @@(0,44)</code></p>
<p>  Defaults to <code>@@(0)</code>.</p>
</li>
</ul>
<p><a href="HelpersReference">Function Reference</a></p>

</article>
