@{
    ViewBag.Title = "";
}

<article>
  <h1 id="where-chocolatey-comes-from">Where Chocolatey Comes From</h1>
<p>Chocolatey is like apt-get, but for Windows (with Windows comes limitations). It is a machine level package manager that is built on top of nuget command line and the nuget infrastructure.</p>
<p>Chocolatey started out as a joke because everyone loves Chocolatey nougat (nuget).</p>
<p>Chocolatey&#39;s original intentions were to get the rest of the executable/tool gems off of ruby gems. From there it grew when we realized we could execute a known PowerShell script. I&#39;d already had quite a bit of experience with unattended installations and silent switches for the different installers at two different companies.  Taking that concept of the silent installs and making them global really started something.</p>
<p>At that time it became a tool that could install, upgrade and configure software See <a href="http://en.wikipedia.org/wiki/Package_management_system">package management system</a>.</p>
<p>So where [vanilla] nuget packages are developer focused library packages, Chocolatey nuget packages are application/tool packages, and not necessarily developer focused.</p>
<p>And then we made creating packages stupid simple by including helpers.  Soon we will make it even more juicy by helping you create the entire package from a website by entering a little information.</p>
<h3 id="references">References</h3>
<p><a href="http://en.wikipedia.org/wiki/Apt-get">Apt-Get</a></p>

</article>
