@{
    ViewBag.Title = "";
}

<article>
  <p>Is your package unqualified to be listed on the Chocolatey feed? Don&#39;t worry, you can host it on MyGet for free.  <a href="https://www.myget.org/Account/Login">Create an account</a> (or log in with an account provider) to get your API key.</p>

</article>
