@{
  ViewBag.Title = "How-To-Change-Cache";
}

<article>
<h1 id="how-to-change-the-download-folder">How To Change The Download Folder</h1>
<p>By default Chocolatey uses the Temp Folder for downloads. However that is sometimes blocked by Group Policy and/or other things. To change that you need to adjust the cache location in your choco config file.</p>
<p>If you are on less than <a href="https://github.com/chocolatey/choco/blob/master/CHANGELOG.md#0999-october-2-2015">0.9.9.9</a>, you will need to do that manually by opening the config file located at <code>$env:ChocolateyInstall\config\chocolatey.config</code> and changing the <code>cacheLocation</code> value.</p>
<p>If you are on 0.9.9.9 and above you can simple use <code>choco config set cacheLocation fullPath</code>. See <a href="CommandsConfig">Config</a> for more details.</p>
</article>
