@{
  ViewBag.Title = "How-To-Deprecate-A-Chocolatey-Package";
}

<article>
<h2 id="the-problem">The Problem</h2>
<p>From time to time, a previously approved Chocolatey Package needs to be deprecated. This could be for a number of reasons:</p>
<ul>
<li>It was created in error.</li>
<li>It has been superseded by another package.</li>
<li>It is an older package that no longer follows the <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "create-packages" })">Package Guidelines</a>.</li>
<li>Its package id has been changed to something that better fits with the <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "create-packages" })#naming-your-package">package naming guidelines</a>.</li>
</ul>
<p>All versions of this package could simply be unlisted from chocolatey.org, meaning that they could no longer be installed, however, this solution is not ideal. Any user who previously installed this package, and added it as part of an installation script, would get an error the next time that they tried to install it, and this is far from ideal.</p>
<p>When a package needs to be deprecated, it needs to be handled in such a way that existing users will continue to be able to use the old package id, but take advantage of the replacement package, if there is one.</p>
<h2 id="the-solution">The Solution</h2>
<p>When deprecating a Chocolatey Package, the following steps should be followed:</p>
<ul>
<li>Create a <strong><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "create-packages" })#package-fix-version-notation">new version</a></strong> of the deprecated Chocolatey Package.</li>
<li>Prepend <strong>[Deprecated]</strong> to the <strong>title</strong> of the package (e.g. <code>&lt;title=&quot;[Deprecated] Software Title&quot; /&gt;</code></li>
<li>Update the package <strong>description</strong>: Why is the package being deprecated?</li>
<li>Add a <strong><a href="http://docs.nuget.org/docs/reference/nuspec-reference#Specifying_Dependencies">dependency</a> on the other package</strong> (if the package is being superseded).</li>
<li><strong>Remove all files</strong> except the <code>.nuspec</code> from the Chocolatey Package.</li>
<li><strong>Remove the iconUrl</strong>.</li>
<li><strong>Unlist all versions</strong> from the package gallery, <strong><em>except</em></strong> the final deprecated version. The final deprecated version is required so that there is an update path to the new package.</li>
</ul>
<p>By following this process, any existing users who try to update the old package will automatically get the new package, as it will be installed as a dependency.</p>
</article>
