@{
  ViewBag.Title = "Installation-Licensed";
}

<article>
<h1 id="install-the-licensed-edition">Install The Licensed Edition</h1>
<p>Congratulations on your recent purchase of a licensed edition of Chocolatey! If you are trialing, please pay particular attention to that section:</p>
<!-- TOC -->
<ul>
<li><a href="#some-administrative-actions">Some Administrative Actions</a></li>
<li><a href="#how-do-i-know-when-the-license-is-installed">How Do I Know When the License is Installed?</a></li>
<li><a href="#see-it-in-action">See It In Action</a></li>
<li><a href="#how-do-i-install-the-licensed-edition">How Do I Install The Licensed Edition?</a>
<ul>
<li><a href="#how-do-i-install-a-local-nupkg-file">How Do I Install a Local nupkg File?</a></li>
<li><a href="#how-do-i-install-the-trial-edition">How Do I Install The Trial Edition?</a>
<ul>
<li><a href="#notes-on-the-trial-version">Notes on the Trial Version</a></li>
</ul></li>
</ul></li>
<li><a href="#install-options">Install Options</a>
<ul>
<li><a href="#install-without-context-menus">Install Without Context Menus</a></li>
</ul></li>
<li><a href="#upgrading">Upgrading</a>
<ul>
<li><a href="#how-do-i-upgrade-the-trial-edition">How Do I Upgrade The Trial Edition?</a></li>
</ul></li>
<li><a href="#installing--upgrading-in-secure-environments--without-internet-access">Installing / Upgrading In Secure Environments / Without Internet Access</a></li>
<li><a href="#set-up-licensed-edition-with-puppet">Set Up Licensed Edition With Puppet</a></li>
<li><a href="#install-the-chocolatey-agent-service">Install the Chocolatey Agent Service</a>
<ul>
<li><a href="#ensure-the-chocolatey-agent-service-with-puppet">Ensure the Chocolatey Agent Service with Puppet</a></li>
</ul></li>
<li><a href="#common-errors-and-resolutions">Common Errors and Resolutions</a>
<ul>
<li><a href="#chocolatey-doesnt-recognize-the-license-file">Chocolatey doesn&#39;t recognize the license file</a></li>
<li><a href="#exception-of-type-rhinolicensinglicensenotfoundexception-was-thrown">Exception of type &#39;Rhino.Licensing.LicenseNotFoundException&#39; was thrown.</a></li>
<li><a href="#error-the-term-install-chocolateywindowsservice-is-not-recognized-as-the-name-of-a-cmdlet-function-script-file-or-operable-program">ERROR: The term &#39;Install-ChocolateyWindowsService&#39; is not recognized as the name of a cmdlet, function, script file, or operable program.</a></li>
<li><a href="#unable-to-load-licensed-version-extensions-and-commands">Unable to load licensed version extensions and commands.</a></li>
<li><a href="#error-when-registering-components">Error when registering components</a></li>
<li><a href="#access-to-the-path-is-denied">Access to the path is denied.</a></li>
</ul></li>
</ul>
<!-- /TOC -->
<h2 id="some-administrative-actions">Some Administrative Actions</h2>
<ul>
<li>The email the license is sent to will automatically be subscribed to the customer advisory list. If there are other folks who need to be on that list for important notifications, please have them sign up at <a href="http://eepurl.com/b6zpGv">Chocolatey Customers</a>.</li>
<li>Please sign up for software announcements at <a href="https://groups.google.com/d/forum/chocolatey-announce">Chocolatey Announce</a>. Direct others to sign up for the list as well.</li>
<li>For support, remember to use the support email address (below).</li>
<li>Learn how to install below. Installation is also found at <a href="https://chocolatey.org/docs/installation-licensed" class="uri">https://chocolatey.org/docs/installation-licensed</a>.</li>
</ul>
<h2 id="how-do-i-know-when-the-license-is-installed">How Do I Know When the License is Installed?</h2>
<p>Installing a licensed edition requires two parts</p>
<ul>
<li>The properly placed license file</li>
<li>Installing/upgrading the licensed package - Chocolatey Licensed Extension (<code>chocolatey.extension</code>)</li>
</ul>
<p>When you have performed all parts correctly, running <code>choco</code> will produce a message like one of the following:</p>
<ul>
<li><code>Chocolatey v0.10.8 Professional</code></li>
<li><code>Chocolatey v0.10.8 Business</code></li>
</ul>
<p>Additionally:</p>
<ul>
<li>You will not see &quot;Error when attempting to load chocolatey licensed assembly&quot; warning message.</li>
</ul>
<p>If you do not see the edition next to the name and version without an error, you need to check over your installation procedure again to ensure you&#39;ve completed it properly. See below.</p>
<h2 id="see-it-in-action">See It In Action</h2>
<p>Here&#39;s the whole process for installing your license and installing the licensed code.</p>
<p><img src="https://raw.githubusercontent.com/wiki/chocolatey/choco/images/gifs/choco_install_pro.gif" alt="install" /></p>
<h2 id="how-do-i-install-the-licensed-edition">How Do I Install The Licensed Edition?</h2>
<p><strong>NOTE:</strong> Prior to install, see if there are any parameters (like turning off context menus) that you may want to set. See <a href="#install-options">install options</a>.</p>
<ol>
<li>Install a recent version of Chocolatey (0.10.8+) - <code>choco upgrade chocolatey</code> (due to a tight integration, <code>chocolatey.extension</code> may need a newer version than what is listed here). TRIAL? You need to do more as your license key will not be known by the server. See <a href="#how-do-i-install-the-trial-edition">Install the Trial Edition</a>.</li>
<li>You received a license file in email.</li>
<li>Open PowerShell.exe as an administrative shell. You can type Windows Key + X + A (Windows 8+ - when that comes up if it is cmd.exe, simply type <code>powershell</code> to get into it).</li>
<li>In PowerShell, run <code>New-Item $env:ChocolateyInstall\license -Type Directory -Force</code> - this creates the license directory. Alternatively, you can put the license in your user profile directory, e.g. <code>&quot;C:\Users\YourUserName\chocolatey.license.xml&quot;</code>, however we only recommend you do this for Professional licenses as for other licensing you may need it to be recognized by multiple users.</li>
<li>Now place that license file in that license folder. You can do this manually, or you can adapt this PowerShell command - <code>Copy-Item &lt;c:\path\&gt;chocolatey.license.xml $env:ChocolateyInstall\license\chocolatey.license.xml -Force</code>. (See image below)</li>
<li>Verify the license file is set properly. In PowerShell, run <code>type $env:ChocolateyInstall\license\chocolatey.license.xml.</code> If that returns something, it means you are good to go. If not, something is misspelled or misplaced somewhere.</li>
<li>Run this command: <code>choco upgrade chocolatey.extension</code> (or you can call <code>install</code> instead of <code>upgrade</code>). You will see an error you can safely ignore.</li>
<li><p>That&#39;s it! You are good to go.</p>
<p><img src="https://cloud.githubusercontent.com/assets/63502/12741281/84a3df8e-c940-11e5-8818-456801728cf5.png" alt="license" /></p>
<p><img src="https://cloud.githubusercontent.com/assets/63502/13052159/e6d1be92-d3c2-11e5-8856-d7580e51e3b6.png" alt="install/upgrade" /></p></li>
</ol>
<p><strong>NOTE</strong>: Folks deploying the license out to many machines typically wrap the above logic into a Chocolatey package, embedding the license into the package. When they renew licenses, they just run an upgrade on the licensed package! Don&#39;t take a dependency on the <code>chocolatey.extension</code> package (Chocolatey Licensed Extension) as you need the license to be placed first to properly set everything when you install the licensed extension.</p>
<h3 id="how-do-i-install-a-local-nupkg-file">How Do I Install a Local nupkg File?</h3>
<p>See the next section</p>
<h3 id="how-do-i-install-the-trial-edition">How Do I Install The Trial Edition?</h3>
<p>If you&#39;ve received a trial license, you will also receive a link to download a recent version of the <code>chocolatey.extension</code> package. <strong><em>You will not be able to install or upgrade the licensed edition through regular means. Chocolatey may add the licensed source, but your license will not be recognized on the server.</em></strong></p>
<p><strong>NOTE:</strong> Prior to install, see if there are any parameters (like turning off context menus) that you may want to set. See <a href="#install-options">install options</a>.</p>
<ol>
<li>Install a recent version of Chocolatey (0.10.8+) - <code>choco upgrade chocolatey</code> (due to a tight integration, <code>chocolatey.extension</code> may need a newer version than what is listed here).</li>
<li>You received a license file in email. <strong>That email also contains links to download licensed nupkgs.</strong> If you received the license file from another party but not the email, please ask them to forward it over to you as you will need it.</li>
<li>Obtain the <code>chocolatey.license.xml</code> and download the licensed nupkgs from the locations noted in the trial license email to a local folder. Note this location, you will need it later.</li>
<li>Open PowerShell.exe as an administrative shell. You can type Windows Key + X + A (Windows 8+ - when that comes up if it is cmd.exe, simply type <code>powershell</code> to get into it).</li>
<li>In PowerShell, run <code>New-Item $env:ChocolateyInstall\license -Type Directory -Force</code> - this creates the license directory. Alternatively, you can put the license in your user profile directory, e.g. <code>&quot;C:\Users\YourUserName\chocolatey.license.xml&quot;</code>, however we only recommend you do this for Professional licenses as for other licensing you may need it to be recognized by multiple users.</li>
<li>Now place that license file in that license folder. You can do this manually, or you can adapt this PowerShell command - <code>Copy-Item &lt;c:\path\&gt;chocolatey.license.xml $env:ChocolateyInstall\license\chocolatey.license.xml -Force</code>. (See image below)</li>
<li>Verify the license file is set properly. In PowerShell, run <code>type $env:ChocolateyInstall\license\chocolatey.license.xml.</code> If that returns something, it means you are good to go. If not, something is misspelled or misplaced somewhere.</li>
<li>Run this command: <code>choco upgrade chocolatey.extension --pre --source c:\folder\where\downloaded\nupkg\resides</code> (or you can use <code>install</code> instead of <code>upgrade</code>). <strong>Note</strong>: Source location is not <code>--source c:\downloads\chocolatey.extension.1.8.1.nupkg</code>, it is <code>--source c:\downloads</code>. You will see an error you can safely ignore.</li>
<li>That&#39;s it! You are good to go.</li>
</ol>
<p>See the difference between the trial install here and <a href="#how-do-i-install-the-licensed-edition">a fully licensed edition</a> (also see the pictures above).</p>
<h4 id="notes-on-the-trial-version">Notes on the Trial Version</h4>
<p>In the trial, package authoring features have nag warnings that require someone to manually hit the Enter key a random number of times. Do not attempt to automate Package Internalizer / Package Builder or <code>choco sync</code> when using a trial of C4B. Execute those things directly and see how well they work for you.</p>
<p>There are no trial type messages for runtime features unless they need to use Package Builder (like <code>choco sync</code> does), which should allow you to test those features with other integration tools.</p>
<h2 id="install-options">Install Options</h2>
<h3 id="install-without-context-menus">Install Without Context Menus</h3>
<p>As of Chocolatey Licensed Extension v1.12.2, you can install to client machines without the context menus (Right Click). Add the following to your installation : <code>--params=&quot;'/NoContextMenu'&quot;</code>. Currently there isn&#39;t a way to remove context menus if you have already deployed them, but it is on the backlog to add that. Example: <code>choco install chocolatey.extension -y --params=&quot;'/NoContextMenu'&quot;</code>.</p>
<h2 id="upgrading">Upgrading</h2>
<p>To upgrade the licensed edition just run the following code:</p>
<ul>
<li><code>choco upgrade chocolatey.extension</code></li>
</ul>
<p>Your license automatically adds the licensed source.</p>
<p><strong>NOTE</strong>: If your license expires or you remove licensing and then run choco, it may remove all of your licensed configuration settings, so be prepared to add those settings again once you have a valid license.</p>
<h3 id="how-do-i-upgrade-the-trial-edition">How Do I Upgrade The Trial Edition?</h3>
<p>You will not be able to upgrade through regular means - please reach back out to the Chocolatey Software folks to get an updated edition (and possibly an extended trial license).</p>
<h2 id="installing-upgrading-in-secure-environments-without-internet-access">Installing / Upgrading In Secure Environments / Without Internet Access</h2>
<p>Once you have the license down and the licensed edition extension intstalled the first time, you will have access to <code>choco download</code>. This will allow you to download the licensed edition and put it on your internally hosted repository.</p>
<p>From a machine that will have access to do this you simply run:</p>
<ul>
<li><code>choco download chocolatey.extension --source https://licensedpackages.chocolatey.org/api/v2/ --ignore-dependencies</code></li>
<li>Whatever followup command you need to push that downloaded package to your internal package repository.</li>
</ul>
<p>You can even script this or add it to a CI job that would automatically make the newer edition available.</p>
<p><strong>NOTE</strong>: The licensed source that is automatically added can be disabled, but it cannot be removed. So just run <code>choco source disable -n chocolatey.licensed</code> to disable it or set that up in your configuration management solution scripts. Some of them, like Puppet, have a resource dedicated strictly to this:</p>
<pre><code class="puppet">chocolateysource {&#39;chocolatey.licensed&#39;:
  ensure   =&gt; disabled,
  require  =&gt; File[&#39;C:/ProgramData/chocolatey/license/chocolatey.license.xml&#39;],
}</code></pre>
<h2 id="set-up-licensed-edition-with-puppet">Set Up Licensed Edition With Puppet</h2>
<p>Most organizations using Chocolatey and Puppet are going to do so with zero internet access.</p>
<ul>
<li>Set up a local licensed edition of Chocolatey and run the following commands:</li>
<li><code>choco download chocolatey --source https://chocolatey.org/api/v2/</code></li>
<li><code>choco download chocolatey.server --source https://chocolatey.org/api/v2/</code></li>
<li><code>choco download chocolatey.extension --source https://licensedpackages.chocolatey.org/api/v2/ --ignore-dependencies</code></li>
<li><code>choco download chocolatey-agent --source https://licensedpackages.chocolatey.org/api/v2/ --ignore-dependencies</code></li>
<li>Use <code>choco push</code> to push those items to your internal package repository (e.g. <code>choco push chocolatey.0.10.7.nupkg -s http://internal_repo/ -k abc123</code>)</li>
<li>Determine how to get the bare url to download the Chocolatey.Nupkg directly. You will need that for the internal url for installing Chocolatey offline. For the community repository, it is <a href="https://chocolatey.org/api/v2/package/chocolatey" class="uri">https://chocolatey.org/api/v2/package/chocolatey</a></li>
</ul>
<p>Here is what a completely offline use of Chocolatey looks like (complete with a Chocolatey.Server instance):</p>
<pre><code class="puppet"># Requires puppetlabs/chocolatey module
# See https://forge.puppet.com/puppetlabs/chocolatey

## - Ensure Chocolatey Install -
## Download chocolatey.nupkg to your internal repository (see above
##  about getting the package for offline use)
## Note: `chocolatey_download_url is completely different than normal
##  source locations. This is directly to the bare download url for the
##  chocolatey.nupkg, similar to what you see when you browse to
##  https://chocolatey.org/api/v2/package/chocolatey
class {&#39;chocolatey&#39;:
  chocolatey_download_url =&gt; &#39;https://&lt;internalurl/to&gt;/chocolatey.nupkg&#39;,
  use_7zip                =&gt; false,
}


## If you need FIPS compliance
## make this the first thing you configure before you do any additional
## configuration or package installations
#chocolateyfeature {&#39;useFipsCompliantChecksums&#39;:
#  ensure =&gt; enabled,
#}

## Keep chocolatey up to date based on your internal source
## You control the upgrades based on when you push an updated version
##  to your internal repository.
## Note the source here is to the OData feed, similar to what you see
##  when you browse to https://chocolatey.org/api/v2
package {&#39;chocolatey&#39;:
  ensure   =&gt; latest,
  provider =&gt; chocolatey,
  source   =&gt; &#39;https://&lt;internal_repo&gt;/chocolatey&#39;,
}

## - Configure Chocolatey -
### Config Settings

## Move cache location so Chocolatey is very deterministic about
## cleaning up temporary data
chocolateyconfig {&#39;cacheLocation&#39;:
  value =&gt; &#39;c:\ProgramData\choco-cache&#39;,
}

## Increase timeout to 4 hours
chocolateyconfig {&#39;commandExecutionTimeoutSeconds&#39;:
  value =&gt; &#39;14400&#39;,
}

### Sources
## Remove the default community package repository source
chocolateysource {&#39;chocolatey&#39;:
  ensure   =&gt; absent,
  location =&gt; &#39;https://chocolatey.org/api/v2/&#39;,
}

## Disable the licensed source, it can&#39;t be removed
## Disabled sources still need all other attributes until
## https://tickets.puppetlabs.com/browse/MODULES-4449 is resolved.
## Password is necessary with user, but not ensurable, so it should not
## matter what it is set to here. If you ever do get into trouble here,
## the password is your license GUID.
chocolateysource {&#39;chocolatey.licensed&#39;:
  ensure   =&gt; disabled,
  priority =&gt; &#39;10&#39;,
  user     =&gt; &#39;customer&#39;,
  password =&gt; &#39;1234&#39;,
  require  =&gt; File[&#39;C:/ProgramData/chocolatey/license/chocolatey.license.xml&#39;],
}

## Add default sources for your internal repositories
chocolateysource {&#39;internal_chocolatey&#39;:
  ensure   =&gt; present,
  location =&gt; &#39;http://internal_location/OData/endpoint&#39;,
  priority =&gt; 1,
  username =&gt; &#39;optional&#39;,
  password =&gt; &#39;optional,not ensured&#39;,
}

### Features
chocolateyfeature {&#39;checksumFiles&#39;:
  ensure =&gt; enabled,
}

## When using Puppet for installs
chocolateyfeature {&#39;showDownloadProgress&#39;:
  ensure =&gt; disabled,
}

chocolateyfeature {&#39;useRememberedArgumentsForUpgrades&#39;:
  ensure =&gt; enabled,
}

## - LICENSED OPTIONS -
### See https://chocolatey.org/docs/installation-licensed

file { [&#39;C:/ProgramData/chocolatey&#39;,&#39;C:/ProgramData/chocolatey/license&#39;]:
  ensure =&gt; directory,
}

### Ensure the license file is in the module
### `puppet:///modules/module_name` == files directory of the module
### `&lt;module_name&gt;\files\chocolatey.license.xml` is where the example
###  be found, where &lt;module_name&gt; is the name of the module (e.g. `choco_internal`)
file {&#39;C:/ProgramData/chocolatey/license/chocolatey.license.xml&#39;:
  ensure              =&gt; file,
  source              =&gt; &#39;puppet:///modules/&lt;module_name&gt;/chocolatey.license.xml&#39;,
  source_permissions  =&gt; ignore,
}

## Ensure the chocolatey.extension package
package {&#39;chocolatey.extension&#39;:
  ensure          =&gt; latest,
  source          =&gt; &#39;internal_chocolatey&#39;,
  install_options =&gt; [&#39;-pre&#39;],
  require         =&gt; File[&#39;C:/ProgramData/chocolatey/license/chocolatey.license.xml&#39;],
}

### Licensed Config Settings
chocolateyconfig {&#39;virusScannerType&#39;:
  value   =&gt; &#39;Generic&#39;,
  require =&gt; Package[&#39;chocolatey.extension&#39;],
}

## McAfee options
## https://kc.mcafee.com/corporate/index?page=content&amp;id=KB75478
#chocolateyconfig {&#39;genericVirusScannerPath&#39;:
#  value   =&gt; &#39;C:\full\path\to\scan.exe&#39;,
#  require =&gt; Package[&#39;chocolatey.extension&#39;],
#}

## https://community.mcafee.com/thread/70968?start=0&amp;tstart=0
## You could try cleaning as well /CLEAN /NORENAME (instead of /DEL)
#chocolateyconfig {&#39;genericVirusScannerArgs&#39;:
#  value   =&gt; &#39;[[File]] /ANALYZE /NC /NOEXPIRE /DEL /NOEXPIRE /SILENT /REPORT=c:\ProgramData\choco-cache\lastscan.log&#39;,
#  require =&gt; Package[&#39;chocolatey.extension&#39;],
#}

## 0 for no issues, 19 for success on cleaning any infected files
#chocolateyconfig {&#39;genericVirusScannerValidExitCodes&#39;:
#  value   =&gt; &#39;0, 19&#39;,
#  require =&gt; Package[&#39;chocolatey.extension&#39;],
#}

### Licensed Feature Settings
chocolateyfeature {&#39;virusCheck&#39;:
  ensure  =&gt; enabled,
  require =&gt; Package[&#39;chocolatey.extension&#39;],
}

## Package Internalizer enhancement
## See https://chocolatey.org/docs/features-automatically-recompile-packages
chocolateyfeature {&#39;internalizeAppendUseOriginalLocation&#39;:
  ensure  =&gt; enabled,
  require =&gt; Package[&#39;chocolatey.extension&#39;],
}

## Package Reducer - keep space down
chocolateyfeature {&#39;reduceInstalledPackageSpaceUsage&#39;:
  ensure  =&gt; enabled,
  require =&gt; Package[&#39;chocolatey.extension&#39;],
}

## Unlock preview features - check before you do this, may not be
##  production ready
#chocolateyfeature {&#39;allowPreviewFeatures&#39;:
#  ensure  =&gt; enabled,
#  require =&gt; Package[&#39;chocolatey.extension&#39;],
#}


## - Chocolatey Simple Server Package Repository -
## Requires chocolatey/chocolatey_server module  - see
##  https://forge.puppet.com/chocolatey/chocolatey_server
## this contains the bits to install the custom server
## - Ensures IIS and Ensure ASP.NET
## - Installs and configures the Chocolatey.Server website and app pool
## - Sets permissions appropriately

## `server_package_source` is to the OData feed, similar to what you see
##  when you browse to https://chocolatey.org/api/v2
class {&#39;chocolatey_server&#39;:
  server_package_source =&gt; &#39;https://internalurl/odata/server&#39;,
}

chocolateysource {&#39;local_chocolatey_server&#39;:
  ensure   =&gt; present,
  location =&gt; &#39;http://localhost/chocolatey&#39;,
  priority =&gt; 2,
}</code></pre>
<h2 id="install-the-chocolatey-agent-service">Install the Chocolatey Agent Service</h2>
<p>For C4B (Chocolatey for Business) customers, there is an optional agent service you can install. The agent service allows for things like background mode, setting up maintenance windows (future), and hooking up to Chocolatey Central Management (future).</p>
<p>To be able to install it, you must first have the licensed edition properly installed. Once you have <a href="#how-do-i-know-when-the-license-is-installed">verified your install</a>, you can run the following:</p>
<ul>
<li><code>choco install chocolatey-agent &lt;options&gt;</code></li>
</ul>
<p>For more on the agent service, please see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-agent-service" })">Agent Service</a>.</p>
<h3 id="ensure-the-chocolatey-agent-service-with-puppet">Ensure the Chocolatey Agent Service with Puppet</h3>
<p>This is used in conjunction with the script in <a href="#set-up-licensed-edition-with-puppet">Set Up Licensed Edition With Puppet</a>.<br />
Here are some additional commands and scripts you will need for that setup:</p>
<ul>
<li><code>choco download chocolatey-agent --source https://licensedpackages.chocolatey.org/api/v2/ --ignore-dependencies</code></li>
<li>Use <code>choco push</code> to push packages to your internal package repository (e.g. <code>choco push chocolatey-agent.0.8.0.nupkg -s http://internal_repo/ -k abc123</code>)</li>
</ul>
<pre><code class="puppet">## - Chocolatey Agent (Additional optional Chocolatey for Business install) -
## See https://chocolatey.org/docs/features-agent-service

## ensure we set the user up properly
chocolateyfeature {&#39;useLocalSystemForServiceInstalls&#39;:
  ensure  =&gt; disabled,
  require =&gt; Package[&#39;chocolatey.extension&#39;],
}

## this is the default setting
chocolateyconfig {&#39;serviceInstallsDefaultUserName&#39;:
  value   =&gt; &#39;ChocolateyLocalAdmin&#39;,
  require =&gt; Package[&#39;chocolatey.extension&#39;],
}

## if you are passing through a password, set that here
## otherwise Chocolatey will manage a password that is secured
## and different per machine
#chocolateyconfig {&#39;serviceInstallsDefaultUserPassword&#39;:
#  value   =&gt; &#39;&lt;inject_from_hiera&gt;&#39;,
#  require =&gt; Package[&#39;chocolatey.extension&#39;],
#}

package {&#39;chocolatey-agent&#39;:
  ensure          =&gt; latest,
  install_options =&gt; [&#39;-pre&#39;],
  require         =&gt; Chocolateyfeature[&#39;useLocalSystemForServiceInstalls&#39;],
}</code></pre>
<p>For setting up Self-Service / Background Mode, add the following elements:</p>
<ul>
<li><code>choco download chocolateygui --pre --source=&quot;'https://www.myget.org/F/chocolateygui/;https://chocolatey.org/api/v2'&quot; --ignore-dependencies</code></li>
<li><code>choco download dotnet4.5.2 --internalize --source https://chocolatey.org/api/v2</code></li>
<li>Use <code>choco push</code> to push those items to your internal package repository (e.g. <code>choco push chocolatey.0.10.7.nupkg -s http://internal_repo/ -k abc123</code>)</li>
</ul>
<pre><code class="puppet">## You don&#39;t want a non-admin to get a warning when using self-service
chocolateyfeature {&#39;showNonElevatedWarnings&#39;:
  ensure =&gt; disabled,
  require =&gt; Package[&#39;chocolatey-agent&#39;],
}

## Ensure Admins (and Puppet) do not use the background service
chocolateyfeature {&#39;useBackgroundServiceWithNonAdministratorsOnly&#39;:
  ensure  =&gt; enabled,
  require =&gt; Package[&#39;chocolatey-agent&#39;],
}

## You still need to figure out how to set up a source as allowed for
## Self-service until the Puppet module gets that attribute added to
## chocolateysource
## We don&#39;t recommend disabling this unless you&#39;ve removed all sources
##  except for your internal and they are fine for self-service
#chocolateyfeature {&#39;useBackgroundServiceWithSelfServiceSourcesOnly&#39;:
#  ensure  =&gt; disabled,
#  require =&gt; Package[&#39;chocolatey-agent&#39;],
#}

## Set Chocolatey into background mode
chocolateyfeature {&#39;useBackgroundService&#39;:
  ensure  =&gt; enabled,
  require =&gt; Chocolateyfeature[&#39;useBackgroundServiceWithNonAdministratorsOnly&#39;],
}

package {&#39;dotnet4.5.2&#39;:
  ensure =&gt; latest,
  notify =&gt; Reboot[&#39;pending_dot_net_install&#39;],
}

reboot { &#39;pending_dot_net_install&#39;:
  when =&gt; pending,
}

package {&#39;chocolateygui&#39;:
  ensure          =&gt; latest,
  install_options =&gt; [&#39;-pre&#39;],
  require         =&gt; Package[&#39;dotnet4.5.2&#39;],
}</code></pre>
<h2 id="common-errors-and-resolutions">Common Errors and Resolutions</h2>
<p>When you are attempting to install the licensed edition, you may run into some errors depending on your configuration. Here are some common ones we&#39;ve seen.</p>
<h3 id="chocolatey-doesnt-recognize-the-license-file">Chocolatey doesn&#39;t recognize the license file</h3>
<p>When you run <code>choco</code>, it doesn&#39;t show a commercial edition next to the name. Like &#39;Chocolatey v0.10.7 Professional&#39;. This means that Chocolatey is not detecting a license file. This could be an incorrectly placed or incorrectly named file. For troubleshooting, please perform the following:</p>
<ol>
<li>Open PowerShell and run the following command (verbatim): <code>Get-Content $env:ChocolateyInstall\license\chocolatey.license.xml</code></li>
</ol>
<p>You should see the output of the license file. If you do not see this, the license file is not placed correctly or misnamed. Please go back and set the license correctly to see if that fixes the issue.</p>
<p>If you do see the expected output but Chocolatey is still not recognizing the file, please do the following:</p>
<ol>
<li>Run <code>cacls.exe C:\ProgramData\chocolatey\license</code></li>
<li>Run <code>cacls.exe C:\ProgramData\chocolatey\license\chocolatey.license.xml</code></li>
<li>Run <code>where.exe choco</code></li>
<li>Please zip up <code>C:\ProgramData\chocolatey\logs\chocolatey.log</code></li>
<li>Open a support ticket and send us the log and the output of the commands in this step.</li>
</ol>
<h3 id="exception-of-type-rhinolicensinglicensenotfoundexception-was-thrown">Exception of type &#39;Rhino.Licensing.LicenseNotFoundException&#39; was thrown.</h3>
<p>If you run into this error, it means you are on an older version of Chocolatey and you need to upgrade.</p>
<ol>
<li>Remove the license file.</li>
<li>Upgrade the <code>chocolatey</code> package - <code>choco upgrade chocolatey &lt;options&gt;</code></li>
<li>Set the license file back and proceed with the install or upgrade process as above.</li>
</ol>
<h3 id="error-the-term-install-chocolateywindowsservice-is-not-recognized-as-the-name-of-a-cmdlet-function-script-file-or-operable-program">ERROR: The term &#39;Install-ChocolateyWindowsService&#39; is not recognized as the name of a cmdlet, function, script file, or operable program.</h3>
<p>You can get this if you are attempting to install the <code>chocolatey-agent</code> package, but you don&#39;t have a verified installation of a licensed edition of Chocolatey. You must resolve that prior to attempting to install the <code>chocolatey-agent</code> package. See <a href="#how-do-i-know-when-the-license-is-installed">How Do I Know When the License is Installed?</a>.</p>
<h3 id="unable-to-load-licensed-version-extensions-and-commands">Unable to load licensed version extensions and commands.</h3>
<p>You may see a message like this: <code>Unable to load licensed version extensions and commands. Please make sure the version of Chocolatey you are on is up to date and meets the minimum requirements of the licensed version. If that version is in beta, that means the latest avaialble version.</code> followed by the actual error that may look something like this: <code>Could not load type 'chocolatey.infrastructure.app.services.Isomething' from assembly 'choco, Version=0.10.7.0, Culture=neutral, PublicKeyToken=79d02ea9cad655eb'. 0.10.7</code>.</p>
<p>If you see this, it is typically due to an incompatibility between Chocolatey and the licensed extension (Chocolatey.Extension). As these two are tightly integrated to each other, sometimes there are incompatibilities introduced. Chocolatey Software will inform customers of these issues and ways to get around that, typically ahead of releases on the customer advisory list (the link for this is sent with the email that contained the license).</p>
<p>First steps:</p>
<ul>
<li>Try <code>choco upgrade chocolatey.extension -y</code></li>
</ul>
<p>If that is successful, you are good to go. If not, check for other processes locking files/folders in your Chocolatey installation. Please see <a href="#access-to-the-path-is-denied">Access to the path is denied</a>.</p>
<p>If neither of these have resolved the issue, the following steps should remedy the situation:</p>
<p><strong>NOTE</strong>: Running choco in an unlicensed sense will reset/remove all licensed configuration.</p>
<ul>
<li>Make a backup of the <code>chocolatey.config</code> (typically at &quot;C:\ProgramData\chocolatey\config\chocolatey.config&quot;).</li>
<li>Remove the license file - rename the <code>license</code> folder to <code>licensed</code> (typically at &quot;C:\ProgramData\chocolatey\license&quot;).</li>
<li>In the <code>extensions</code> folder, delete the <code>chocolatey</code> folder (typically at &quot;C:\ProgramData\chocolatey\extensions\chocolatey&quot;).</li>
<li>Run <code>choco uninstall chocolatey.extension</code>.</li>
<li>Add the license file again - rename the <code>licensed</code> folder back to <code>license</code>.</li>
<li>Run <code>choco upgrade chocolatey.extension</code>.</li>
<li>Compare the current <code>chocolatey.config to your backed up</code>chocolatey.config` and set anything that was reset in this process.</li>
</ul>
<h3 id="error-when-registering-components">Error when registering components</h3>
<p>You may see <code>Error when registering components for 'chocolatey.licensed.infrastructure.app.registration.ContainerBinding': Exception has been thrown by the target of an invocation.</code> This falls into the incompatibility or locking aspect. Please see <a href="#unable-to-load-licensed-version-extensions-and-commands">Unable to load licensed version extensions and commands</a>.</p>
<h3 id="access-to-the-path-is-denied">Access to the path is denied.</h3>
<p>You may be attempting to upgrade chocolatey.extension and see that the access to the path <code>c:\programdata\chocolatey\lib\chocolatey.extension</code> is denied. If you&#39;ve verified you are an administrator and can not get into that folder, it&#39;s likely the folder was attempted to be deleted, but another process was accessing that folder and is holding a lock on it. You can use Handles (SysInternals) or something like LockHunter to attempt to find out if there is a lock on the folder. If there is, you normally would just need to close the process in question so the folder can be deleted.</p>
<p>Unfortunately, this is likely to cause your install to be unusable until you fix the locking issue.</p>
</article>
