@{
    ViewBag.Title = "Install";
}

<h2>Install Chocolatey</h2>

<div class="nuget-badge">
    <p>
        <code><span>C:\&gt;</span> @@powershell -NoProfile -ExecutionPolicy Bypass -Command "iex ((new-object net.webclient).DownloadString('https://chocolatey.org/install.ps1'))" &amp;&amp; SET PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin</code>
    </p>
    <p>
        <code><span>PS:\&gt;</span>iex ((new-object net.webclient).DownloadString('https://chocolatey.org/install.ps1'))</code>
    </p>
</div>