@{
  ViewBag.Title = "Migrate-Old-Chocolatey-Directory-to-ProgramData";
}

<article>
<p>After an upgrade, you may see a message similar to the following:</p>
<pre><code>The default install location has been changed to &#39;C:\ProgramData\chocolatey&#39;.
This install will be updated to that location in the next version. It
is strongly suggested you move this installation to the new location
as soon as possible to limit write access from all users. Do not forget
to update PATH &amp; ChocolateyInstall environment variables.</code></pre>
<p>The new path and name of the ChocolateyInstall variable may be different for you.</p>
<p>Here&#39;s how to move Chocolatey.</p>
<p>First, move the directory. Open a <a href="http://www.howtogeek.com/howto/windows-vista/run-a-command-as-administrator-from-the-windows-vista-run-box/">Command Prompt as Administrator</a> and run the following:</p>
<pre><code>cd c:\
md ProgramData\chocolatey
xcopy /s /e c:\chocolatey\*.* ProgramData\chocolatey\.
rd chocolatey /s /q</code></pre>
<p>Next, check your environment variables. Note that some software that lives in <code>c:\chocolatey</code> may have added itself to your path.</p>
<pre><code>PS C:\Users\james&gt; (echo $Env:PATH).split(&quot;;&quot;) | where {$_ -match &quot;chocolatey&quot;}
C:\chocolatey\lib\minecraft.1.1\tools\minecraft.exe
C:\chocolatey\bin</code></pre>
<p><img src="http://i.imgur.com/Xser6iG.png" /></p>
<p><img src="http://i.imgur.com/6SsGw9v.png" /></p>
<p><img src="http://i.imgur.com/N6YtQSk.png" /></p>
<p><img src="http://i.imgur.com/Bszc7qg.png" /></p>
<p>Now, change your environment variables. Note that Chocolatey may appear in both the user PATH and the system PATH. I strongly recommend copy and pasting the contents of the text box to and from notepad for significantly easier editing.</p>
</article>
