@{
  ViewBag.Title = "Packaging-Next";
}

<article>
<p><code>-+[]{},.=-_!~`#$%^&amp;()@@</code> - all valid for folder names - will need to determine what makes sense, what works on Linux as well and then propose a packaging format</p>
<p>Signing</p>
<ul>
<li><a href="http://www.gpg4win.org/package-integrity.html" class="uri">http://www.gpg4win.org/package-integrity.html</a></li>
<li><a href="http://www.glump.net/howto/cryptography/practical-introduction-to-gnu-privacy-guard-in-windows" class="uri">http://www.glump.net/howto/cryptography/practical-introduction-to-gnu-privacy-guard-in-windows</a></li>
<li><a href="https://gpgtools.org/" class="uri">https://gpgtools.org/</a></li>
<li><a href="https://www.gnupg.org/download/index.html" class="uri">https://www.gnupg.org/download/index.html</a></li>
</ul>
</article>
