@{
  ViewBag.Title = "PackageTriageProcess";
}

<article>
<h1 id="package-questions-requests-updates-andor-fixes-for-community-feed---triage-process">Package Questions, Requests, Updates, and/or Fixes For Community Feed - Triage Process</h1>
<p>The Community Feed (<a href="https://chocolatey.org/packages" class="uri">https://chocolatey.org/packages</a>) has a collection of packages provided and maintained by the community. You may have come across a package and found you have questions about it or you have found it outdated or broken.</p>
<p><strong>NOTE</strong>: If you are a <strong>software vendor</strong> wanting to maintain your own software&#39;s packages, please see the <a href="#i-want-to-take-overhelp-with-package-maintenance-for-my-software">vendors maintaining packages</a> below.</p>
<h2 id="table-of-contents">Table of Contents</h2>
<ul>
<li><a href="#are-you-a-software-vendor">Are you a software vendor?</a></li>
<li><a href="#questions-about-a-package-or-software">Questions about the package or software</a></li>
<li><a href="#package-request-package-missing">Package requests or package is missing?</a></li>
<li><a href="#package-is-broken">The package is broken?</a></li>
<li><a href="#package-is-outdated">The package is outdated?</a></li>
<li><a href="#the-triage-process">The Package Triage Process</a> - requesting updates/fixes to packages</li>
</ul>
<h3 id="are-you-a-software-vendor">Are you a Software Vendor?</h3>
<h4 id="does-a-chocolatey-package-that-installs-my-software-violate-distribution-rights">Does a Chocolatey package that installs my software violate distribution rights?</h4>
<p>In most cases no. Most packages you will find on the community feed, also known as <a href="https://chocolatey.org/packages" class="uri">https://chocolatey.org/packages</a> use automation scripts to download the software from the <a href="Legal#distributions-aka-chocolatey-packages">official distribution point</a>.</p>
<p>If you visit the package page and slide down to the Files heading, you can see what is included in the package. Many times you will see only a chocolateyInstall.ps1 and a chocolateyUninstall.ps1. You can also see the contents of those files right here so you can review what they are doing (the language is PowerShell, but with most packages it is typically easy to follow what they are doing).</p>
<p><img src="https://cloud.githubusercontent.com/assets/63502/12586960/000e1c80-c418-11e5-9a27-edc8415f9b8b.png" alt="files section with chocolateyInstall.ps1 expanded" /></p>
<p>If you don&#39;t trust the package page (or if the package was published before July 2014), we invite you to download the actual package and inspect the contents (the .nupkg is just a .zip file after all). On the left menu there is a download link. You can download and rename the .nupkg to a .zip file and extract it to see the contents.</p>
<p><img src="https://cloud.githubusercontent.com/assets/63502/12588103/b7ba6b46-c41c-11e5-87e4-46ea9b8f28e9.png" alt="download link" /></p>
<p>Many of the packages may look like they include binaries because of the result after an install, but that&#39;s just a fantastic effect of the automation scripts working smoothly and almost unnoticeably.</p>
<p>We take distribution rights very seriously - see <a href="Legal#distributions-aka-chocolatey-packages">legal</a>. If you do happen to find that the package <strong><em>is</em></strong> violating your distribution rights, please see the next section.</p>
<h4 id="the-package-is-violating-distribution-rights">The package IS violating distribution rights</h4>
<p>You&#39;ve checked the previous section and it doesn&#39;t apply, and you&#39;ve found that the package <strong><em>is</em></strong> violating distribution rights as it bundles software binaries without your permission and/or license doesn&#39;t allow for it.</p>
<p>It&#39;s not often that a moderator would approved a package that violates distribution rights, but if you find one, please click the &quot;Report Abuse&quot; link on the left hand side of the package page, and fill out and submit the form. The site admins for the community feed will follow up with you shortly after.</p>
<p><img src="https://cloud.githubusercontent.com/assets/63502/12588125/d6828dec-c41c-11e5-854d-909dc6a25afe.png" alt="report abuse" /></p>
<p><strong>NOTE</strong>: The community feed has only been moderated since October 2014. There may be some packages were created prior to this date that possibly do violate distribution rights. These packages also likely won&#39;t list the files as the community feed did not start capturing the package files until July 2014. The package page has instructions for viewing the package content (and so does the previous section).</p>
<h4 id="i-want-to-take-overhelp-with-package-maintenance-for-my-software">I want to take over/help with package maintenance for my software</h4>
<p>Please click the &quot;Contact Site Admins&quot; link on the left hand side of the package page, and fill out and submit the form. The site admins for the community feed will follow up with you shortly after. Please remember to mention that you are the software vendor interested in taking over the package.</p>
<p><img src="https://cloud.githubusercontent.com/assets/63502/12588147/ea575898-c41c-11e5-9995-1e2f6c781282.png" alt="contact site admins" /></p>
<p>We ask that you contact the site admins directly and skip the triage process altogether because we want to get you maintaining the package as quickly as possible. There is a greater trust for packages when they are provided by the vendors.</p>
<h3 id="questions-about-a-package-or-software">Questions About a Package or Software</h3>
<p>Use the Contact Maintainers link on the package page of the community feed or the Disqus comment thread (at the bottom of the package page) to reach out to the maintainers. Neither require an account on Chocolatey.org.</p>
<p><img src="https://cloud.githubusercontent.com/assets/63502/12519569/406aa70a-c105-11e5-9db2-6191ce5bc100.png" alt="contact maintainers link" /></p>
<h3 id="package-request-package-missing">Package Request? Package Missing?</h3>
<p>If you are looking for packages to be added to the community feed (aka <a href="https://chocolatey.org/packages" class="uri">https://chocolatey.org/packages</a>) - you are part of the community and we welcome your packages. It&#39;s super simple to create and maintain packages, see <a href="CreatePackages">Creating packages</a>.</p>
<p>When it comes to community packages, we really want folks who are using the software to be package maintainers versus folks who may not be using the software. So when you are asking for other folks to add packages, please consider that it may be better for you to keep the package up to date than someone else who may not be invested in ensuring it stays updated.</p>
<h3 id="package-is-broken">Package is Broken?</h3>
<p><img src="https://cloud.githubusercontent.com/assets/63502/12519534/1728a086-c105-11e5-9af7-96b188114ae7.png" alt="red ball failing testing verification" /></p>
<p>If the ball is red, the maintainer has already been informed. See the next section on how you can ask for updates</p>
<h3 id="package-is-outdated">Package is Outdated?</h3>
<p>Be sure of four things:</p>
<ol>
<li>The newer version is a stable release - not an alpha or beta if the package is about stable releases.</li>
<li>The newer version that is cross platform is available for Windows. Sometimes the release of the Windows version may lag behind availability on other platforms.</li>
<li>It has been at least a day since the new release. Sometimes the package automatically updates - check to see if the package is an automatically updating package in the description of the package. Typically if it has been more than 48 hours since the updated version is available, it&#39;s a good time to let the maintainers know they should update the package.</li>
<li>The package doesn&#39;t already have a newer version in moderation. The maintainer(s) may already be actively working towards getting a newer version up on the community feed.<br />
<img src="https://cloud.githubusercontent.com/assets/63502/12520149/7bb85aac-c108-11e5-983c-eef01448b00a.png" alt="versions awaiting moderation" /></li>
</ol>
<h2 id="the-triage-process">The Triage Process</h2>
<p>So a package needs fixed or updated. You have reached out to the maintainer or disqus already and are curious what the next steps are. We will elaborate on all of the steps here, including contacting the maintainers.</p>
<ol>
<li>The first step is to contact the maintainers.</li>
<li>If you are able to provide a fix, that&#39;s even better. Look for the maintainer&#39;s package source. Please look for package source url information on the package page.<br />
<img src="https://cloud.githubusercontent.com/assets/63502/12520704/c124c60e-c10b-11e5-9de9-1127ce0c602e.png" alt="Package source link" /></li>
<li>If you are still looking for a way to provide a fix, but don&#39;t find a package source link on the package itself, you can try to find it in one of the maintainer&#39;s profiles (this is an older method of finding your way to a maintainer&#39;s packages source).<br />
<img src="https://cloud.githubusercontent.com/assets/63502/12534627/a5b0ea56-c228-11e5-8ea4-a162652831ac.png" alt="maintainers are links" /><br />
<img src="https://cloud.githubusercontent.com/assets/63502/12520758/f755bf4e-c10b-11e5-831e-4da3a91c42c9.png" alt="maintainer profile with github repository link" /></li>
<li>If the maintainer(s) do[es] not respond within a few days, it&#39;s possible they haven&#39;t received your message or don&#39;t watch the repository. It&#39;s also possible they are on holiday. Use the contact site admins link to contact the site curators, who will attempt to triage the situation.<br />
<img src="https://cloud.githubusercontent.com/assets/63502/12520681/a8949c9a-c10b-11e5-84f5-ce4063249cab.png" alt="Contact admins link" /></li>
<li>If you don&#39;t hear anything back from the curators within 2 days (usually same day response), then you send a message to the Chocolatey google group (<a href="http://groups.google.com/group/chocolatey" class="uri">http://groups.google.com/group/chocolatey</a>) and we work to contact the maintainers.</li>
<li>If the maintainer(s) are unresponsive after a period of time (determined by the admins), the package is considered abandoned. The curators will TOS the package and new folks can be added as maintainers. The moderators will ask if you would like to become a maintainer of the package. If you choose to become a new maintainer, see the next section.</li>
</ol>
<p><strong>NOTE</strong>: We don&#39;t have non-maintainer uploads in the community feed and we haven&#39;t needed them yet.</p>
<h3 id="new-maintainers">New Maintainers</h3>
<p>Sometimes this results in new maintainers. You can be a maintainer updating the project at a central location that multiple maintainers share. However, if you became maintainer because the package was deemed abandoned, you will want to follow the instructions for a <a href="PackageMantainerHandover">Package Maintainer Handover/Switch</a>.</p>
</article>
