@{
  ViewBag.Title = "ReleaseNotesLicensed";
}

<article>
<h1 id="chocolatey-release-notes---licensed-edition">Chocolatey Release Notes - Licensed Edition</h1>
<p>This covers the release notes for the &quot;chocolatey.extension&quot; package, where the licensed editions of Chocolatey get their enhanced functionality.</p>
<p><strong>NOTE</strong>: For licensed versions, refer to both this set of release notes and <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes" })">Open Source Release Notes</a>.</p>
<h2 id="june-27-2017">1.11.0 (June 27, 2017)</h2>
<h3 id="bug-fixes">BUG FIXES</h3>
<ul>
<li>Self-Service / Background Mode
<ul>
<li>Fix - Use a URI with WCF named pipes that doesn&#39;t exclusively hold a lock on the root (blocking other services). Fallback to old URI for versions of chocolatey-agent less than 0.7.0+. - see <a href="https://github.com/chocolatey/chocolatey-licensed-issues/issues/12">#12</a>.</li>
<li>Fix - Ensure chocolatey.lib can send arguments through and not just choco.exe.</li>
</ul></li>
</ul>
<h3 id="improvements">IMPROVEMENTS</h3>
<ul>
<li>Package Synchronizer - update registry links when software updates</li>
</ul>
<h2 id="june-9-2017">1.10.0 (June 9, 2017)</h2>
<p>This release brings Package Throttle, Package Synchronizer&#39;s &quot;Show All Packages in Programs and Features&quot;, and Direct Installer (aka Package-less Install) to Chocolatey. There are also numerous improvements to Package Builder, fixes and improvements to Package Internalizer and Self-Service. Package Throttle is in all licensed editions, allowing Pro, MSP, and C4B customers the ability to slow down Chocolatey as it downloads packages and any resources the packages are downloading. See more details each section below.</p>
<h3 id="breaking-changes">BREAKING CHANGES</h3>
<ul>
<li><p>[Security] Self-Service / Background Mode - support background mode with self-service sources only by default</p>
<p>If you are using self-service functionality, when you upgrade to v1.10, you will need to go to those sources that you allow to be self-service and ensure they are selected to allow self-service (<code>choco source list</code>). Otherwise by default users are going to be locked out of using those sources. The move to opt-in is best from a security standpoint and we want to give you the ability to have folks opt-in to the better behavior.</p>
<p>To change this behavior back to the way it was previously, simply run <code>choco disable -n useBackgroundServiceWithSelfServiceSourcesOnly</code>. For more details see <code>choco feature list</code> or <a href="https://chocolatey.org/docs/chocolatey-configuration#self-service-background-mode" class="uri">https://chocolatey.org/docs/chocolatey-configuration#self-service-background-mode</a></p></li>
</ul>
<h3 id="features">FEATURES</h3>
<ul>
<li><p>Package Throttle - Throttle Bandwidth / Rate Limit Download Speeds</p>
<p>By default, Chocolatey downloads packages and resources as fast as it can. Package Throttle gives you a way to slow down Chocolatey so it doesn&#39;t overwhelm any bandwidth restrictions you may have. This is done as both a setting and per package install/upgrade. This is in bits per second (not bytes, bits is what most network traffic is measured in). When adding at runtime, simply add <code>--bps=VALUE</code>. To set the value in the configuration, call <code>choco config set maximumDownloadRateBitsPerSecond VALUE</code>. For more details see <code>choco upgrade -?</code>, <code>choco config list</code> or <a href="https://chocolatey.org/docs/chocolatey-configuration#config-settings---licensed-edition" class="uri">https://chocolatey.org/docs/chocolatey-configuration#config-settings---licensed-edition</a></p></li>
<li><p>Package Synchronizer&#39;s Show All Packages In Programs and Features</p>
<p>This means packages that do not have an underlying installation can still show up in Programs and Features and be managed there as well, which allows for legacy inventory reporting systems to see all the software that is installed in the same way that Chocolatey is able to. A picture can probably best explain this feature, check out <a href="https://raw.githubusercontent.com/chocolatey/choco-wiki/e619d5d25018f9362d50749ee86554ebc4f4f04d/images/features/features_packages_in_programs_and_features.png">All Package In Programs and Features</a></p>
<p>To turn this feature on, simply run the following command <code>choco feature enable -n showAllPackagesInProgramsAndFeatures</code>. For more details on the feature, see <a href="https://chocolatey.org/docs/chocolatey-configuration#package-synchronizer" class="uri">https://chocolatey.org/docs/chocolatey-configuration#package-synchronizer</a> and <a href="https://chocolatey.org/docs/features-synchronize" class="uri">https://chocolatey.org/docs/features-synchronize</a>. This does require one additional run of <code>choco</code> to take affect (same when disabling the feature), hopefully we can remove that in the future.</p></li>
<li><p>Package-less Install / Direct Installer - Install and upgrade directly from installers (MSIs, EXEs, etc)!</p>
<p>If Package Builder can create a fully unattended package for an installer, you don&#39;t even need a package first. You can simply call <code>choco install nameoffile.msi</code> or <code>choco upgrade nameoffile.exe</code> and Chocolatey will generate packaging on the fly and install/upgrade the package!</p></li>
</ul>
<h3 id="bug-fixes-1">BUG FIXES</h3>
<ul>
<li>Fix - choco new generates uninstall template with wrong use of registry key variable - see <a href="https://github.com/chocolatey/choco/issues/1304">#1304</a></li>
<li>Package Internalizer (Choco Download):
<ul>
<li>Fix - Append UseOriginalLocation for multiline so that it adds a continuation and not a hanging parameter on a new line</li>
<li>Fix - Variable replacement wasn&#39;t working for <code>${value}</code> and <code>$($value)</code></li>
<li>Fix - Find and replace the original url in the script</li>
</ul></li>
</ul>
<h3 id="improvements-1">IMPROVEMENTS</h3>
<ul>
<li>[Security] Allow locking down new/download commands to admin only - added as feature flip switches (see <code>choco feature list</code>)</li>
<li>Self-Service / Background Mode:
<ul>
<li>Provide the user context to Chocolatey on install / upgrade (user context is original user requesting action)</li>
</ul></li>
<li>Package Builder (Choco New):
<ul>
<li>Find MSI Properties in CustomActions and in Properties table listed in Properties ending in &quot;Properties&quot;</li>
<li>Show possible silent options when installer type is not determinable or is found to be custom</li>
<li>General template improvements</li>
</ul></li>
<li>Package Internalizer (Choco Download):
<ul>
<li>Rewrite any scripts that <code>chocolateyInstall.ps1</code> uses into the <code>chocolateyInstall.ps1</code> file</li>
</ul></li>
</ul>
<h2 id="march-25-2017">1.9.8 (March 25, 2017)</h2>
<h3 id="bug-fixes-2">BUG FIXES</h3>
<ul>
<li>Fix - Ensure Chocolatey Licensed is compatible with Chocolatey v0.10.4.</li>
<li>Fix - AutoUninstaller - ensure uninstallExe is split by quotes when necessary - see <a href="https://github.com/chocolatey/choco/issues/1208">#1208</a></li>
<li>Package Synchronizer (Choco Sync):
<ul>
<li>Fix - Ensure template properties are cleared, even when skipping due to errors</li>
</ul></li>
<li>Package Builder (Choco New):
<ul>
<li>Fix - Ensure authors is never empty</li>
<li>Fix - Before setting properties from registry, ensure they have a value.</li>
<li>Fix - Replace invalid &quot;.-&quot; in package id</li>
</ul></li>
</ul>
<h2 id="march-20-2017">1.9.7 (March 20, 2017)</h2>
<h3 id="bug-fixes-3">BUG FIXES</h3>
<ul>
<li>Fix - Support automatic decompression on downloads - see <a href="https://github.com/chocolatey/choco/issues/1056">#1056</a></li>
<li>Fix - Package Builder - Restrict Get-UninstallRegistryKey params in chocolateyUninstall.ps1</li>
<li>Fix - Package Internalizer - exit non-zero when variable replacement fails</li>
</ul>
<h3 id="improvements-2">IMPROVEMENTS</h3>
<ul>
<li>Ensure PowerShell scripts use CRLF so authenticode verification doesn&#39;t fail</li>
<li>Install Directory should see <code>INSTALLFOLDER</code> MSI Property</li>
<li>Virus Scanner - provide context for other answers (No/Skip)</li>
<li>Allow both 32bit and 64bit file parameters with Install-ChocolateyInstallPackage - see <a href="https://github.com/chocolatey/choco/issues/1187">#1187</a></li>
</ul>
<h2 id="march-3-2017">1.9.6 (March 3, 2017)</h2>
<h3 id="bug-fixes-4">BUG FIXES</h3>
<ul>
<li>Fix - Ensure silent args in logs are escaped</li>
<li>Fix - Package Internalizer - use console adapter for downloading</li>
</ul>
<h3 id="improvements-3">IMPROVEMENTS</h3>
<ul>
<li>Ensure proxy values are used with Chocolatey v0.10.4+ - see <a href="https://github.com/chocolatey/choco/issues/1141">#1141</a> and <a href="https://github.com/chocolatey/choco/issues/1165">#1165</a></li>
<li>Install - do not create a <code>.ignore</code> file outside Chocolatey directories - same as <a href="https://github.com/chocolatey/choco/issues/1180">#1180</a></li>
<li>Package Synchronizer (Choco Sync):
<ul>
<li>Use local directory for outputting created packages by default.</li>
<li>Specify output directory for created packages.</li>
</ul></li>
</ul>
<h2 id="january-31-2017">1.9.5 (January 31, 2017)</h2>
<h3 id="bug-fixes-5">BUG FIXES</h3>
<ul>
<li>Fix - Error when running Install-ChocolateyInstallPackage without specifying silent arguments</li>
<li>Remove *.istext file before the content-type check that creates file - see <a href="https://github.com/chocolatey/choco/issues/1012">#1012</a></li>
</ul>
<h3 id="improvements-4">IMPROVEMENTS</h3>
<ul>
<li>Package Builder (Choco New):
<ul>
<li>Right click - create a package without bringing up the GUI.</li>
</ul></li>
<li>Package Internalizer (Choco Download)
<ul>
<li>Don&#39;t delete the download directory unless <code>--force</code></li>
</ul></li>
<li>Set user modes for terminal services (<code>change user /install</code> | <code>change user /execute</code>)</li>
</ul>
<h2 id="january-19-2017">1.9.4 (January 19, 2017)</h2>
<h3 id="bug-fixes-6">BUG FIXES</h3>
<ul>
<li>Fix - enabling preview features has no effect.</li>
</ul>
<h2 id="january-17-2017">1.9.3 (January 17, 2017)</h2>
<h3 id="bug-fixes-7">BUG FIXES</h3>
<ul>
<li>Fix - trial users unable to use Business edition of Package Builder UI.</li>
</ul>
<h2 id="january-17-2017-1">1.9.2 (January 17, 2017)</h2>
<h3 id="bug-fixes-8">BUG FIXES</h3>
<ul>
<li>Fix - virus scanner not working properly</li>
</ul>
<h2 id="january-16-2017">1.9.1 (January 16, 2017)</h2>
<h3 id="bug-fixes-9">BUG FIXES</h3>
<ul>
<li>Fix - Ensure Pro users can call Package Builder from the command line (&quot;packagebuilder&quot;) after install</li>
<li>Fix - Correct title of package to &quot;Chocolatey Licensed Edition&quot;</li>
</ul>
<h2 id="january-15-2017">1.9.0 (January 15, 2017)</h2>
<p>This release brings the coveted Package Builder UI to the Pro+ license (minus auto detection) and adds a tabbed interface that allows you to fill out the entire nuspec. Package Synchronizer now has <code>choco sync</code> to compliment the automatic synchronization. The sync command brings all unmanaged software in Programs and Features under Chocolatey management.</p>
<h3 id="features-1">FEATURES</h3>
<ul>
<li>Package Synchronizer v2 - <code>choco sync</code> to associate existing packages with unmanaged software - see <a href="https://chocolatey.org/docs/features-synchronize#sync-command" class="uri">https://chocolatey.org/docs/features-synchronize#sync-command</a></li>
<li>Package Builder UI:
<ul>
<li>Starts at Professional edition (minus autodetection)</li>
<li>Tabbed interface</li>
<li>Tab for entire Nuspec</li>
<li>[Business] Tab to generate from Programs and Features</li>
</ul></li>
</ul>
<h3 id="bug-fixes-10">BUG FIXES</h3>
<ul>
<li>Self-Service / Background Mode:
<ul>
<li>Fix - Add a line after progress is complete</li>
</ul></li>
<li>Fix - Automatic creation of ignore file in Install-ChocolateyInstallPackage throws errors when it fails - see <a href="https://github.com/chocolatey/chocolatey/issues/380">#380</a> for original issue.</li>
<li>Package Builder (Choco New):
<ul>
<li>Fix - remove &quot;version/ver&quot; if next to version number in DisplayName</li>
<li>Fix - todo / logging need to escape curly braces to properly format</li>
<li>Fix - continue on error</li>
</ul></li>
</ul>
<h3 id="improvements-5">IMPROVEMENTS</h3>
<ul>
<li>User can turn on Preview Features - <code>choco feature enable -n allowPreviewFeatures</code></li>
<li>InstallDirectory switch added to Install-ChocolateyInstallPackage</li>
<li>Package Internalizer (Choco Download)
<ul>
<li>option to ignore dependencies <code>--ignore-dependencies</code></li>
</ul></li>
<li>Package Builder (Choco New)
<ul>
<li>Generates package arguments with install directory override</li>
<li>Add optional scripts - beforeModify/uninstall</li>
<li>Add other template files</li>
<li>Remove any version number from package id</li>
<li>allow for quiet logging</li>
<li>auto detection fills out more fields for MSIs</li>
</ul></li>
<li>Self-Service / Background Mode Enhancements
<ul>
<li>Do not warn if command is <code>choco feature</code></li>
<li>Provide user context when background service not available</li>
</ul></li>
</ul>
<h2 id="january-5-2017">1.8.4 (January 5, 2017)</h2>
<h3 id="features-2">FEATURES</h3>
<ul>
<li>Support Self-Service Install / Background Mode - see <a href="https://chocolatey.org/docs/features-agent-service" class="uri">https://chocolatey.org/docs/features-agent-service</a></li>
<li>Manage Windows Services</li>
</ul>
<p>We&#39;ve introduced some service management functions to the business edition. <code>Install-ChocolateyWindowsService</code>, <code>Uninstall-ChocolateyWindowsService</code>, <code>Start-ChocolateyWindowsService</code>, and <code>Stop-ChocolateyWindowsService</code>. Those will be documented soon enough. For now some example code should suffice.</p>
<pre><code class="powershell">$toolsDir   = &quot;$(Split-Path -parent $MyInvocation.MyCommand.Definition)&quot;
$serviceExe = Join-Path $toolsDir &#39;service\chocolatey-agent.exe&#39;

$packageArgs = @@{
  Name                  = &#39;chocolatey-agent&#39;
  DisplayName           = &#39;Chocolatey Agent&#39;
  Description           = &#39;Chocolatey Agent is a backgound service for Chocolatey.&#39;
  StartupType           = &#39;Automatic&#39;
  ServiceExecutablePath = $serviceExe
}

#Username, Password, -DoNotStartService are also considered

Install-ChocolateyWindowsService @@packageArgs

# The other three methods simply take the service name.
Start-ChocolateyWindowsService -Name &#39;chocolatey-agent&#39;
Stop-ChocolateyWindowsService -Name &#39;chocolatey-agent&#39;
Uninstall-ChocolateyWindowsService -Name &#39;chocolatey-agent&#39;</code></pre>
<h3 id="bug-fixes-11">BUG FIXES</h3>
<ul>
<li>Package Synchronizer - Do not run automatic sync when non-elevated. It fails in weird ways</li>
<li>Package Builder (Choco New) - fix &quot;(Install)&quot; - append space in nuspec Title.</li>
</ul>
<h3 id="improvements-6">IMPROVEMENTS</h3>
<ul>
<li>Downloading remote files - don&#39;t show bytes, only formatted values</li>
<li>Authenticode sign licensed binaries</li>
</ul>
<h2 id="december-21-2016">1.8.3 (December 21, 2016)</h2>
<h3 id="features-3">FEATURES</h3>
<ul>
<li>Package Downloader/Internalizer (Choco Download):
<ul>
<li>Internalize package dependencies</li>
<li>Allow download to separate location than where package will edit for internal resources (<code>--download-location</code>)</li>
</ul></li>
</ul>
<h3 id="bug-fixes-12">BUG FIXES</h3>
<ul>
<li>Fix - Directory Override - ensure override switch is passed to .install/.portable package when passing switch to meta package.</li>
<li>Fix - Ensure web requests don&#39;t time out / are configurable - see <a href="https://github.com/chocolatey/choco/issues/732">#732</a></li>
<li>Package Builder (Choco New):
<ul>
<li>Fix - Cannot bind parameter because parameter &#39;fileType&#39; is specified more than once for <code>--keep-remote</code></li>
<li>Fix - UNC paths with <code>--use-original-location</code> should not use <code>Install-ChocolateyPackage</code></li>
<li>Fix - Escape double quotes in PowerShell strings</li>
</ul></li>
<li>Package Downloader/Internalizer (Choco Download):
<ul>
<li>Fix - Ignore commented out urls</li>
<li>Fix - Do not download from a url more than once even if a package has it listed more than once</li>
<li>Fix - Do not timeout for larger files</li>
</ul></li>
</ul>
<h3 id="improvements-7">IMPROVEMENTS</h3>
<ul>
<li>Directory Override - if MSI properties include INSTALLDIR or INSTALLLOCATION, use that instead of TARGETDIR</li>
<li>Package Builder (Choco New):
<ul>
<li>MSI Properties generated are cleaned up, duplicates removed from chocolateyInstall.ps1 comments</li>
<li>Generate from Programs and Features is faster, does not repeat for Uninstaller keys in both 32bit/64bit registry hives</li>
<li>Show downloaded file progress</li>
</ul></li>
<li>Package Downloader/Internalizer (Choco Download):
<ul>
<li>When chocolateyInstall.ps1 uses other ps1 files, ensure those are loaded for token replacement</li>
<li>Show downloaded file progress</li>
</ul></li>
</ul>
<h2 id="december-12-2016">1.8.2 (December 12, 2016)</h2>
<h3 id="bug-fixes-13">BUG FIXES</h3>
<ul>
<li>Package Builder (Choco New):
<ul>
<li>Fix - Ignore first argument for name if not a name. This will also be fixed in Chocolatey v0.10.4 with <a href="https://github.com/chocolatey/choco/issues/1085">#1085</a></li>
<li>Fix - PackageBuilder UI will request administrative permissions when run by admin.</li>
<li>Fix - Urls should be set when using original location.</li>
</ul></li>
<li>Package Downloader/Internalizer (Choco Download):
<ul>
<li>Fix - Do not use unparsed options as package names. Similar to <a href="https://github.com/chocolatey/choco/issues/983">#983</a>.</li>
</ul></li>
<li>Countdown days counting in incorrect direction</li>
</ul>
<h3 id="improvements-8">IMPROVEMENTS</h3>
<ul>
<li>Package Builder (Choco New):
<ul>
<li>version - add TODO if version is 0.0.0.0</li>
<li>outputdirectory option has more aliases.</li>
</ul></li>
</ul>
<h2 id="november-27-2016">1.8.1 (November 27, 2016)</h2>
<h3 id="bug-fixes-14">BUG FIXES</h3>
<ul>
<li>AutoUninstaller - Fix - do not fail on auto-detection of type when uninstall executable is not in the correct format.</li>
<li>Package Builder (Choco New):
<ul>
<li>Fix - Programs and Features - do not fail on auto-detection of type based on uninstall string</li>
</ul></li>
</ul>
<h3 id="improvements-9">IMPROVEMENTS</h3>
<ul>
<li>Package Builder (Choco New):
<ul>
<li>version - always set to 3 segments (x.y.z)</li>
<li>version - remove extra version segments when more than 4 segments are returned</li>
</ul></li>
</ul>
<h2 id="november-16-2016">1.8.0 (November 16, 2016)</h2>
<p>Package Builder has some major improvements in this release, including a new UI! See <a href="https://chocolatey.org/blog/package-builder-announcements" class="uri">https://chocolatey.org/blog/package-builder-announcements</a> for details! While building some of the features for the enhancements for this release, we&#39;ve made quite a few tweaks and fixes to Package Builder and we think you are going to like the results. Being able to generate packages from the installed software on a reference system is huge (<code>choco new --from-programs-and-features</code>)!</p>
<p>Pro users now have the ability to download packages (minus internalization). This is fantastic if you want to pull down a lot of packages quickly from a remote source. Or pull down packages and push them up to an internal source.</p>
<h3 id="features-4">FEATURES</h3>
<ul>
<li>Package Downloader comes to Pro+ Licenses - minus internalizer, you can now download a package using an easy command <code>choco download</code>.</li>
<li>Package Builder (Choco New):
<ul>
<li>Package Builder now has a UI - see <a href="https://youtu.be/qJNKR_PEQqY" class="uri">https://youtu.be/qJNKR_PEQqY</a> for details.</li>
<li>Right click on an exe, msi, zip (or other supported types) and click &quot;Create Package...&quot;</li>
<li>Package Builder - generate packages from installed software (Programs and Features) - see <a href="https://youtu.be/Mw_ReipnskI" class="uri">https://youtu.be/Mw_ReipnskI</a> for details.</li>
</ul></li>
</ul>
<h3 id="bug-fixes-15">BUG FIXES</h3>
<ul>
<li>Package Builder (Choco New):
<ul>
<li>Fix - silent arguments for MSU/MSP should not include the file itself.</li>
<li>Fix - remove comma if found.</li>
<li>Fix - remove trailing period.</li>
<li>Fix - Remove the entire word surrounding a version.</li>
</ul></li>
<li>Package Internalizer (Choco Download):
<ul>
<li>Fix - mixed line endings were causing &quot;Index was outside the bounds of the array&quot; errors.</li>
</ul></li>
<li>Package Synchronizer:
<ul>
<li>Fix - sync location should not be in the extensions folder, causes extension loading issues - a similar fix will be in open source to ignore the old sync location in v0.10.4 (see <a href="https://github.com/chocolatey/choco/issues/1041">#1041</a>).</li>
<li>Fix - sync over an existing synced package without error.</li>
</ul></li>
</ul>
<h3 id="improvements-10">IMPROVEMENTS</h3>
<ul>
<li>Uninstall - Uninstall software not managed with Chocolatey. Use something like <code>choco uninstall 7-zip* --from-programs-and-features</code> to ensure removal from Programs and Features directly.</li>
<li>VirusTotal - When a user cancels a virus check, set the proper exit code so that rollback occurs automatically - see <a href="https://github.com/chocolatey/choco/issues/985">#985</a>.</li>
<li>Package Builder (Choco New):
<ul>
<li>Return a TODO list when there are more things to do to finish packaging.</li>
<li>Set values to replace if they are not set.</li>
<li>Use company name for nuspec copyright if copyright is not available.</li>
<li>Provide more verbose logging when necessary.</li>
<li>Remove more installer wording - &quot;setup&quot;, &quot;remove only&quot;.</li>
<li>If we exhaust all other options for determining name and version, use the file name and split version from name.</li>
<li>Add or remove architecture from the package id - <code>choco new --include-architecture-in-name</code> and <code>choco new --remove-architecture-from-name</code>, respectively.</li>
</ul></li>
<li>Package Synchronizer:
<ul>
<li>Synchronize to a new location per package version.</li>
</ul></li>
</ul>
<h2 id="sep-22-2016">1.7.0 (Sep 22, 2016)</h2>
<h3 id="bug-fixes-16">BUG FIXES</h3>
<ul>
<li>Package Builder (Choco New) - Removed <code>fileFullPath</code> from install template - add back in when local zip only. Fixes an error as <code>file</code> and <code>fileFullPath</code> are aliases starting in 0.10.1.</li>
<li>Package Internalizer (Choco Download) - ensure logging does not incur log format exceptions</li>
<li>install/upgrade - Look for downloaded file at old path if replaced &#39;chocolatey\chocolatey&#39; path does not exist - see <a href="https://github.com/chocolatey/choco/issues/969">#969</a></li>
</ul>
<h3 id="improvements-11">IMPROVEMENTS</h3>
<ul>
<li>Package Builder (Choco New):
<ul>
<li><code>--build-package</code> to build a package after Package Builder creates the package all in one go.</li>
<li><code>--pause-on-error</code> to pause the output when there are errors for closer inspection (useful when run from a batch file).</li>
<li>Specify checksum and type - checksum will be verified against files/downloaded files.</li>
<li>Loads of improvements in how package id and title are determined and cleaned up.</li>
<li>Product versions and portions of product versions are removed from package id/title.</li>
</ul></li>
<li>Package Internalizer (Choco Download):
<ul>
<li>Add <code>--internalize</code> as alias to <code>--recompile</code>.</li>
<li>Warn of issue with <code>-UseOriginalLocation</code> when only using one file.</li>
<li>Add <code>--append-useoriginallocation</code> and feature internalizeAppendUseOriginalLocation that makes the determination to add to the end of <code>Install-ChocolateyPackage</code> when using local resources.</li>
</ul></li>
</ul>
<h2 id="sep-20-2016">1.6.3 (Sep 20, 2016)</h2>
<h3 id="bug-fixes-17">BUG FIXES</h3>
<ul>
<li>Require Chocolatey be upgraded to at least 0.10.1 due to internal incompatibilities that affect this extension.</li>
</ul>
<h2 id="sep-19-2016---pulled">1.6.2 (Sep 19, 2016 - pulled)</h2>
<h3 id="bug-fixes-18">BUG FIXES</h3>
<ul>
<li>Recompiled to work with 0.10.1. There were some internal changes that appear to affect the virus scanner and PackageBuilder.</li>
</ul>
<h3 id="improvements-12">IMPROVEMENTS</h3>
<ul>
<li>Install/upgrade - support MSP (patch files)</li>
<li>PackageBuilder - support MSU/MSP files</li>
</ul>
<h2 id="sep-8-2016">1.6.1 (Sep 8, 2016)</h2>
<h3 id="bug-fixes-19">BUG FIXES</h3>
<ul>
<li>Package Builder (Choco New):
<ul>
<li>Fix - Do not error on missing appsearch table in MSI.</li>
<li>Fix - Do not add similarly named items from AppSearch table to template properties more than once</li>
</ul></li>
</ul>
<h2 id="sep-8-2016-1">1.6.0 (Sep 8, 2016)</h2>
<p>Some really big improvements are now available in v1.6.0. We are excited to share them with you!</p>
<h3 id="features-5">FEATURES</h3>
<ul>
<li>Licensed Enhancements:
<ul>
<li>install/upgrade - pass sensitive arguments that are not shown/logged in Chocolatey to an installer - useful when you want to pass passwords but don&#39;t want them logged. Need Chocolatey v0.10.1+.</li>
<li>AutoUninstaller - determine type from original executable when FOSS is not able to detect installer type.</li>
</ul></li>
<li>Package Builder (Choco New):
<ul>
<li>Now supports downloading from url/url64 and determining whether to keep those files remote.</li>
<li>Switch to use original file location instead of copying into package</li>
<li>Specify both 32-bit/64-bit file</li>
<li>Work with zip files</li>
</ul></li>
</ul>
<h3 id="bug-fixes-20">BUG FIXES</h3>
<ul>
<li>Fix - changes related to working directory fixes for <a href="https://github.com/chocolatey/choco/issues/937">#937</a></li>
<li>Fix - double chocolatey folder name is not also applied to the passed in file name - see <a href="https://github.com/chocolatey/choco/issues/908">#908</a></li>
<li>Package Builder (Choco New):
<ul>
<li>Fix - remove parentheses from package names</li>
<li>Fix - keep template updated</li>
</ul></li>
<li>Package Internalizer (Choco Download):
<ul>
<li>Fix - handle downloaded files with the same name Sometimes the file name is the same when the architecture is different. Handle that by using the url counter for all additional files with the same name.</li>
</ul></li>
</ul>
<h3 id="improvements-13">IMPROVEMENTS</h3>
<ul>
<li>Remind About Upcoming Expiration - when the license is expiring within a month&#39;s time, remind the user about renewal</li>
<li>Package Builder (Choco New):
<ul>
<li>Handle -forcex86 with package creation</li>
<li>Add shimgen ignore for exes</li>
<li>Use ProductVersion when version 0.0.0.0</li>
<li>Remove the word &quot;installer&quot; from package name</li>
<li>Allow specifying name of the package</li>
<li>Allow template override with warning</li>
<li>Show MSI properties in install script (commented)</li>
<li>Ensure <code>ALLUSERS=1</code> when an MSI is set to per user by default</li>
<li>Automatically checksum files</li>
<li>Allow files to stay remote - use remote helpers when files stay remote</li>
</ul></li>
<li>Package Internalizer (Choco Download):
<ul>
<li>handle variables in urls set like ${word}</li>
<li>Append <code>-UseOriginalLocation</code> to the end of the arguments passed to Install-ChocolateyPackage. Work with splatting properly as well</li>
</ul></li>
</ul>
<h2 id="aug-9-2016">1.5.1 (Aug 9, 2016)</h2>
<h3 id="bug-fixes-21">BUG FIXES</h3>
<ul>
<li>Fix - Valid Exit Codes do not support values bigger than Int32.MaxValue. - see <a href="https://github.com/chocolatey/choco/issues/900">#900</a></li>
</ul>
<h3 id="improvements-14">IMPROVEMENTS</h3>
<ul>
<li>Package Internalizer (Choco Download) - specify resources location (when not embedding into package)</li>
</ul>
<h2 id="july-21-2016">1.5.0 (July 21, 2016)</h2>
<h3 id="features-6">FEATURES</h3>
<ul>
<li>[Business] Recompiled packages support aka Package Internalizer - Download a package and all remote resources, recompiling the package to use local resources instead.</li>
<li>Synchronize w/Programs and Features - Chocolatey synchronizes manually uninstalled software with package state.</li>
</ul>
<h3 id="bug-fixes-22">BUG FIXES</h3>
<ul>
<li>Fix - Silent Args being passed as a string array cause package failure - see <a href="https://github.com/chocolatey/choco/issues/808">#808</a></li>
</ul>
<h3 id="improvements-15">IMPROVEMENTS</h3>
<ul>
<li>VirusTotal - allow skipping check entirely - <a href="https://github.com/chocolatey/choco/issues/786">#786</a></li>
<li>Trial allows more features to work, but in a way that is not automatable.</li>
</ul>
<h2 id="june-20-2016">1.4.2 (June 20, 2016)</h2>
<h3 id="bug-fixes-23">BUG FIXES</h3>
<ul>
<li>Fix - Logging is broken in some packages due to new TEMP directory - <a href="https://github.com/chocolatey/choco/issues/813">#813</a></li>
</ul>
<h3 id="improvements-16">IMPROVEMENTS</h3>
<ul>
<li>Ensure log file path exists - <a href="https://github.com/chocolatey/choco/issues/758">#758</a></li>
</ul>
<h2 id="june-14-2016">1.4.1 (June 14, 2016)</h2>
<h3 id="bug-fixes-24">BUG FIXES</h3>
<ul>
<li>PowerShell v2 assembly was not loading. There was a dependency on an incorrect version of PowerShell assemblies, causing it to only attempt to load System.Management.Automation v3 and above - <a href="https://github.com/chocolatey/choco/issues/799">#799</a></li>
</ul>
<h2 id="june-13-2016">1.4.0 (June 13, 2016)</h2>
<h3 id="features-7">FEATURES</h3>
<ul>
<li>BETA Testers - Recompiled packages support - Download a package and all remote resources, recompiling the package to use local resources instead.</li>
<li>BETA Testers - Synchronize w/Programs and Features - Chocolatey synchronizes manually uninstalled software with package state.</li>
<li>[Business] Create Packages from Installers aka Package Builder! Create packages directly from software installers in seconds! <strong>Chocolatey for Business can automatically create packages for all the software your organization uses in under 5 minutes!</strong></li>
<li>New Command! choco support - quickly see how you can contact support - <a href="https://github.com/chocolatey/choco/issues/745">#745</a></li>
<li>Web functions for local files support - <a href="https://github.com/chocolatey/choco/issues/781">#781</a></li>
</ul>
<h3 id="improvements-17">IMPROVEMENTS</h3>
<ul>
<li>Support FIPS compliant algorithms <a href="https://github.com/chocolatey/choco/issues/446">#446</a></li>
</ul>
<h2 id="may-28-2016">1.3.2 (May 28, 2016)</h2>
<h3 id="bug-fixes-25">BUG FIXES</h3>
<ul>
<li>Get-WebFile name changes related to <a href="https://github.com/chocolatey/choco/issues/753">#753</a></li>
</ul>
<h3 id="improvements-18">IMPROVEMENTS</h3>
<ul>
<li>Clarified options with version and better messaging.</li>
</ul>
<h2 id="may-9-2016">1.3.1 (May 9, 2016)</h2>
<h3 id="bug-fixes-26">BUG FIXES</h3>
<ul>
<li>Get-WebFile name changes related to <a href="https://github.com/chocolatey/choco/issues/727">#727</a></li>
</ul>
<h3 id="improvements-19">IMPROVEMENTS</h3>
<ul>
<li>Report directory switch override.</li>
</ul>
<h2 id="may-2-2016">1.3.0 (May 2, 2016)</h2>
<h3 id="features-8">FEATURES</h3>
<ul>
<li>Ubiquitous Install Directory Switch! When working with properly formed packages that use Install-ChocolateyPackage (or Install-ChocolateyInstallPackage), Chocolatey is able to override the native installer&#39;s directory from one single option you provide to Chocolatey. You no longer need to know what the installer type is and provide that through install arguments. See <code>choco install -?</code> and <code>--install-directory</code> option for details.</li>
<li>Generic Virus Scanner - for organizations that don&#39;t want to run checks using VirusTotal, we&#39;ve provided a way for organizations to use their own virus scanner. See <code>choco config list</code> for details.</li>
</ul>
<p>### BUG FIXES</p>
<ul>
<li>Fix - Content Length check may error if original location is changed. This means the permanent download location will not error on other checks.</li>
<li>Fix - Original remote file name can be affected if original url has changed or is unavailable.</li>
</ul>
<h3 id="improvements-20">IMPROVEMENTS</h3>
<ul>
<li>Virus Scanner exits as soon as possible on files too big for the scanner. If the file is over 500MB, the scanner cannot upload the file, so it should not ask whether it can try to upload prior to failing on the size check (previous behavior).</li>
</ul>
<h2 id="march-14-2016">1.2.0 (March 14, 2016)</h2>
<h3 id="features-9">FEATURES</h3>
<ul>
<li>Virus scanning for Pro users! See the <a href="https://www.kickstarter.com/projects/ferventcoder/chocolatey-the-alternative-windows-store-like-yum/posts/1518468">post</a> for details!</li>
</ul>
<h2 id="february-12-2016">1.1.0 (February 12, 2016)</h2>
<h3 id="improvements-21">IMPROVEMENTS</h3>
<ul>
<li>License can now be in user profile (like <code>c:\Users\yourname\chocolatey.license.xml</code>). This is great for roaming user profiles and in multiple machine usage scenarios.</li>
<li>Download cache can be controlled with a feature flag and/or a command option. See <code>choco feature</code> and <code>choco install -h</code> for more details.</li>
</ul>
<h3 id="for-beta-testers">For BETA Testers</h3>
<ul>
<li>Virus Check improvements</li>
<li>Throw if virus check has not been done before.</li>
<li>Messaging is clarified</li>
<li>Skip or run virus check with command options - see <code>choco install -h</code> for details.</li>
</ul>
<h2 id="february-5-2016">1.0.2 (February 5, 2016)</h2>
<h3 id="bug-fixes-27">BUG FIXES</h3>
<ul>
<li>Fix - PowerShell 5 respects Cmdlet aliases, causing overrides on functions not ready (Install-ChocolateyPackage). See the <a href="https://www.kickstarter.com/projects/ferventcoder/chocolatey-the-alternative-windows-store-like-yum/posts/1484093">post</a> for details.</li>
</ul>
<h2 id="february-2-2016">1.0.1 (February 2, 2016)</h2>
<h3 id="bug-fixes-28">BUG FIXES</h3>
<ul>
<li>Fix - License location validation is incorrect.</li>
</ul>
<h2 id="february-1-2016">1.0.0 (February 1, 2016)</h2>
<h3 id="features-10">FEATURES</h3>
<ul>
<li>Alternate Permanent Download Location - see the <a href="https://www.kickstarter.com/projects/ferventcoder/chocolatey-the-alternative-windows-store-like-yum/posts/1479944">post</a> for details.</li>
</ul>
</article>
