@{
  ViewBag.Title = "ReleaseNotesLicensed";
}

<article>
<h1 id="chocolatey-release-notes---licensed-edition">Chocolatey Release Notes - Licensed Edition</h1>
<p>This covers the release notes for the &quot;chocolatey.extension&quot; package, where the licensed editions of Chocolatey get their enhanced functionality.</p>
<p><strong>NOTE</strong>: For licensed versions, refer to both this set of release notes and <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes" })">Open Source Release Notes</a>.</p>
<h2 id="february-1-2018">1.12.11 (February 1, 2018)</h2>
<p><strong>NOTE</strong>: We&#39;ve identified an issue with Self-Service interactive and UAC - we are working on a fix. Please see <a href="https://github.com/chocolatey/chocolatey-licensed-issues/issues/36">#36</a> and subscribe for details.</p>
<p>A few nice things going into this release with Package Reducer/Optimize coming out of preview, Package Internalizer allowing you to specify variable overrides</p>
<h3 id="breaking-changes">BREAKING CHANGES</h3>
<ul>
<li>Package Reducer is now on by default</li>
</ul>
<p>When we first released package reducer, it was in a preview mode to allow for folks to opt in to test it and find issues. Now we are turning it on by default. If you should experience issues with it, please contact support to file an issue (provide a zipped log as well). To turn it off should you not want to use it, you can just run <code>choco feature disable --name=reduceInstalledPackageSpaceUsage</code>.</p>
<h3 id="bug-fixes">BUG FIXES</h3>
<ul>
<li>Self-Service / Background Mode:<br />
* Fix - Work with empty sessions. Self-service users were incorrectly bypassing background service when their active session doesn&#39;t have a name, which has become common with Windows 10.<br />
* Fix - Allow self-service to work when the current working directory is different from system drive or a mapped drive. Also allow it to be set to locations where any user would not have a permissions error.</li>
<li>Package Internalizer (Choco Download):<br />
* Fix - When a variable is set to the contents of a file, work with that appropriately. A good example of this is <code>$data</code> variable in <a href="https://github.com/dotnetcore-chocolatey/dotnetcore-chocolateypackages/blob/d5960c11dda388cc7f7ab6438eee8984774f7662/dotnetcore-runtime.install/tools/ChocolateyInstall.ps1#L4">dotnetcore-runtime</a> package.<br />
* Fix - Allow setting variable when there is a comment on the same line following the set. An example of this is in the <a href="https://github.com/chocolatey/chocolatey-coreteampackages/blob/91f4e51f5c8503ca962c22a2f087b96d22ae0e9f/automatic/firefox/tools/chocolateyInstall.ps1#L26">Firefox</a> package.</li>
<li>Package Builder (Choco New):<br />
* Fix - Package Builder UI should recognize Architect and MSP editions and correctly set the UI for use with them.<br />
* Fix - Extract icon from the proper location for the file.</li>
</ul>
<h3 id="improvements">IMPROVEMENTS</h3>
<ul>
<li>Package Internalizer (Choco Download):<br />
* Override variables in the installation script. When you see something like <code>$locale</code> being set and you want to override it to your own value for internalization, you can pass that variable name and value as a key value pair. As an example, try <code>choco download thunderbird --internalize locale=en-US</code> versus <code>choco download thunderbird --internalize locale=es-ES</code>.</li>
<li>Package Reducer - <code>choco optimize</code> command out of preview.</li>
<li>Package Builder (Choco New):<br />
* Extract icons from MSIs as well.<br />
* Package Builder UI logo animzation should match chocolatey website.</li>
</ul>
<h2 id="december-18-2017">1.12.10 (December 18, 2017)</h2>
<h3 id="features">FEATURES</h3>
<ul>
<li>Run background service interactively - sometimes you install applications that are unattended but cannot be silent.</li>
</ul>
<p>If you want self-service to interactively manage installations, run <code>choco feature enable --name=useBackgroundServiceInteractively</code>. This requires that you use the <code>ChocolateyLocalAdmin</code> account with the Chocolatey-managed password as passwords are not stored and the service would need to produce that at runtime. There are some security considerations and why this is not turned on by default. Please see <a href="https://chocolatey.org/docs/features-agent-service#interactive-self-service-consideration">interactive self-service consideration</a>.</p>
<h3 id="bug-fixes-1">BUG FIXES</h3>
<ul>
<li>Windows Service Management Functions:<br />
* Fix - Adding user to Administrators no longer fails with &quot;Network path was not found&quot; when there are domain users and local users in the administrators group.</li>
<li>Package Builder (Choco New):<br />
* Fix - Create packages from non-admin (instead of access denied error).<br />
* Fix - Don&#39;t attempt to generate an icon unless a file for that icon exists.</li>
</ul>
<h3 id="improvements-1">IMPROVEMENTS</h3>
<ul>
<li>Package Builder (Choco New):<br />
* Right click create package w/out GUI should pause on error. This allows a user to see any errors instead of closing quickly.<br />
* Do not generate template files if not using the default template.</li>
</ul>
<h2 id="november-10-2017">1.12.9 (November 10, 2017)</h2>
<h3 id="bug-fixes-2">BUG FIXES</h3>
<ul>
<li>Fix: Changes in 1.12.7 restrict some install/upgrade licensed functionality from loading.</li>
<li>Windows Service Management Functions:<br />
* Fix - Domain Users should be found by domain context.<br />
* Fix - Throw Error if unable to ensure user or administrators membership.<br />
* Fix - Domain Users should not attempt to generate password.</li>
<li>Package Synchronizer (Choco Sync):<br />
* Fix - syncing new items use &quot;sync&quot; as user name when capturing information for Package Audit.</li>
<li>Package Builder (Choco New):<br />
* Fix - additional directories from programs and features not cleared each time.</li>
</ul>
<h3 id="improvements-2">IMPROVEMENTS</h3>
<ul>
<li>Package Builder (Choco New):<br />
* Show Install Arguments in Nuspec with MSI Properties.<br />
* Extract icon from Programs and Features.<br />
* Extract icon from exe files.</li>
</ul>
<h2 id="october-25-2017">1.12.8 (October 25, 2017)</h2>
<h3 id="bug-fixes-3">BUG FIXES</h3>
<ul>
<li>Fix - &quot;The registered delegate for type IEnumerable threw an exception. Unable to find suitable location for change.exe.&quot;</li>
</ul>
<h2 id="october-25-2017-1">1.12.7 (October 25, 2017)</h2>
<h3 id="bug-fixes-4">BUG FIXES</h3>
<ul>
<li>Fix - &quot;ERROR: The term &#39;Invoke-ChocolateyProcessCmdlet&#39; is not recognized as the name of a cmdlet, function, script file, or operable program&quot; on upgrade all</li>
</ul>
<h2 id="october-24-2017">1.12.6 (October 24, 2017)</h2>
<h3 id="bug-fixes-5">BUG FIXES</h3>
<ul>
<li>Fix - <code>change.exe</code> could not be found when running Chocolatey GUI over RDP (Terminal Services).</li>
<li>Self-Service / Background Mode:<br />
* Fix - Set USER_CONTEXT environment variable to contain the user context information.</li>
</ul>
<h3 id="improvements-3">IMPROVEMENTS</h3>
<ul>
<li><code>Install-ChocolateyInstallPackage</code> - pass in answer file (<code>-AnswerFile</code>) to provide to stdin.</li>
</ul>
<h2 id="september-28-2017">1.12.5 (September 28, 2017)</h2>
<h3 id="bug-fixes-6">BUG FIXES</h3>
<ul>
<li>Windows Service Management Functions:<br />
* Fix - Do not save created user prior to setting complex password.</li>
</ul>
<h2 id="september-27-2017">1.12.4 (September 27, 2017)</h2>
<h3 id="bug-fixes-7">BUG FIXES</h3>
<ul>
<li>Self-Service / Background Mode:<br />
* Fix - Ensure that it configures and works appropriately with Chocolatey API (and the Chocolatey GUI)</li>
</ul>
<h3 id="improvements-4">IMPROVEMENTS</h3>
<ul>
<li>Self-Service / Background Mode:<br />
* Allow commands to be configurable. Covered in more detail at <a href="https://chocolatey.org/docs/features-agent-service#setup" class="uri">https://chocolatey.org/docs/features-agent-service#setup</a>.</li>
</ul>
<h2 id="september-8-2017">1.12.3 (September 8, 2017)</h2>
<h3 id="bug-fixes-8">BUG FIXES</h3>
<ul>
<li>[Security] Fix - Hide admin only repositories from non-administrators with all Chocolatey commands.</li>
<li>Windows Service Management Functions:<br />
* Fix - Empty username causes errors. Will now set to what the configuration of Chocolatey is determining.</li>
<li>Package Internalizer (Choco Download):<br />
* Fix - Pass multiple package names to download/internalize (<code>choco download pkg1 pkg2 pkgN</code>).</li>
<li>Self-Service / Background Mode:<br />
* Fix - Don&#39;t display background services messages when background mode is not configured.</li>
<li>Package Reducer:<br />
* Fix - Package reducer fails the install when there is no package information.</li>
</ul>
<h3 id="improvements-5">IMPROVEMENTS</h3>
<ul>
<li>choco sync is now out of preview.</li>
</ul>
<h2 id="august-31-2017">1.12.2 (August 31, 2017)</h2>
<h3 id="features-1">FEATURES</h3>
<ul>
<li>[Security] choco source/list - Administrator only visible repositories. Hide repositories from non-administrators who are using Chocolatey (C4B).</li>
<li>choco pin - Provide a reason when pinning to be seen in outdated by others (C4B).</li>
</ul>
<h3 id="bug-fixes-9">BUG FIXES</h3>
<ul>
<li>Package Synchronizer (Automatic Sync):<br />
* Fix - Ignore HKCU pkg on sync when different user instead of removing the package.</li>
<li>Package Builder (Choco New):<br />
* Fix - remove &quot;rel[ease]&quot; next to version when building package id.<br />
* Fix - remove &#39;self-installing&#39; when building package id.</li>
<li>Fix - Logging - log sync messages directly to log file when using limit output (<code>-r</code>).</li>
<li>Fix - Download CDN Cache - If original url was switch to TLS/SSL by choco, the cache check doesn&#39;t override for the file on the CDN.</li>
</ul>
<h3 id="improvements-6">IMPROVEMENTS</h3>
<ul>
<li>[Security] Runtime - Allow locking down all Chocolatey use to Administrators only (don&#39;t allow non-admins to run choco at all) - added as feature flip (see <code>choco feature list</code>).</li>
<li>Package Internalizer (Choco Download):<br />
* Pass multiple package names to download/internalize (<code>choco download pkg1 pkg2 pkgN</code>).<br />
* Downloaded resources will use download CDN cache if available.</li>
<li>Windows Service Management Functions:<br />
* Allow upgrading services without a restart - pass <code>-DoNotReinstallService</code> to <code>Install-ChocolateyWindowsService</code>.</li>
<li>Package Synchronizer (Choco Sync):<br />
* Specify package name when syncing by id (<code>--id=&quot;'Display Name*'&quot; --package-id=package-id</code>).</li>
<li>Installation - Disable install of context menus with <code>--params &quot;'/NoContextMenu'&quot;</code>. Currently only new installs (removal on upgrade will come in a future release).</li>
<li>Package Builder (Choco New):<br />
* When an MSI has external files, ensure to copy those into the packaging as well. Requires same folder structure that would be used at install time successfully.</li>
<li>Package Reducer:<br />
* Treat MST files as removable binaries.</li>
</ul>
<h2 id="july-13-2017">1.12.1 (July 13, 2017)</h2>
<p>Among the bug fixes, we&#39;ve brought Package Internalizer to the MSP edition of Chocolatey.</p>
<h3 id="bug-fixes-10">BUG FIXES</h3>
<ul>
<li>Fix - Configuration item is not serialized, causing issues with installs with packages.config and ChocolateyGUI.</li>
<li>Package Synchronizer (Choco Sync):<br />
* Fix - syncing new items should capture audit information for Package Audit.</li>
<li>Self-Service / Background Mode<br />
* Fix - timeout should be near infinite when execution timeout is 0.<br />
* Fix - loading commands over PowerShell remoting can fail.<br />
* Fix - do not configure background service unless it applies.</li>
</ul>
<h3 id="improvements-7">IMPROVEMENTS</h3>
<ul>
<li>Package Internalizer is now available for MSP edition as well.</li>
</ul>
<h2 id="july-10-2017">1.12.0 (July 10, 2017)</h2>
<h3 id="features-2">FEATURES</h3>
<ul>
<li><p>Package Reducer / Optimize (All licensed editions) - Reduce Space Usage for Chocolatey Installations</p>
<pre><code class="nohighlight">If you have a significant number of Chocolatey packages you manage, you may notice that you also may have a pretty significant space usage under the Chocolatey lib directory. Package reducer automatically decreases the size of nupkg files to around 5KB and removes installers and zips automatically from your package install directories. This may allow you to save GBs of usage for a large amount of packages being managed.

To learn more about Package Reducer and `choco optimize`, please see https://chocolatey.org/docs/features-package-reducer.</code></pre></li>
<li><p>Package Audit (C4B) - Learn Who and When</p>
<pre><code class="nohighlight">Reporting is very important, and auditing not only when your installations occurred but who installed them can be critical. There is nothing that presents this kind of information as easily as you will be able to gather it with Chocolatey for Business (C4B) and Package Audit.

To learn more about Package Audit, please see https://chocolatey.org/docs/features-package-audit.</code></pre></li>
</ul>
<h3 id="improvements-8">IMPROVEMENTS</h3>
<ul>
<li>Package Internalizer (Choco Download):<br />
* Option (<code>--internalize-all-urls</code>) to internalize any url in a package (not just if the package scripts contain known-compatible known functions).</li>
<li>Self-Service / Background Mode:<br />
* Added <code>useBackgroundServiceWithNonAdministratorsOnly</code> feature switch to skip background mode for administrators.</li>
<li>Windows Service Management Functions:<br />
* Added <code>useLocalSystemForServiceInstalls</code> feature switch to disable using LocalSystem as the user for services by default.<br />
* Added config settings to provide local user / password.<br />
* If the password is empty or not provided, Chocolatey will manage the password securely.<br />
* If the user doesn&#39;t exist, the account will be created<br />
* Accounts are ensured to be administrators<br />
* Accounts are ensured to have Log on as service and batch rights.</li>
</ul>
<h2 id="june-27-2017">1.11.0 (June 27, 2017)</h2>
<h3 id="bug-fixes-11">BUG FIXES</h3>
<ul>
<li>Self-Service / Background Mode<br />
* Fix - Use a URI with WCF named pipes that doesn&#39;t exclusively hold a lock on the root (blocking other services). Fallback to old URI for versions of chocolatey-agent less than 0.7.0+. - see <a href="https://github.com/chocolatey/chocolatey-licensed-issues/issues/12">#12</a>.<br />
* Fix - Ensure chocolatey.lib can send arguments through and not just choco.exe.</li>
</ul>
<h3 id="improvements-9">IMPROVEMENTS</h3>
<ul>
<li>Package Synchronizer - update registry links when software updates</li>
</ul>
<h2 id="june-9-2017">1.10.0 (June 9, 2017)</h2>
<p>This release brings Package Throttle, Package Synchronizer&#39;s &quot;Show All Packages in Programs and Features&quot;, and Direct Installer (aka Package-less Install) to Chocolatey. There are also numerous improvements to Package Builder, fixes and improvements to Package Internalizer and Self-Service. Package Throttle is in all licensed editions, allowing Pro, MSP, and C4B customers the ability to slow down Chocolatey as it downloads packages and any resources the packages are downloading. See more details each section below.</p>
<h3 id="breaking-changes-1">BREAKING CHANGES</h3>
<ul>
<li><p>[Security] Self-Service / Background Mode - support background mode with self-service sources only by default</p>
<pre><code class="nohighlight">If you are using self-service functionality, when you upgrade to v1.10, you will need to go to those sources that you allow to be self-service and ensure they are selected to allow self-service (`choco source list`). Otherwise by default users are going to be locked out of using those sources. The move to opt-in is best from a security standpoint and we want to give you the ability to have folks opt-in to the better behavior.

To change this behavior back to the way it was previously, simply run `choco disable -n useBackgroundServiceWithSelfServiceSourcesOnly`. For more details see `choco feature list` or https://chocolatey.org/docs/chocolatey-configuration#self-service-background-mode</code></pre></li>
</ul>
<h3 id="features-3">FEATURES</h3>
<ul>
<li><p>Package Throttle - Throttle Bandwidth / Rate Limit Download Speeds</p>
<pre><code class="nohighlight">By default, Chocolatey downloads packages and resources as fast as it can. Package Throttle gives you a way to slow down Chocolatey so it doesn&#39;t overwhelm any bandwidth restrictions you may have. This is done as both a setting and per package install/upgrade. This is in bits per second (not bytes, bits is what most network traffic is measured in). When adding at runtime, simply add `--bps=VALUE`. To set the value in the configuration, call `choco config set maximumDownloadRateBitsPerSecond VALUE`. For more details see `choco upgrade -?`, `choco config list` or https://chocolatey.org/docs/chocolatey-configuration#config-settings---licensed-edition</code></pre></li>
<li><p>Package Synchronizer&#39;s Show All Packages In Programs and Features</p>
<pre><code class="nohighlight">This means packages that do not have an underlying installation can still show up in Programs and Features and be managed there as well, which allows for legacy inventory reporting systems to see all the software that is installed in the same way that Chocolatey is able to. A picture can probably best explain this feature, check out [All Package In Programs and Features](https://raw.githubusercontent.com/chocolatey/choco-wiki/e619d5d25018f9362d50749ee86554ebc4f4f04d/images/features/features_packages_in_programs_and_features.png)

To turn this feature on, simply run the following command `choco feature enable -n showAllPackagesInProgramsAndFeatures`. For more details on the feature, see https://chocolatey.org/docs/chocolatey-configuration#package-synchronizer and https://chocolatey.org/docs/features-synchronize. This does require one additional run of `choco` to take affect (same when disabling the feature), hopefully we can remove that in the future.</code></pre></li>
<li><p>Package-less Install / Direct Installer - Install and upgrade directly from installers (MSIs, EXEs, etc)!</p>
<pre><code class="nohighlight">If Package Builder can create a fully unattended package for an installer, you don&#39;t even need a package first. You can simply call `choco install nameoffile.msi` or `choco upgrade nameoffile.exe` and Chocolatey will generate packaging on the fly and install/upgrade the package!</code></pre></li>
</ul>
<h3 id="bug-fixes-12">BUG FIXES</h3>
<ul>
<li>Fix - choco new generates uninstall template with wrong use of registry key variable - see <a href="https://github.com/chocolatey/choco/issues/1304">#1304</a></li>
<li>Package Internalizer (Choco Download):<br />
* Fix - Append UseOriginalLocation for multiline so that it adds a continuation and not a hanging parameter on a new line<br />
* Fix - Variable replacement wasn&#39;t working for <code>${value}</code> and <code>$($value)</code><br />
* Fix - Find and replace the original url in the script</li>
</ul>
<h3 id="improvements-10">IMPROVEMENTS</h3>
<ul>
<li>[Security] Allow locking down new/download commands to admin only - added as feature flip switches (see <code>choco feature list</code>)</li>
<li>Self-Service / Background Mode:<br />
* Provide the user context to Chocolatey on install / upgrade (user context is original user requesting action)</li>
<li>Package Builder (Choco New):<br />
* Find MSI Properties in CustomActions and in Properties table listed in Properties ending in &quot;Properties&quot;<br />
* Show possible silent options when installer type is not determinable or is found to be custom<br />
* General template improvements</li>
<li>Package Internalizer (Choco Download):<br />
* Rewrite any scripts that <code>chocolateyInstall.ps1</code> uses into the <code>chocolateyInstall.ps1</code> file</li>
</ul>
<h2 id="march-25-2017">1.9.8 (March 25, 2017)</h2>
<h3 id="bug-fixes-13">BUG FIXES</h3>
<ul>
<li>Fix - Ensure Chocolatey Licensed is compatible with Chocolatey v0.10.4.</li>
<li>Fix - AutoUninstaller - ensure uninstallExe is split by quotes when necessary - see <a href="https://github.com/chocolatey/choco/issues/1208">#1208</a></li>
<li>Package Synchronizer (Choco Sync):<br />
* Fix - Ensure template properties are cleared, even when skipping due to errors</li>
<li>Package Builder (Choco New):<br />
* Fix - Ensure authors is never empty<br />
* Fix - Before setting properties from registry, ensure they have a value.<br />
* Fix - Replace invalid &quot;.-&quot; in package id</li>
</ul>
<h2 id="march-20-2017">1.9.7 (March 20, 2017)</h2>
<h3 id="bug-fixes-14">BUG FIXES</h3>
<ul>
<li>Fix - Support automatic decompression on downloads - see <a href="https://github.com/chocolatey/choco/issues/1056">#1056</a></li>
<li>Fix - Package Builder - Restrict Get-UninstallRegistryKey params in chocolateyUninstall.ps1</li>
<li>Fix - Package Internalizer - exit non-zero when variable replacement fails</li>
</ul>
<h3 id="improvements-11">IMPROVEMENTS</h3>
<ul>
<li>Ensure PowerShell scripts use CRLF so authenticode verification doesn&#39;t fail</li>
<li>Install Directory should see <code>INSTALLFOLDER</code> MSI Property</li>
<li>Virus Scanner - provide context for other answers (No/Skip)</li>
<li>Allow both 32bit and 64bit file parameters with Install-ChocolateyInstallPackage - see <a href="https://github.com/chocolatey/choco/issues/1187">#1187</a></li>
</ul>
<h2 id="march-3-2017">1.9.6 (March 3, 2017)</h2>
<h3 id="bug-fixes-15">BUG FIXES</h3>
<ul>
<li>Fix - Ensure silent args in logs are escaped</li>
<li>Fix - Package Internalizer - use console adapter for downloading</li>
</ul>
<h3 id="improvements-12">IMPROVEMENTS</h3>
<ul>
<li>Ensure proxy values are used with Chocolatey v0.10.4+ - see <a href="https://github.com/chocolatey/choco/issues/1141">#1141</a> and <a href="https://github.com/chocolatey/choco/issues/1165">#1165</a></li>
<li>Install - do not create a <code>.ignore</code> file outside Chocolatey directories - same as <a href="https://github.com/chocolatey/choco/issues/1180">#1180</a></li>
<li>Package Synchronizer (Choco Sync):<br />
* Use local directory for outputting created packages by default.<br />
* Specify output directory for created packages.</li>
</ul>
<h2 id="january-31-2017">1.9.5 (January 31, 2017)</h2>
<h3 id="bug-fixes-16">BUG FIXES</h3>
<ul>
<li>Fix - Error when running Install-ChocolateyInstallPackage without specifying silent arguments</li>
<li>Remove *.istext file before the content-type check that creates file - see <a href="https://github.com/chocolatey/choco/issues/1012">#1012</a></li>
</ul>
<h3 id="improvements-13">IMPROVEMENTS</h3>
<ul>
<li>Package Builder (Choco New):<br />
* Right click - create a package without bringing up the GUI.</li>
<li>Package Internalizer (Choco Download)<br />
* Don&#39;t delete the download directory unless <code>--force</code></li>
<li>Set user modes for terminal services (<code>change user /install</code> | <code>change user /execute</code>)</li>
</ul>
<h2 id="january-19-2017">1.9.4 (January 19, 2017)</h2>
<h3 id="bug-fixes-17">BUG FIXES</h3>
<ul>
<li>Fix - enabling preview features has no effect.</li>
</ul>
<h2 id="january-17-2017">1.9.3 (January 17, 2017)</h2>
<h3 id="bug-fixes-18">BUG FIXES</h3>
<ul>
<li>Fix - trial users unable to use Business edition of Package Builder UI.</li>
</ul>
<h2 id="january-17-2017-1">1.9.2 (January 17, 2017)</h2>
<h3 id="bug-fixes-19">BUG FIXES</h3>
<ul>
<li>Fix - virus scanner not working properly</li>
</ul>
<h2 id="january-16-2017">1.9.1 (January 16, 2017)</h2>
<h3 id="bug-fixes-20">BUG FIXES</h3>
<ul>
<li>Fix - Ensure Pro users can call Package Builder from the command line (&quot;packagebuilder&quot;) after install</li>
<li>Fix - Correct title of package to &quot;Chocolatey Licensed Edition&quot;</li>
</ul>
<h2 id="january-15-2017">1.9.0 (January 15, 2017)</h2>
<p>This release brings the coveted Package Builder UI to the Pro+ license (minus auto detection) and adds a tabbed interface that allows you to fill out the entire nuspec. Package Synchronizer now has <code>choco sync</code> to compliment the automatic synchronization. The sync command brings all unmanaged software in Programs and Features under Chocolatey management.</p>
<h3 id="features-4">FEATURES</h3>
<ul>
<li>Package Synchronizer v2 - <code>choco sync</code> to associate existing packages with unmanaged software - see <a href="https://chocolatey.org/docs/features-synchronize#sync-command" class="uri">https://chocolatey.org/docs/features-synchronize#sync-command</a></li>
<li>Package Builder UI:<br />
* Starts at Professional edition (minus autodetection)<br />
* Tabbed interface<br />
* Tab for entire Nuspec<br />
* [Business] Tab to generate from Programs and Features</li>
</ul>
<h3 id="bug-fixes-21">BUG FIXES</h3>
<ul>
<li>Self-Service / Background Mode:<br />
* Fix - Add a line after progress is complete</li>
<li>Fix - Automatic creation of ignore file in Install-ChocolateyInstallPackage throws errors when it fails - see <a href="https://github.com/chocolatey/chocolatey/issues/380">#380</a> for original issue.</li>
<li>Package Builder (Choco New):<br />
* Fix - remove &quot;version/ver&quot; if next to version number in DisplayName<br />
* Fix - todo / logging need to escape curly braces to properly format<br />
* Fix - continue on error</li>
</ul>
<h3 id="improvements-14">IMPROVEMENTS</h3>
<ul>
<li>User can turn on Preview Features - <code>choco feature enable -n allowPreviewFeatures</code></li>
<li>InstallDirectory switch added to Install-ChocolateyInstallPackage</li>
<li>Package Internalizer (Choco Download)<br />
* option to ignore dependencies <code>--ignore-dependencies</code></li>
<li>Package Builder (Choco New)<br />
* Generates package arguments with install directory override<br />
* Add optional scripts - beforeModify/uninstall<br />
* Add other template files<br />
* Remove any version number from package id<br />
* allow for quiet logging<br />
* auto detection fills out more fields for MSIs</li>
<li>Self-Service / Background Mode Enhancements<br />
* Do not warn if command is <code>choco feature</code><br />
* Provide user context when background service not available</li>
</ul>
<h2 id="january-5-2017">1.8.4 (January 5, 2017)</h2>
<h3 id="features-5">FEATURES</h3>
<ul>
<li>Support Self-Service Install / Background Mode - see <a href="https://chocolatey.org/docs/features-agent-service" class="uri">https://chocolatey.org/docs/features-agent-service</a></li>
<li>Manage Windows Services</li>
</ul>
<p>We&#39;ve introduced some service management functions to the business edition. <code>Install-ChocolateyWindowsService</code>, <code>Uninstall-ChocolateyWindowsService</code>, <code>Start-ChocolateyWindowsService</code>, and <code>Stop-ChocolateyWindowsService</code>. Those will be documented soon enough. For now some example code should suffice.</p>
<pre><code class="powershell">$toolsDir   = &quot;$(Split-Path -parent $MyInvocation.MyCommand.Definition)&quot;
$serviceExe = Join-Path $toolsDir &#39;service\chocolatey-agent.exe&#39;

$packageArgs = @@{
  Name                  = &#39;chocolatey-agent&#39;
  DisplayName           = &#39;Chocolatey Agent&#39;
  Description           = &#39;Chocolatey Agent is a backgound service for Chocolatey.&#39;
  StartupType           = &#39;Automatic&#39;
  ServiceExecutablePath = $serviceExe
}

#Username, Password, -DoNotStartService are also considered

Install-ChocolateyWindowsService @@packageArgs

# The other three methods simply take the service name.
Start-ChocolateyWindowsService -Name &#39;chocolatey-agent&#39;
Stop-ChocolateyWindowsService -Name &#39;chocolatey-agent&#39;
Uninstall-ChocolateyWindowsService -Name &#39;chocolatey-agent&#39;</code></pre>
<h3 id="bug-fixes-22">BUG FIXES</h3>
<ul>
<li>Package Synchronizer - Do not run automatic sync when non-elevated. It fails in weird ways</li>
<li>Package Builder (Choco New) - fix &quot;(Install)&quot; - append space in nuspec Title.</li>
</ul>
<h3 id="improvements-15">IMPROVEMENTS</h3>
<ul>
<li>Downloading remote files - don&#39;t show bytes, only formatted values</li>
<li>Authenticode sign licensed binaries</li>
</ul>
<h2 id="december-21-2016">1.8.3 (December 21, 2016)</h2>
<h3 id="features-6">FEATURES</h3>
<ul>
<li>Package Downloader/Internalizer (Choco Download):<br />
* Internalize package dependencies<br />
* Allow download to separate location than where package will edit for internal resources (<code>--download-location</code>)</li>
</ul>
<h3 id="bug-fixes-23">BUG FIXES</h3>
<ul>
<li>Fix - Directory Override - ensure override switch is passed to .install/.portable package when passing switch to meta package.</li>
<li>Fix - Ensure web requests don&#39;t time out / are configurable - see <a href="https://github.com/chocolatey/choco/issues/732">#732</a></li>
<li>Package Builder (Choco New):<br />
* Fix - Cannot bind parameter because parameter &#39;fileType&#39; is specified more than once for <code>--keep-remote</code><br />
* Fix - UNC paths with <code>--use-original-location</code> should not use <code>Install-ChocolateyPackage</code><br />
* Fix - Escape double quotes in PowerShell strings</li>
<li>Package Downloader/Internalizer (Choco Download):<br />
* Fix - Ignore commented out urls<br />
* Fix - Do not download from a url more than once even if a package has it listed more than once<br />
* Fix - Do not timeout for larger files</li>
</ul>
<h3 id="improvements-16">IMPROVEMENTS</h3>
<ul>
<li>Directory Override - if MSI properties include INSTALLDIR or INSTALLLOCATION, use that instead of TARGETDIR</li>
<li>Package Builder (Choco New):<br />
* MSI Properties generated are cleaned up, duplicates removed from chocolateyInstall.ps1 comments<br />
* Generate from Programs and Features is faster, does not repeat for Uninstaller keys in both 32bit/64bit registry hives<br />
* Show downloaded file progress</li>
<li>Package Downloader/Internalizer (Choco Download):<br />
* When chocolateyInstall.ps1 uses other ps1 files, ensure those are loaded for token replacement<br />
* Show downloaded file progress</li>
</ul>
<h2 id="december-12-2016">1.8.2 (December 12, 2016)</h2>
<h3 id="bug-fixes-24">BUG FIXES</h3>
<ul>
<li>Package Builder (Choco New):<br />
* Fix - Ignore first argument for name if not a name. This will also be fixed in Chocolatey v0.10.4 with <a href="https://github.com/chocolatey/choco/issues/1085">#1085</a><br />
* Fix - PackageBuilder UI will request administrative permissions when run by admin.<br />
* Fix - Urls should be set when using original location.</li>
<li>Package Downloader/Internalizer (Choco Download):<br />
* Fix - Do not use unparsed options as package names. Similar to <a href="https://github.com/chocolatey/choco/issues/983">#983</a>.</li>
<li>Countdown days counting in incorrect direction</li>
</ul>
<h3 id="improvements-17">IMPROVEMENTS</h3>
<ul>
<li>Package Builder (Choco New):<br />
* version - add TODO if version is 0.0.0.0<br />
* outputdirectory option has more aliases.</li>
</ul>
<h2 id="november-27-2016">1.8.1 (November 27, 2016)</h2>
<h3 id="bug-fixes-25">BUG FIXES</h3>
<ul>
<li>AutoUninstaller - Fix - do not fail on auto-detection of type when uninstall executable is not in the correct format.</li>
<li>Package Builder (Choco New):<br />
* Fix - Programs and Features - do not fail on auto-detection of type based on uninstall string</li>
</ul>
<h3 id="improvements-18">IMPROVEMENTS</h3>
<ul>
<li>Package Builder (Choco New):<br />
* version - always set to 3 segments (x.y.z)<br />
* version - remove extra version segments when more than 4 segments are returned</li>
</ul>
<h2 id="november-16-2016">1.8.0 (November 16, 2016)</h2>
<p>Package Builder has some major improvements in this release, including a new UI! See <a href="https://chocolatey.org/blog/package-builder-announcements" class="uri">https://chocolatey.org/blog/package-builder-announcements</a> for details! While building some of the features for the enhancements for this release, we&#39;ve made quite a few tweaks and fixes to Package Builder and we think you are going to like the results. Being able to generate packages from the installed software on a reference system is huge (<code>choco new --from-programs-and-features</code>)!</p>
<p>Pro users now have the ability to download packages (minus internalization). This is fantastic if you want to pull down a lot of packages quickly from a remote source. Or pull down packages and push them up to an internal source.</p>
<h3 id="features-7">FEATURES</h3>
<ul>
<li>Package Downloader comes to Pro+ Licenses - minus internalizer, you can now download a package using an easy command <code>choco download</code>.</li>
<li>Package Builder (Choco New):<br />
* Package Builder now has a UI - see <a href="https://youtu.be/qJNKR_PEQqY" class="uri">https://youtu.be/qJNKR_PEQqY</a> for details.<br />
* Right click on an exe, msi, zip (or other supported types) and click &quot;Create Package...&quot;<br />
* Package Builder - generate packages from installed software (Programs and Features) - see <a href="https://youtu.be/Mw_ReipnskI" class="uri">https://youtu.be/Mw_ReipnskI</a> for details.</li>
</ul>
<h3 id="bug-fixes-26">BUG FIXES</h3>
<ul>
<li>Package Builder (Choco New):<br />
* Fix - silent arguments for MSU/MSP should not include the file itself.<br />
* Fix - remove comma if found.<br />
* Fix - remove trailing period.<br />
* Fix - Remove the entire word surrounding a version.</li>
<li>Package Internalizer (Choco Download):<br />
* Fix - mixed line endings were causing &quot;Index was outside the bounds of the array&quot; errors.</li>
<li>Package Synchronizer:<br />
* Fix - sync location should not be in the extensions folder, causes extension loading issues - a similar fix will be in open source to ignore the old sync location in v0.10.4 (see <a href="https://github.com/chocolatey/choco/issues/1041">#1041</a>).<br />
* Fix - sync over an existing synced package without error.</li>
</ul>
<h3 id="improvements-19">IMPROVEMENTS</h3>
<ul>
<li>Uninstall - Uninstall software not managed with Chocolatey. Use something like <code>choco uninstall 7-zip* --from-programs-and-features</code> to ensure removal from Programs and Features directly.</li>
<li>VirusTotal - When a user cancels a virus check, set the proper exit code so that rollback occurs automatically - see <a href="https://github.com/chocolatey/choco/issues/985">#985</a>.</li>
<li>Package Builder (Choco New):<br />
* Return a TODO list when there are more things to do to finish packaging.<br />
* Set values to replace if they are not set.<br />
* Use company name for nuspec copyright if copyright is not available.<br />
* Provide more verbose logging when necessary.<br />
* Remove more installer wording - &quot;setup&quot;, &quot;remove only&quot;.<br />
* If we exhaust all other options for determining name and version, use the file name and split version from name.<br />
* Add or remove architecture from the package id - <code>choco new --include-architecture-in-name</code> and <code>choco new --remove-architecture-from-name</code>, respectively.</li>
<li>Package Synchronizer:<br />
* Synchronize to a new location per package version.</li>
</ul>
<h2 id="sep-22-2016">1.7.0 (Sep 22, 2016)</h2>
<h3 id="bug-fixes-27">BUG FIXES</h3>
<ul>
<li>Package Builder (Choco New) - Removed <code>fileFullPath</code> from install template - add back in when local zip only. Fixes an error as <code>file</code> and <code>fileFullPath</code> are aliases starting in 0.10.1.</li>
<li>Package Internalizer (Choco Download) - ensure logging does not incur log format exceptions</li>
<li>install/upgrade - Look for downloaded file at old path if replaced &#39;chocolatey\chocolatey&#39; path does not exist - see <a href="https://github.com/chocolatey/choco/issues/969">#969</a></li>
</ul>
<h3 id="improvements-20">IMPROVEMENTS</h3>
<ul>
<li>Package Builder (Choco New):<br />
* <code>--build-package</code> to build a package after Package Builder creates the package all in one go.<br />
* <code>--pause-on-error</code> to pause the output when there are errors for closer inspection (useful when run from a batch file).<br />
* Specify checksum and type - checksum will be verified against files/downloaded files.<br />
* Loads of improvements in how package id and title are determined and cleaned up.<br />
* Product versions and portions of product versions are removed from package id/title.</li>
<li>Package Internalizer (Choco Download):<br />
* Add <code>--internalize</code> as alias to <code>--recompile</code>.<br />
* Warn of issue with <code>-UseOriginalLocation</code> when only using one file.<br />
* Add <code>--append-useoriginallocation</code> and feature internalizeAppendUseOriginalLocation that makes the determination to add to the end of <code>Install-ChocolateyPackage</code> when using local resources.</li>
</ul>
<h2 id="sep-20-2016">1.6.3 (Sep 20, 2016)</h2>
<h3 id="bug-fixes-28">BUG FIXES</h3>
<ul>
<li>Require Chocolatey be upgraded to at least 0.10.1 due to internal incompatibilities that affect this extension.</li>
</ul>
<h2 id="sep-19-2016---pulled">1.6.2 (Sep 19, 2016 - pulled)</h2>
<h3 id="bug-fixes-29">BUG FIXES</h3>
<ul>
<li>Recompiled to work with 0.10.1. There were some internal changes that appear to affect the virus scanner and PackageBuilder.</li>
</ul>
<h3 id="improvements-21">IMPROVEMENTS</h3>
<ul>
<li>Install/upgrade - support MSP (patch files)</li>
<li>PackageBuilder - support MSU/MSP files</li>
</ul>
<h2 id="sep-8-2016">1.6.1 (Sep 8, 2016)</h2>
<h3 id="bug-fixes-30">BUG FIXES</h3>
<ul>
<li>Package Builder (Choco New):<br />
* Fix - Do not error on missing appsearch table in MSI.<br />
* Fix - Do not add similarly named items from AppSearch table to template properties more than once</li>
</ul>
<h2 id="sep-8-2016-1">1.6.0 (Sep 8, 2016)</h2>
<p>Some really big improvements are now available in v1.6.0. We are excited to share them with you!</p>
<h3 id="features-8">FEATURES</h3>
<ul>
<li>Licensed Enhancements:<br />
* install/upgrade - pass sensitive arguments that are not shown/logged in Chocolatey to an installer - useful when you want to pass passwords but don&#39;t want them logged. Need Chocolatey v0.10.1+.<br />
* AutoUninstaller - determine type from original executable when FOSS is not able to detect installer type.</li>
<li>Package Builder (Choco New):<br />
* Now supports downloading from url/url64 and determining whether to keep those files remote.<br />
* Switch to use original file location instead of copying into package<br />
* Specify both 32-bit/64-bit file<br />
* Work with zip files</li>
</ul>
<h3 id="bug-fixes-31">BUG FIXES</h3>
<ul>
<li>Fix - changes related to working directory fixes for <a href="https://github.com/chocolatey/choco/issues/937">#937</a></li>
<li>Fix - double chocolatey folder name is not also applied to the passed in file name - see <a href="https://github.com/chocolatey/choco/issues/908">#908</a></li>
<li>Package Builder (Choco New):<br />
* Fix - remove parentheses from package names<br />
* Fix - keep template updated</li>
<li>Package Internalizer (Choco Download):<br />
* Fix - handle downloaded files with the same name Sometimes the file name is the same when the architecture is different. Handle that by using the url counter for all additional files with the same name.</li>
</ul>
<h3 id="improvements-22">IMPROVEMENTS</h3>
<ul>
<li>Remind About Upcoming Expiration - when the license is expiring within a month&#39;s time, remind the user about renewal</li>
<li>Package Builder (Choco New):<br />
* Handle -forcex86 with package creation<br />
* Add shimgen ignore for exes<br />
* Use ProductVersion when version 0.0.0.0<br />
* Remove the word &quot;installer&quot; from package name<br />
* Allow specifying name of the package<br />
* Allow template override with warning<br />
* Show MSI properties in install script (commented)<br />
* Ensure <code>ALLUSERS=1</code> when an MSI is set to per user by default<br />
* Automatically checksum files<br />
* Allow files to stay remote - use remote helpers when files stay remote</li>
<li>Package Internalizer (Choco Download):<br />
* handle variables in urls set like ${word}<br />
* Append <code>-UseOriginalLocation</code> to the end of the arguments passed to Install-ChocolateyPackage. Work with splatting properly as well</li>
</ul>
<h2 id="aug-9-2016">1.5.1 (Aug 9, 2016)</h2>
<h3 id="bug-fixes-32">BUG FIXES</h3>
<ul>
<li>Fix - Valid Exit Codes do not support values bigger than Int32.MaxValue. - see <a href="https://github.com/chocolatey/choco/issues/900">#900</a></li>
</ul>
<h3 id="improvements-23">IMPROVEMENTS</h3>
<ul>
<li>Package Internalizer (Choco Download) - specify resources location (when not embedding into package)</li>
</ul>
<h2 id="july-21-2016">1.5.0 (July 21, 2016)</h2>
<h3 id="features-9">FEATURES</h3>
<ul>
<li>[Business] Recompiled packages support aka Package Internalizer - Download a package and all remote resources, recompiling the package to use local resources instead.</li>
<li>Synchronize w/Programs and Features - Chocolatey synchronizes manually uninstalled software with package state.</li>
</ul>
<h3 id="bug-fixes-33">BUG FIXES</h3>
<ul>
<li>Fix - Silent Args being passed as a string array cause package failure - see <a href="https://github.com/chocolatey/choco/issues/808">#808</a></li>
</ul>
<h3 id="improvements-24">IMPROVEMENTS</h3>
<ul>
<li>VirusTotal - allow skipping check entirely - <a href="https://github.com/chocolatey/choco/issues/786">#786</a></li>
<li>Trial allows more features to work, but in a way that is not automatable.</li>
</ul>
<h2 id="june-20-2016">1.4.2 (June 20, 2016)</h2>
<h3 id="bug-fixes-34">BUG FIXES</h3>
<ul>
<li>Fix - Logging is broken in some packages due to new TEMP directory - <a href="https://github.com/chocolatey/choco/issues/813">#813</a></li>
</ul>
<h3 id="improvements-25">IMPROVEMENTS</h3>
<ul>
<li>Ensure log file path exists - <a href="https://github.com/chocolatey/choco/issues/758">#758</a></li>
</ul>
<h2 id="june-14-2016">1.4.1 (June 14, 2016)</h2>
<h3 id="bug-fixes-35">BUG FIXES</h3>
<ul>
<li>PowerShell v2 assembly was not loading. There was a dependency on an incorrect version of PowerShell assemblies, causing it to only attempt to load System.Management.Automation v3 and above - <a href="https://github.com/chocolatey/choco/issues/799">#799</a></li>
</ul>
<h2 id="june-13-2016">1.4.0 (June 13, 2016)</h2>
<h3 id="features-10">FEATURES</h3>
<ul>
<li>BETA Testers - Recompiled packages support - Download a package and all remote resources, recompiling the package to use local resources instead.</li>
<li>BETA Testers - Synchronize w/Programs and Features - Chocolatey synchronizes manually uninstalled software with package state.</li>
<li>[Business] Create Packages from Installers aka Package Builder! Create packages directly from software installers in seconds! <strong>Chocolatey for Business can automatically create packages for all the software your organization uses in under 5 minutes!</strong></li>
<li>New Command! choco support - quickly see how you can contact support - <a href="https://github.com/chocolatey/choco/issues/745">#745</a></li>
<li>Web functions for local files support - <a href="https://github.com/chocolatey/choco/issues/781">#781</a></li>
</ul>
<h3 id="improvements-26">IMPROVEMENTS</h3>
<ul>
<li>Support FIPS compliant algorithms <a href="https://github.com/chocolatey/choco/issues/446">#446</a></li>
</ul>
<h2 id="may-28-2016">1.3.2 (May 28, 2016)</h2>
<h3 id="bug-fixes-36">BUG FIXES</h3>
<ul>
<li>Get-WebFile name changes related to <a href="https://github.com/chocolatey/choco/issues/753">#753</a></li>
</ul>
<h3 id="improvements-27">IMPROVEMENTS</h3>
<ul>
<li>Clarified options with version and better messaging.</li>
</ul>
<h2 id="may-9-2016">1.3.1 (May 9, 2016)</h2>
<h3 id="bug-fixes-37">BUG FIXES</h3>
<ul>
<li>Get-WebFile name changes related to <a href="https://github.com/chocolatey/choco/issues/727">#727</a></li>
</ul>
<h3 id="improvements-28">IMPROVEMENTS</h3>
<ul>
<li>Report directory switch override.</li>
</ul>
<h2 id="may-2-2016">1.3.0 (May 2, 2016)</h2>
<h3 id="features-11">FEATURES</h3>
<ul>
<li>Ubiquitous Install Directory Switch! When working with properly formed packages that use Install-ChocolateyPackage (or Install-ChocolateyInstallPackage), Chocolatey is able to override the native installer&#39;s directory from one single option you provide to Chocolatey. You no longer need to know what the installer type is and provide that through install arguments. See <code>choco install -?</code> and <code>--install-directory</code> option for details.</li>
<li>Generic Virus Scanner - for organizations that don&#39;t want to run checks using VirusTotal, we&#39;ve provided a way for organizations to use their own virus scanner. See <code>choco config list</code> for details.</li>
</ul>
<p>### BUG FIXES</p>
<ul>
<li>Fix - Content Length check may error if original location is changed. This means the permanent download location will not error on other checks.</li>
<li>Fix - Original remote file name can be affected if original url has changed or is unavailable.</li>
</ul>
<h3 id="improvements-29">IMPROVEMENTS</h3>
<ul>
<li>Virus Scanner exits as soon as possible on files too big for the scanner. If the file is over 500MB, the scanner cannot upload the file, so it should not ask whether it can try to upload prior to failing on the size check (previous behavior).</li>
</ul>
<h2 id="march-14-2016">1.2.0 (March 14, 2016)</h2>
<h3 id="features-12">FEATURES</h3>
<ul>
<li>Virus scanning for Pro users! See the <a href="https://www.kickstarter.com/projects/ferventcoder/chocolatey-the-alternative-windows-store-like-yum/posts/1518468">post</a> for details!</li>
</ul>
<h2 id="february-12-2016">1.1.0 (February 12, 2016)</h2>
<h3 id="improvements-30">IMPROVEMENTS</h3>
<ul>
<li>License can now be in user profile (like <code>c:\Users\yourname\chocolatey.license.xml</code>). This is great for roaming user profiles and in multiple machine usage scenarios.</li>
<li>Download cache can be controlled with a feature flag and/or a command option. See <code>choco feature</code> and <code>choco install -h</code> for more details.</li>
</ul>
<h3 id="for-beta-testers">For BETA Testers</h3>
<ul>
<li>Virus Check improvements
<ul>
<li>Throw if virus check has not been done before.</li>
<li>Messaging is clarified</li>
<li>Skip or run virus check with command options - see <code>choco install -h</code> for details.</li>
</ul></li>
</ul>
<h2 id="february-5-2016">1.0.2 (February 5, 2016)</h2>
<h3 id="bug-fixes-38">BUG FIXES</h3>
<ul>
<li>Fix - PowerShell 5 respects Cmdlet aliases, causing overrides on functions not ready (Install-ChocolateyPackage). See the <a href="https://www.kickstarter.com/projects/ferventcoder/chocolatey-the-alternative-windows-store-like-yum/posts/1484093">post</a> for details.</li>
</ul>
<h2 id="february-2-2016">1.0.1 (February 2, 2016)</h2>
<h3 id="bug-fixes-39">BUG FIXES</h3>
<ul>
<li>Fix - License location validation is incorrect.</li>
</ul>
<h2 id="february-1-2016">1.0.0 (February 1, 2016)</h2>
<h3 id="features-13">FEATURES</h3>
<ul>
<li>Alternate Permanent Download Location - see the <a href="https://www.kickstarter.com/projects/ferventcoder/chocolatey-the-alternative-windows-store-like-yum/posts/1479944">post</a> for details.</li>
</ul>
</article>
