@{
  ViewBag.Title = "ReleaseNotesAgent";
}

<article>
<h1 id="chocolatey-release-notes---chocolatey-agent-service">Chocolatey Release Notes - Chocolatey Agent Service</h1>
<h2 id="summary">Summary</h2>
<p>This covers the release notes for the Chocolatey Agent Service (<code>chocolatey-agent</code>) package, which covers Self-Service and Central Management client functionality. For more information, installation options, etc, please refer to <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-agent-service" })">Chocolatey Agent Service</a>.</p>
<p><strong>NOTE</strong>: This package is available to Chocolatey for Business (C4B) customers only.</p>
<h2 id="other-release-notes">Other Release Notes</h2>
<ul>
<li>Refer to <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes" })">Open Source Release Notes</a> as commercial editions build on top of open source.</li>
<li>Chocolatey for Business (C4B) customers - also refer to <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes-extension" })">Chocolatey Licensed Extension Release Notes</a> and <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes-central-management" })">Chocolatey Central Management Release Notes</a>.</li>
</ul>
<h2 id="known-issues">Known Issues</h2>
<ul>
<li>Please see <a href="https://github.com/chocolatey/chocolatey-licensed-issues/labels/AgentService" class="uri">https://github.com/chocolatey/chocolatey-licensed-issues/labels/AgentService</a></li>
<li>Some issues may be held internally, please follow your support routes to learn more.</li>
</ul>
<h2 id="april-30-2019">0.9.1 (April 30, 2019)</h2>
<h3 id="bug-fixes">BUG FIXES</h3>
<ul>
<li>Self-Service / Background Mode:<br />
* Fix - Multiple quoted options being parsed incorrectly - see <a href="https://github.com/chocolatey/chocolatey-licensed-issues/issues/78">Licensed #78</a></li>
</ul>
<h2 id="march-18-2019">0.9.0 (March 18, 2019)</h2>
<h3 id="features">FEATURES</h3>
<ul>
<li>Central Management Reporting - Clients can now report into central management on a configurable basis. For more information, please see <a href="https://chocolatey.org/docs/features-chocolatey-central-management" class="uri">https://chocolatey.org/docs/features-chocolatey-central-management</a></li>
</ul>
<h3 id="bug-fixes-1">BUG FIXES</h3>
<ul>
<li>Self-Service / Background Mode:<br />
* Fix - Package Arguments not being passed from Agent to choco.exe properly - see <a href="https://github.com/chocolatey/chocolatey-licensed-issues/issues/60">Licensed #60</a><br />
* Fix - Background Service does not pass the exit code back to the console (service side) - see <a href="https://github.com/chocolatey/chocolatey-licensed-issues/issues/51">Licensed #51</a><br />
* Fix - Execution times out after 10 minutes - ignores configuration - see <a href="https://github.com/chocolatey/chocolatey-licensed-issues/issues/41">Licensed #41</a></li>
</ul>
<h2 id="september-28-2017">0.8.1 (September 28, 2017)</h2>
<h3 id="bug-fixes-2">BUG FIXES</h3>
<ul>
<li>Fix - bump dependency on Chocolatey Licensed Extension to ensure user is created with complex password instead of created with no password and then updated with complex password.</li>
</ul>
<h2 id="september-27-2017">0.8.0 (September 27, 2017)</h2>
<h3 id="breaking-changes">BREAKING CHANGES</h3>
<ul>
<li>[Security] Use &#39;ChocolateyLocalAdmin&#39; user and manage the user by default - using LocalSystem doesn&#39;t work well with all software installations. Using a local user that is an admin works much better for ensuring applications are installed. If you need the previous functionality, pass <code>/UseDefaultChocolateyConfigUser</code>. This will use whatever Chocolatey is configured to use by default for new service installations. You can also pass in a username and optionally a password for a domain account or local administrator account.</li>
</ul>
<h3 id="improvements">IMPROVEMENTS</h3>
<ul>
<li>Upgrade - Pass <code>/NoRestartService</code> to upgrade the service without shutting down the current running service. You will need to restart the service to take advantage of the new changes - see <a href="https://github.com/chocolatey/chocolatey-licensed-issues/issues/26">#26</a>.</li>
<li>Install/Upgrade - Pick username/password for runtime. Pass <code>/Username:value /Password:value2</code> through package parameters.</li>
<li>Install/Upgrade - Pass <code>/EnterPassword</code> through package parameters to have Chocolatey ask for the user password at runtime during installation. Captures as a secure string.</li>
</ul>
<h2 id="june-27-2017">0.7.0 (June 27, 2017)</h2>
<h3 id="breaking-changes-1">BREAKING CHANGES</h3>
<ul>
<li>Fix - Use a URI with WCF named pipes that doesn&#39;t exclusively hold a lock on the root (blocking other services) - see <a href="https://github.com/chocolatey/chocolatey-licensed-issues/issues/12">#12</a>.</li>
</ul>
<h3 id="bug-fixes-3">BUG FIXES</h3>
<ul>
<li>Fix - Allow chocolatey.lib (not just calls from choco.exe) to run self-service.</li>
</ul>
<h2 id="march-20-2017">0.6.0 (March 20, 2017)</h2>
<h3 id="breaking-changes-2">BREAKING CHANGES</h3>
<ul>
<li>Sources must be opted in for self-service if the feature <code>UseBackgroundServiceWithSelfServiceSourcesOnly</code> is turned on. This is automatically the case with Chocolatey Licensed v1.10.0+ (and Chocolatey 0.10.4+).</li>
</ul>
<h3 id="bug-fixes-4">BUG FIXES</h3>
<ul>
<li>Fix - Sources using nupkg/nuspec were being allowed. This is now disabled as well.</li>
</ul>
<h2 id="january-14-2017">0.5.0 (January 14, 2017)</h2>
<h3 id="breaking-changes-3">BREAKING CHANGES</h3>
<ul>
<li>New pattern for dependencies requires a reload of the interface that works between the Agent and Chocolatey.Extension, requiring a bump in the sub v1.</li>
</ul>
<h2 id="january-4-2017">0.4.0 (January 4, 2017)</h2>
<p>Initial Release</p>
<h3 id="features-1">FEATURES</h3>
<ul>
<li>Streams logging messages back to the caller in realtime</li>
<li>Audits disallowed calls / attempted abuses of the service</li>
<li>Only runs Chocolatey functions</li>
<li>Ensures installation from approved sources only</li>
<li>Receives and passes user context to Chocolatey functions.</li>
<li>Works exclusively with Chocolatey for Business - checks passcode prior to running command</li>
<li>Processes one command at a time with locking algorithm</li>
</ul>
</article>
