@{
    ViewBag.Title = "Resources";
}

<article>
  <h2 id="courses">Courses</h2>
<ul>
<li><a href="https://www.pluralsight.com/courses/chocolatey-nuget-automation-pros">https://www.pluralsight.com/courses/chocolatey-nuget-automation-pros</a></li>
</ul>
<h2 id="translations">Translations</h2>
<ul>
<li>German <a href="https://github.com/thigg/chocolateypackages/tree/master/doku-german">User guide</a></li>
<li>Japanese <a href="http://hayashikejinan.com/windows/1145/">Chocolatey は Windows ユーザー希望の星となり得るか、インストール～使い方など【パッケージ管…</a></li>
<li>Spanish Introduction <a href="https://www.youtube.com/watch?t=82&amp;v=TVBH847RntM">Chocolatey: el gestor de paquetes de Windows</a></li>
<li>Spanish - <a href="https://www.youtube.com/watch?v=kirDeK6DRq8">Installing Chocolatey on Windows 8.1</a></li>
</ul>
<h2 id="vagrant-boxes">Vagrant Boxes</h2>
<ul>
<li><a href="https://github.com/chocolatey/chocolatey-test-environment">https://github.com/chocolatey/chocolatey-test-environment</a></li>
<li><a href="https://github.com/ferventcoder/vagrant-windows-puppet">https://github.com/ferventcoder/vagrant-windows-puppet</a></li>
</ul>
<h2 id="community">Community</h2>
<h3 id="2016">2016</h3>
<h4 id="march">March</h4>
<ul>
<li><a href="http://imallvirtual.com/azure-devtest-labs-chocolatey-artifacts-integration/">http://imallvirtual.com/azure-devtest-labs-chocolatey-artifacts-integration/</a></li>
<li><a href="https://channel9.msdn.com/Shows/demooftheday/chocovm">https://channel9.msdn.com/Shows/demooftheday/chocovm</a></li>
<li><a href="https://azure.microsoft.com/en-us/documentation/articles/automation-dsc-cd-chocolatey/">https://azure.microsoft.com/en-us/documentation/articles/automation-dsc-cd-chocolatey/</a></li>
<li><a href="http://tomow.de/general/chocolatey-a-sweet-package-manager-for-windows/">http://tomow.de/general/chocolatey-a-sweet-package-manager-for-windows/</a></li>
</ul>
<h4 id="february">February</h4>
<ul>
<li><a href="http://csi-windows.com/blog/all/74-powershell/463-getting-chocolatey-package-management-provider-working-on-windows-10">http://csi-windows.com/blog/all/74-powershell/463-getting-chocolatey-package-management-provider-working-on-windows-10</a></li>
<li><a href="https://zimmergren.net/automating-software-installations-with-boxstarter-and-chocolatey/">https://zimmergren.net/automating-software-installations-with-boxstarter-and-chocolatey/</a></li>
<li><a href="https://www.chef.io/blog/2016/02/12/chef-client-12-7-released/">https://www.chef.io/blog/2016/02/12/chef-client-12-7-released/</a></li>
<li><a href="https://puppetlabs.com/blog/chocolatey-using-chocolatey-puppet">https://puppetlabs.com/blog/chocolatey-using-chocolatey-puppet</a></li>
</ul>
<h4 id="january">January</h4>
<ul>
<li><a href="https://puppetlabs.com/blog/chocolatey-creating-your-own-chocolatey-packages">https://puppetlabs.com/blog/chocolatey-creating-your-own-chocolatey-packages</a></li>
<li><a href="http://codebetter.com/robreynolds/2016/01/16/chocolatey-community-update/">http://codebetter.com/robreynolds/2016/01/16/chocolatey-community-update/</a></li>
<li><a href="https://puppetlabs.com/blog/chocolatey-hosting-your-own-server">https://puppetlabs.com/blog/chocolatey-hosting-your-own-server</a></li>
</ul>
<h3 id="2015">2015</h3>
<h4 id="december">December</h4>
<ul>
<li><a href="https://blogs.msdn.microsoft.com/golive/2015/12/22/shortest-path-to-azure-automation-dsc-chocolatey-vm/">https://blogs.msdn.microsoft.com/golive/2015/12/22/shortest-path-to-azure-automation-dsc-chocolatey-vm/</a></li>
<li><a href="http://codebetter.com/robreynolds/2015/12/18/chocolatey-community-state-of-union/">http://codebetter.com/robreynolds/2015/12/18/chocolatey-community-state-of-union/</a></li>
<li><a href="http://xenappblog.com/2015/automatically-update-citrix-xenserver-tools/">http://xenappblog.com/2015/automatically-update-citrix-xenserver-tools/</a></li>
</ul>
<h4 id="november">November</h4>
<ul>
<li><a href="https://blog.turbo.net/create-a-turbo-vm-image-with-chocolatey/">https://blog.turbo.net/create-a-turbo-vm-image-with-chocolatey/</a></li>
<li><a href="https://blog.turbo.net/deploying-turbo-with-chocolatey/">https://blog.turbo.net/deploying-turbo-with-chocolatey/</a></li>
</ul>
<h4 id="october">October</h4>
<ul>
<li><a href="http://binford2k.com/content/2015/10/idempotence-not-just-big-scary-word">http://binford2k.com/content/2015/10/idempotence-not-just-big-scary-word</a></li>
</ul>
<h4 id="september">September</h4>
<ul>
<li><a href="http://www.metafilter.com/152786/Chocolatey-a-package-manager-for-Windows">http://www.metafilter.com/152786/Chocolatey-a-package-manager-for-Windows</a></li>
<li><a href="http://xenappblog.com/2015/how-to-install-chocolatey-packages-offline/">http://xenappblog.com/2015/how-to-install-chocolatey-packages-offline/</a></li>
</ul>
<h4 id="august">August</h4>
<ul>
<li><a href="http://blogsprajeesh.blogspot.com/2015/08/software-package-management-using.html">http://blogsprajeesh.blogspot.com/2015/08/software-package-management-using.html</a></li>
<li><a href="http://blogsprajeesh.blogspot.com/2015/08/using-dsc-oneget-and-chef-to-install.html">http://blogsprajeesh.blogspot.com/2015/08/using-dsc-oneget-and-chef-to-install.html</a></li>
<li><a href="http://blogsprajeesh.blogspot.com/2015/08/setup-your-chocolatey-repository-in_6.html">http://blogsprajeesh.blogspot.com/2015/08/setup-your-chocolatey-repository-in_6.html</a></li>
<li><a href="http://mattridpath.com/?p=43">http://mattridpath.com/?p=43</a></li>
<li><a href="http://xenappblog.com/2015/why-chocolatey-a-real-world-example/">http://xenappblog.com/2015/why-chocolatey-a-real-world-example/</a></li>
<li><a href="http://xenappblog.com/2015/how-to-install-chocolatey-packages-offline/">http://xenappblog.com/2015/how-to-install-chocolatey-packages-offline/</a></li>
<li><a href="http://xenappblog.com/2015/getting-started-with-chocolatey-and-boxstarter/">http://xenappblog.com/2015/getting-started-with-chocolatey-and-boxstarter/</a></li>
</ul>
<h4 id="june">June</h4>
<ul>
<li><a href="http://xenappblog.com/2015/how-to-use-chocolatey-with-mdt-2013/">http://xenappblog.com/2015/how-to-use-chocolatey-with-mdt-2013/</a></li>
<li><a href="http://xenappblog.com/2015/automation-and-optimization/">http://xenappblog.com/2015/automation-and-optimization/</a></li>
</ul>
<h4 id="may">May</h4>
<ul>
<li><a href="http://benpiper.com/2015/05/windows-server-2012-using-puppet-chocolatey/">http://benpiper.com/2015/05/windows-server-2012-using-puppet-chocolatey/</a></li>
</ul>
<h4 id="april">April</h4>
<ul>
<li><a href="https://puppetlabs.com/blog/chocolatey-what-it">https://puppetlabs.com/blog/chocolatey-what-it</a></li>
</ul>
<h4 id="march">March</h4>
<ul>
<li><a href="https://puppetlabs.com/blog/rewriting-chocolatey-ground-up">https://puppetlabs.com/blog/rewriting-chocolatey-ground-up</a></li>
</ul>
<h4 id="february">February</h4>
<ul>
<li><a href="https://blogs.msdn.microsoft.com/garretts/2015/02/04/oneget-and-chocolatey-whats-the-connection/">https://blogs.msdn.microsoft.com/garretts/2015/02/04/oneget-and-chocolatey-whats-the-connection/</a></li>
</ul>
<h4 id="january">January</h4>
<ul>
<li><a href="https://blogs.msdn.microsoft.com/cesardelatorre/2015/01/13/automating-windows-environments-setup-with-boxstarter-and-chocolatey-packages/">https://blogs.msdn.microsoft.com/cesardelatorre/2015/01/13/automating-windows-environments-setup-with-boxstarter-and-chocolatey-packages/</a></li>
</ul>
<h3 id="2014">2014</h3>
<h4 id="november">November</h4>
<ul>
<li><a href="http://codebetter.com/robreynolds/2014/11/14/how-passion-saved-windows/">http://codebetter.com/robreynolds/2014/11/14/how-passion-saved-windows/</a></li>
<li><a href="http://www.developer.com/net/virtualize-your-windows-development-environments-with-vagrant-packer-and-chocolatey-part-2.html">http://www.developer.com/net/virtualize-your-windows-development-environments-with-vagrant-packer-and-chocolatey-part-2.html</a></li>
<li><a href="http://codebetter.com/robreynolds/2014/11/08/herding-code-on-chocolatey/">http://codebetter.com/robreynolds/2014/11/08/herding-code-on-chocolatey/</a></li>
<li><a href="http://www.fixedbyvonnie.com/2014/11/5-minute-setup-using-oneget-chocolatey-windows-10/">http://www.fixedbyvonnie.com/2014/11/5-minute-setup-using-oneget-chocolatey-windows-10/</a></li>
<li><a href="http://www.developer.com/net/virtualize-your-windows-development-environments-with-vagrant-packer-and-chocolatey-part-1.html">http://www.developer.com/net/virtualize-your-windows-development-environments-with-vagrant-packer-and-chocolatey-part-1.html</a></li>
</ul>
<h4 id="october">October</h4>
<ul>
<li><a href="http://codebetter.com/robreynolds/2014/10/27/chocolatey-now-has-package-moderation/">http://codebetter.com/robreynolds/2014/10/27/chocolatey-now-has-package-moderation/</a></li>
<li><a href="http://codebetter.com/robreynolds/2014/10/17/chocolatey-kickstarterhelp-me-take-chocolatey-to-the-next-level/">http://codebetter.com/robreynolds/2014/10/17/chocolatey-kickstarterhelp-me-take-chocolatey-to-the-next-level/</a></li>
<li><a href="http://www.hurryupandwait.io/blog/help-raise-the-chocolatey-experiment-to-the-chocolatey-experience-and-support-the-chocolatey-kickstarter">http://www.hurryupandwait.io/blog/help-raise-the-chocolatey-experiment-to-the-chocolatey-experience-and-support-the-chocolatey-kickstarter</a></li>
<li><a href="https://ma.ttias.be/chocolatey-kickstarter-making-windows-like-linux/">https://ma.ttias.be/chocolatey-kickstarter-making-windows-like-linux/</a></li>
<li><a href="http://blog.2mas.xyz/puppet-windows/">http://blog.2mas.xyz/puppet-windows/</a></li>
</ul>
<h4 id="september">September</h4>
<ul>
<li><a href="http://codebetter.com/robreynolds/2014/09/27/chocolatey-newsletter/">http://codebetter.com/robreynolds/2014/09/27/chocolatey-newsletter/</a></li>
<li><a href="http://blog.simlau.net/chocolatey-windows-lokale-repository.html">http://blog.simlau.net/chocolatey-windows-lokale-repository.html</a></li>
</ul>
<h4 id="august">August</h4>
<ul>
<li><a href="https://blogs.technet.microsoft.com/heyscriptingguy/2014/08/23/weekend-scripter-powershell-and-chocolatey/">https://blogs.technet.microsoft.com/heyscriptingguy/2014/08/23/weekend-scripter-powershell-and-chocolatey/</a></li>
<li><a href="http://www.pcworld.com/article/2459950/how-to-use-chocolatey-a-delicious-windows-package-manager.html">http://www.pcworld.com/article/2459950/how-to-use-chocolatey-a-delicious-windows-package-manager.html</a></li>
</ul>
<h4 id="july">July</h4>
<ul>
<li><a href="http://blog.ittoby.com/2014/07/setup-your-own-chocoloateynuget.html">http://blog.ittoby.com/2014/07/setup-your-own-chocoloateynuget.html</a></li>
</ul>
<h4 id="june">June</h4>
<ul>
<li><a href="http://karaaie.blogspot.com/2014/06/continuous-delivery-with-teamcity.html">http://karaaie.blogspot.com/2014/06/continuous-delivery-with-teamcity.html</a></li>
</ul>
<h4 id="april">April</h4>
<ul>
<li><a href="http://tallmaris.com/using-vagrant-with-chocolatey-and-puppet-to-spin-up-virtual-machines/">http://tallmaris.com/using-vagrant-with-chocolatey-and-puppet-to-spin-up-virtual-machines/</a></li>
<li><a href="https://blogs.technet.microsoft.com/windowsserver/2014/04/03/windows-management-framework-v5-preview/">https://blogs.technet.microsoft.com/windowsserver/2014/04/03/windows-management-framework-v5-preview/</a></li>
</ul>
<h4 id="january">January</h4>
<ul>
<li><a href="http://www.tzehon.com/2014/01/20/provisioning-a-windows-box-with-vagrant-chocolatey-and-puppet-part-1/">http://www.tzehon.com/2014/01/20/provisioning-a-windows-box-with-vagrant-chocolatey-and-puppet-part-1/</a></li>
<li><a href="http://www.masterzen.fr/2014/01/11/bootstrapping-windows-servers-with-puppet/">http://www.masterzen.fr/2014/01/11/bootstrapping-windows-servers-with-puppet/</a></li>
</ul>
<h3 id="2013">2013</h3>
<h4 id="december">December</h4>
<ul>
<li><a href="http://www.liamjbennett.me/post/2013-12-11-puppet-on-windows-part-2/">http://www.liamjbennett.me/post/2013-12-11-puppet-on-windows-part-2/</a></li>
</ul>
<h4 id="october">October</h4>
<ul>
<li><a href="http://www.liamjbennett.me/post/2013-10-06-puppet-on-windows-part-1/">http://www.liamjbennett.me/post/2013-10-06-puppet-on-windows-part-1/</a></li>
<li><a href="http://www.software-innovators.nl/2013/10/03/from-continous-integration-through-continuous-deployment-to-continuous-delivery/">http://www.software-innovators.nl/2013/10/03/from-continous-integration-through-continuous-deployment-to-continuous-delivery/</a></li>
</ul>
<h4 id="august">August</h4>
<ul>
<li><a href="http://dave.thehorners.com/tech-talk/windows-os/478-nuget">http://dave.thehorners.com/tech-talk/windows-os/478-nuget</a></li>
</ul>
<h4 id="june">June</h4>
<ul>
<li><a href="http://ferventcoder.com/archive/2013/06/01/chocolatey-official-public-feed-now-has-1000-stable-packages.aspx">http://ferventcoder.com/archive/2013/06/01/chocolatey-official-public-feed-now-has-1000-stable-packages.aspx</a></li>
</ul>
<h4 id="january">January</h4>
<ul>
<li><a href="http://ferventcoder.com/archive/2013/01/03/chocolatey-automatic-packages.aspx">http://ferventcoder.com/archive/2013/01/03/chocolatey-automatic-packages.aspx</a></li>
</ul>
<h3 id="2012">2012</h3>
<h4 id="november">November</h4>
<ul>
<li><p><a href="http://www.pcworld.com/article/2013432/review-chocolatey-offers-easy-software-installation-and-updating.html">http://www.pcworld.com/article/2013432/review-chocolatey-offers-easy-software-installation-and-updating.html</a></p>
<h4 id="september">September</h4>
</li>
<li><p><a href="http://lifehacker.com/5942417/chocolatey-brings-lightning-quick-linux-style-package-management-to-windows">http://lifehacker.com/5942417/chocolatey-brings-lightning-quick-linux-style-package-management-to-windows</a></p>
</li>
</ul>
<h4 id="february">February</h4>
<ul>
<li><a href="http://ferventcoder.com/archive/2012/02/25/chocolatey---guidance-on-packaging-apps-with-both-an-install.aspx">http://ferventcoder.com/archive/2012/02/25/chocolatey---guidance-on-packaging-apps-with-both-an-install.aspx</a></li>
</ul>
<h4 id="january">January</h4>
<ul>
<li><a href="http://ferventcoder.com/archive/2012/01/25/software-release-management---why-you-canrsquot-and-shouldnrsquot-force.aspx">http://ferventcoder.com/archive/2012/01/25/software-release-management---why-you-canrsquot-and-shouldnrsquot-force.aspx</a></li>
</ul>
<h3 id="2011">2011</h3>
<h4 id="october">October</h4>
<ul>
<li><a href="http://ferventcoder.com/archive/2011/10/07/letrsquos-get-chocolatey-kind-of-like-apt-get-for-windows.aspx">http://ferventcoder.com/archive/2011/10/07/letrsquos-get-chocolatey-kind-of-like-apt-get-for-windows.aspx</a></li>
<li><a href="http://melkio.codiceplastico.com/technology/2011/10/06/chocolatey-un-package-manager-per-windows.html">http://melkio.codiceplastico.com/technology/2011/10/06/chocolatey-un-package-manager-per-windows.html</a></li>
<li><a href="http://elegantcode.com/2011/10/05/chocolatey-the-free-and-open-source-windows-app-store/">http://elegantcode.com/2011/10/05/chocolatey-the-free-and-open-source-windows-app-store/</a></li>
</ul>
<h4 id="september">September</h4>
<ul>
<li><a href="http://www.xavierdecoster.com/post/2011/09/30/an-overview-of-the-nuget-ecosystem">http://www.xavierdecoster.com/post/2011/09/30/an-overview-of-the-nuget-ecosystem</a></li>
<li><a href="https://web.archive.org/web/20111223082713/http://www.counity.at/blog/archives/253">https://web.archive.org/web/20111223082713/http://www.counity.at/blog/archives/253</a></li>
<li><a href="https://web.archive.org/web/20110926200551/http://blogs.lessthandot.com/index.php/DesktopDev/MSTech/making-a-chocolatey-package">https://web.archive.org/web/20110926200551/http://blogs.lessthandot.com/index.php/DesktopDev/MSTech/making-a-chocolatey-package</a></li>
<li><a href="https://web.archive.org/web/20110926191629/http://blogs.lessthandot.com/index.php/DesktopDev/MSTech/chocolatey-gui">https://web.archive.org/web/20110926191629/http://blogs.lessthandot.com/index.php/DesktopDev/MSTech/chocolatey-gui</a></li>
</ul>
<h4 id="july">July</h4>
<ul>
<li><a href="https://web.archive.org/web/20111031004316/http://blogs.lessthandot.com/index.php/DesktopDev/MSTech/chocolatey-apt-get-for-windows">https://web.archive.org/web/20111031004316/http://blogs.lessthandot.com/index.php/DesktopDev/MSTech/chocolatey-apt-get-for-windows</a></li>
</ul>
<h4 id="may">May</h4>
<ul>
<li><a href="http://ferventcoder.com/archive/2011/05/06/iowa-code-camp-presentations.aspx">http://ferventcoder.com/archive/2011/05/06/iowa-code-camp-presentations.aspx</a></li>
</ul>
<h4 id="april">April</h4>
<ul>
<li><a href="https://chrisortman.wordpress.com/2011/04/01/getting-started-with-chocolatey/">https://chrisortman.wordpress.com/2011/04/01/getting-started-with-chocolatey/</a> (First known public posting about Chocolatey)</li>
</ul>
<h2 id="testimonials">Testimonials</h2>
<ul>
<li><a href="https://gitter.im/chocolatey/choco?at=56eabc09618c335373ecb72a">https://gitter.im/chocolatey/choco?at=56eabc09618c335373ecb72a</a></li>
</ul>

</article>

