@{
    ViewBag.Title = "Roadmap";
}

<article>
  <h2 id="roadmap-let-s-get-chocolatey-">Roadmap - Let&#39;s Get Chocolatey!</h2>
<p><strong>NOTE:</strong> This is not always going to be updated, one can take a look at the issues list here and in the chocolatey.org feed.</p>
<h3 id="chocolatey-v1">Chocolatey v1</h3>
<ul>
<li>cpack - <strong>Done in v0.9.8.13</strong></li>
<li>cpush - <strong>Done in v0.9.8.13</strong></li>
<li>Chocolatey using its own feed and gallery (see below) and not in the nuget.org gallery except where overlap should occur. - <strong>Done</strong></li>
<li><a href="https://github.com/chocolatey/chocolatey/issues/6">Uninstall (cuninst)</a></li>
<li>More general improvements to the rest of the commands</li>
<li><a href="https://github.com/chocolatey/chocolatey/issues/7">Virtual packages</a></li>
<li>Ruby Gems Support - <strong>Done in v0.9.8.13</strong></li>
<li><a href="https://github.com/chocolatey/puppet-chocolatey">Puppet Integration</a> - <strong>Done</strong></li>
<li><a href="https://github.com/chocolatey/chocolatey-cookbook">Chef Integration</a> - <strong>Done</strong></li>
<li>Web PI feed support - <a href="http://msdn.microsoft.com/en-us/library/gg433092.aspx">webpicommandline</a> - <strong>Done in v0.9.8.13</strong></li>
</ul>
<h3 id="chocolatey-org">Chocolatey.org</h3>
<ul>
<li>Chocolatey Gallery - <strong>Done</strong></li>
<li>Package inspector - <strong>Done</strong></li>
<li>Feed Moderation - <strong>Done</strong></li>
<li>RSS/Atom Feed - <strong>Done</strong></li>
</ul>
<h3 id="thoughts-for-future-directions-undecided-directions-">Thoughts for future directions (undecided directions)</h3>
<ul>
<li>GUI</li>
<li>Pluggable compositional model</li>
</ul>

</article>
