@{
  ViewBag.Title = "Roadmap";
}

<article>
<h1 id="roadmap">Roadmap</h1>
<p>Heading down a sweet road.</p>
<!-- TOC -->
<ul>
<li><a href="#chocolatey">Chocolatey</a></li>
<li><a href="#licensed-chocolatey">Licensed Chocolatey</a></li>
<li><a href="#chocolateyorg">Chocolatey.org</a></li>
<li><a href="#thoughts-for-future-directions-undecided-directions">Thoughts for future directions (undecided directions)</a></li>
<li><a href="#legal">Legal</a></li>
</ul>
<!-- /TOC -->
<p><strong>NOTE:</strong> This is not always going to be updated, one can take a look at the issues list here and in the chocolatey.org repositories.</p>
<h2 id="chocolatey">Chocolatey</h2>
<ul>
<li>Validation on choco pack (subset of the package-validator)</li>
<li>Official support for OneGet/PackageManagement - Prioritizing</li>
<li>GPG package signing - likely sometime in 2018</li>
<li>Authenticode package signing - likely sometime in 2018</li>
<li>Validating authenticode - see <a href="https://github.com/chocolatey/choco/issues/643">#643</a></li>
<li><del>Not allowing package installs that don&#39;t have checksums by default when using non-secure resources like HTTP/FTP - see <a href="https://github.com/chocolatey/choco/issues/112">#112</a></del> released in 0.10.0</li>
<li>Nuspec enhancements - supported versions of Windows, etc</li>
<li>Packaging enhancements - like package version, architecture</li>
<li><a href="https://github.com/chocolatey/chocolatey/issues/7">Virtual packages</a></li>
<li>WSA Support</li>
<li>Windows Nano Support - likely first half of 2018 (switching to .NET Standard/Core) to support running in that environment.</li>
</ul>
<h2 id="licensed-chocolatey">Licensed Chocolatey</h2>
<ul>
<li><del><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-agent-service" })">Self-Service Installs (Non-Admins)</a></del> released in Jan 2017</li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-agent-service" })">Chocolatey Central Console</a></li>
<li><del>Package Throttle - reduce download speeds for low bandwidth areas</del> - released in Q1 2017 (March)</li>
<li>Package Modernizer</li>
<li>Package Sync command:
<ul>
<li>finding existing packages</li>
<li><del>building packages on the fly with sync (business edition)</del> released in Jan 2017</li>
</ul></li>
<li><del>Package Builder - <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-create-packages-from-installers" })#generate-packages-from-programs-and-features">create packages from Programs and Features</a></del> - released in Q3 2016</li>
<li><del>Right Click <code>Create Chocolatey Package...</code> (business editions)</del> - released in Q3 2016</li>
<li><del><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-create-packages-from-installers" })#package-builder-ui">Package Builder UI</a> (business edition)</del> - released in Q3 2016</li>
<li><del>Package Builder UI (pro edition without the auto detection)</del> - released Q1 2017</li>
<li>Possibly a business edition gallery with features specific to business needs.</li>
</ul>
<h2 id="chocolateyorg">Chocolatey.org</h2>
<ul>
<li>Adding back in search box</li>
<li>Converting rest of site</li>
<li><del>Kickstarter backers</del> - <a href="https://chocolatey.org/kickstarters" class="uri">https://chocolatey.org/kickstarters</a></li>
<li><del>Add blog</del> - <a href="https://chocolatey.org/blog" class="uri">https://chocolatey.org/blog</a></li>
<li><del>VirusTotal scans of all packages and downloaded binaries</del> - Completed Feb 2016</li>
<li><del>Locking down non-secure downloads in packages (HTTP) without checksums</del> - completed Aug 2016</li>
<li>Locking down secure downloads in packages (HTTPS) without checksums</li>
</ul>
<h2 id="thoughts-for-future-directions-undecided-directions">Thoughts for future directions (undecided directions)</h2>
<ul>
<li>Pluggable compositional model</li>
</ul>
<h2 id="legal">Legal</h2>
<p><strong>Disclaimer:</strong> The information included in this roadmap does not constitute, and should not be construed as, a promise or commitment by RealDimensions Software, LLC (Chocolatey) to develop, market, or deliver any particular product, feature, or function. The timing and content of RealDimensions Software, LLC (Chocolatey) future product releases could differ materially from the expectations discussed in this document. RealDimensions Software, LLC (Chocolatey) reserves the right to change it product plans or roadmap at any time.&nbsp; </p>
</article>
