@{
  ViewBag.Title = "Roadmap";
}

<article>
<h1 id="roadmap">Roadmap</h1>
<p>Heading down a sweet road.</p>
<p><strong>NOTE:</strong> This is not always going to be updated, one can take a look at the issues list here and in the chocolatey.org repositories.</p>
<h2 id="chocolatey">Chocolatey</h2>
<ul>
<li>Validation on packaging (subset of the package-validator)</li>
<li>Official support for OneGet/PackageManagement - Summer 2016</li>
<li>GPG package signing - likely sometime in 2017</li>
<li>Validating authenticodes - see <a href="https://github.com/chocolatey/choco/issues/643">#643</a></li>
<li><del>Not allowing package installs that don&#39;t have checksums by default when using non-secure resources like HTTP/FTP - see <a href="https://github.com/chocolatey/choco/issues/112">#112</a></del> released in 0.10.0</li>
<li>Nuspec enhancements - supported versions of Windows, etc</li>
<li>Packaging enhancements - like package version, architecture</li>
<li><a href="https://github.com/chocolatey/chocolatey/issues/7">Virtual packages</a></li>
<li>WSA Support</li>
<li>Windows Nano Support - likely late 2016/early 2017 (switching to .NET Standard/Core)</li>
</ul>
<h2 id="licensed-chocolatey">Licensed Chocolatey</h2>
<ul>
<li>Self-Service Installs (Non-Admins)</li>
</ul>
<h2 id="chocolatey.org">Chocolatey.org</h2>
<ul>
<li>Adding back in search box</li>
<li>Converting rest of site</li>
<li>Kickstarter backers</li>
<li>Add blog</li>
<li><del>VirusTotal scans of all packages and downloaded binaries</del> - Completed Feb 2016</li>
<li>Locking down HTTP without checksums</li>
<li>Locking down packages without checksums</li>
</ul>
<h2 id="thoughts-for-future-directions-undecided-directions">Thoughts for future directions (undecided directions)</h2>
<ul>
<li>Pluggable compositional model</li>
</ul>
</article>
