@{
    ViewBag.Title = "Security";
}

<h2>Security</h2>
<p>Coming Soon!</p>

- We take security issues very seriously.

- When Chocolatey is used by organizations in the recommended way, Chocolatey is very secure. 



If you are an organization and you are trusting in the community repository (the packages found on this site), you are implicitly accepting any security issues.

Here's how you get to secure:


- Report a security issue