@{
  ViewBag.Title = "Uninstallation";
}

<article>
<h1 id="uninstalling-chocolatey">Uninstalling Chocolatey</h1>
<p>Should you decide you don&#39;t like Chocolatey, you can uninstall it simply by removing the folder (and the environment variable(s) that it creates). Since it is not actually installed in Programs and Features, you don&#39;t have to worry that it cluttered up your registry (however that&#39;s a different story for the applications that you installed with Chocolatey or manually).</p>
<h2 id="folder">Folder</h2>
<p>Most of Chocolatey is contained in <code>C:\ProgramData\chocolatey</code> or whatever <code>$env:ChocolateyInstall</code> evaluates to. You can simply delete that folder.</p>
<p><strong>NOTE</strong> You might first back up the sub-folders <code>lib</code> and <code>bin</code> just in case you find undesirable results in removing Chocolatey. Bear in mind not every Chocolatey package is an installer package, there may be some non-installed applications contained in these subfolders that could potentially go missing. Having a backup will allow you to test that aspect out.</p>
<h2 id="environment-variables">Environment Variables</h2>
<p>There are some environment variables that need to be adjusted or removed.</p>
<ul>
<li>ChocolateyInstall</li>
<li>ChocolateyToolsLocation</li>
<li>ChocolateyLastPathUpdate</li>
<li>PATH (will need updated to remove)</li>
</ul>
<h2 id="script">Script</h2>
<p>There are no warranties on this script whatsoever, but here is something you can try:</p>
<p><strong>WARNING!!</strong> This will remove Chocolatey and all packages, software, and configurations in the Chocolatey Installation folder from your machine. Everything will be GONE. This is very destructive. DO NOT RUN this script unless you completely understand what the intention of this script is and are good with it. If you mess something up, we cannot help you fix it.</p>
<p><strong><em>WARNING:</em></strong> Seriously, this script may destroy your machine and require a rebuild. It may have varied results on different machines in the same environment. Think twice before running this.</p>
<p>If you also intend to delete the Chocolatey directory, remove the <code>-WhatIf</code>:</p>
<pre><code class="powershell">if (!$env:ChocolateyInstall) {
  Write-Warning &quot;The ChocolateyInstall environment variable was not found. `n Chocolatey is not detected as installed. Nothing to do&quot;
  return
}
if (!(Test-Path &quot;$env:ChocolateyInstall&quot;)) {
  Write-Warning &quot;Chocolatey installation not detected at &#39;$env:ChocolateyInstall&#39;. `n Nothing to do.&quot;
  return
}

$userPath = [Microsoft.Win32.Registry]::CurrentUser.OpenSubKey(&#39;Environment&#39;).GetValue(&#39;PATH&#39;, &#39;&#39;, [Microsoft.Win32.RegistryValueOptions]::DoNotExpandEnvironmentNames).ToString()
$machinePath = [Microsoft.Win32.Registry]::LocalMachine.OpenSubKey(&#39;SYSTEM\CurrentControlSet\Control\Session Manager\Environment\&#39;).GetValue(&#39;PATH&#39;, &#39;&#39;, [Microsoft.Win32.RegistryValueOptions]::DoNotExpandEnvironmentNames).ToString()

@@&quot;
User PATH:
$userPath

Machine PATH:
$machinePath
&quot;@@ | Out-File &quot;C:\PATH_backups_ChocolateyUninstall.txt&quot; -Encoding UTF8 -Force

if ($userPath -like &quot;*$env:ChocolateyInstall*&quot;) {
  Write-Output &quot;Chocolatey Install location found in User Path. Removing...&quot;
  # WARNING: This could cause issues after reboot where nothing is
  # found if something goes wrong. In that case, look at the backed up
  # files for PATH.
  [System.Text.RegularExpressions.Regex]::Replace($userPath, [System.Text.RegularExpressions.Regex]::Escape(&quot;$env:ChocolateyInstall\bin&quot;) + &#39;(?&gt;;)?&#39;, &#39;&#39;, [System.Text.RegularExpressions.RegexOptions]::IgnoreCase) | %{[System.Environment]::SetEnvironmentVariable(&#39;PATH&#39;, $_.Replace(&quot;;;&quot;,&quot;;&quot;), &#39;User&#39;)}
}

if ($machinePath -like &quot;*$env:ChocolateyInstall*&quot;) {
  Write-Output &quot;Chocolatey Install location found in Machine Path. Removing...&quot;
  # WARNING: This could cause issues after reboot where nothing is
  # found if something goes wrong. In that case, look at the backed up
  # files for PATH.
  [System.Text.RegularExpressions.Regex]::Replace($machinePath, [System.Text.RegularExpressions.Regex]::Escape(&quot;$env:ChocolateyInstall\bin&quot;) + &#39;(?&gt;;)?&#39;, &#39;&#39;, [System.Text.RegularExpressions.RegexOptions]::IgnoreCase) | %{[System.Environment]::SetEnvironmentVariable(&#39;PATH&#39;, $_.Replace(&quot;;;&quot;,&quot;;&quot;), &#39;Machine&#39;)}
}

# Adapt for any services running in subfolders of ChocolateyInstall
$agentService = Get-Service -Name chocolatey-agent -ErrorAction SilentlyContinue
if ($agentService -and $agentService.Status -eq &#39;Running&#39;) { $agentService.Stop() }
# TODO: add other services here

# delete the contents (remove -WhatIf to actually remove)
Remove-Item -Recurse -Force &quot;$env:ChocolateyInstall&quot; -WhatIf

[System.Environment]::SetEnvironmentVariable(&quot;ChocolateyInstall&quot;, $null, &#39;User&#39;)
[System.Environment]::SetEnvironmentVariable(&quot;ChocolateyInstall&quot;, $null, &#39;Machine&#39;)
[System.Environment]::SetEnvironmentVariable(&quot;ChocolateyLastPathUpdate&quot;, $null, &#39;User&#39;)
[System.Environment]::SetEnvironmentVariable(&quot;ChocolateyLastPathUpdate&quot;, $null, &#39;Machine&#39;)</code></pre>
<p>If you also intend to delete the tools directory that was managed by Chocolatey, remove both of the <code>-WhatIf</code> switches:</p>
<pre><code class="powershell">if ($env:ChocolateyToolsLocation) { Remove-Item -Recurse -Force &quot;$env:ChocolateyToolsLocation&quot; -WhatIf }
[System.Environment]::SetEnvironmentVariable(&quot;ChocolateyToolsLocation&quot;, $null, &#39;User&#39;)
[System.Environment]::SetEnvironmentVariable(&quot;ChocolateyToolsLocation&quot;, $null, &#39;Machine&#39;)</code></pre>
</article>
