@{
  ViewBag.Title = "Videos";
}

<article>
<h1 id="videos">Videos</h1>
<ul>
<li><a href="https://www.pluralsight.com/courses/chocolatey-nuget-automation-pros" class="uri">https://www.pluralsight.com/courses/chocolatey-nuget-automation-pros</a></li>
</ul>
<h2 id="presentations">Presentations</h2>
<h2 id="in-the-community">In the community</h2>
<h3 id="section">2016</h3>
<ul>
<li>Developer on Fire - <a href="http://developeronfire.com/episode-131-rob-reynolds-automate-everything">Episode 131 | Rob Reynolds - Automate Everything</a></li>
<li>TekThing.com - <a href="https://youtu.be/lqOIop83ms8?t=14m34s">TekThing 57: Chocolatey Package Manager</a> - <a href="http://www.tekthing.com/blog/2016/2/4/wifi-router-lifespan-ninite-or-chocolatey-package-manager-android-receipt-trackers-die-cfl-bulbs" class="uri">http://www.tekthing.com/blog/2016/2/4/wifi-router-lifespan-ninite-or-chocolatey-package-manager-android-receipt-trackers-die-cfl-bulbs</a></li>
<li>Channel9 Demo of The Day - <a href="https://channel9.msdn.com/Shows/demooftheday/chocovm">It&#39;s Virtual Chocolate: A Custom VM Dipped in a Chocolatey Box Starter. Delicious</a> - BC3Tech and Jerry Nixon</li>
</ul>
<h3 id="section-1">2015</h3>
<ul>
<li>ArrestedDevOps - <a href="https://www.arresteddevops.com/chocolatey/">Chocolatey Goodness With Rob Reynolds</a></li>
<li>ArrestedDevOps - <a href="https://www.arresteddevops.com/os-switching/">Switching Teams: From Linux To Windows And Windows To Linux</a> - December, 2015</li>
<li>GoogleChromeDevelopers - <a href="https://www.youtube.com/watch?v=msCUKTdBzg4&amp;t=4m19s">Totally Tooling Tips: Windows Command-line Tooling</a> - November 11, 2015</li>
<li>devGeeK - <a href="https://www.youtube.com/watch?v=W-WihPoEbR4&amp;feature=youtu.be&amp;t=48m45s">MongoDb Tutorial (Shoutout)</a> - June 17, 2015</li>
<li>GEEKBLOGTV - <a href="https://www.youtube.com/watch?v=nH6jRB5kigc">Chocolatey</a> - May 18, 2015</li>
</ul>
<h3 id="section-2">2014</h3>
<ul>
<li>FOSDEM 2014 - <a href="https://www.youtube.com/watch?v=FENKd8NT9cY&amp;t=28m19s">Is Distribution-Level Package Management Obsolete?</a> / <a href="http://www.slideshare.net/dberkholz/is-distributionlevel-package-management-obsolete/18">Slides</a> - If you go to 24m 56s, Donnie talks about how painful packaging is for folks across different platforms - Feb 11, 2014</li>
</ul>
<h2 id="conferences">Conferences</h2>
<h3 id="section-3">2015</h3>
<ul>
<li>USENIX LISA15 - <a href="http://usenix.org/conference/lisa15/conference-program/presentation/reynolds">Windows Just Got Chocolatey (Package Management)</a> - Rob Reynolds, November 12, 2015</li>
<li>PuppetConf 2015 - <a href="https://www.youtube.com/watch?v=NNM2H4GsWYA">Chocolatey and Puppet - Managing your Windows Software Since 2011</a> - Rob Reynolds, October 8, 2015</li>
<li>NDC Oslo - <a href="https://vimeo.com/131640721">DevOps Yourself: Fast-Track Your Windows Development Environment Setup with Chocolatey and Vagrant</a> - Justin James</li>
</ul>
<h3 id="section-4">2014</h3>
<ul>
<li>PuppetConf 2014 - <a href="https://www.youtube.com/watch?v=cZl_wKSciVk">Plugging Chocolatey into Your Puppet Infrastructure</a> - Rob Reynolds, September 23, 2014</li>
</ul>
<h3 id="section-5">2013</h3>
<ul>
<li>PuppetConf 2013 - <a href="https://www.youtube.com/watch?v=Im30wziOrBs">Puppet on Windows: Now You&#39;re Getting Chocolatey</a> - Rob Reynolds, August 23, 2013</li>
</ul>
</article>
