@{
  ViewBag.Title = "Videos";
}

<article>
<h1 id="videos">Videos</h1>
<ul>
<li><a href="https://www.pluralsight.com/courses/chocolatey-nuget-automation-pros" class="uri">https://www.pluralsight.com/courses/chocolatey-nuget-automation-pros</a></li>
</ul>
<h2 id="presentations-conferences">Presentations / Conferences</h2>
<h3 id="section">2017</h3>
<ul>
<li>WinOps - <a href="https://www.youtube.com/watch?v=A-3PGmM4gHE">WinOps 2017 Dan Sedlacek - Managing Windows @@ Facebook</a> - September 21, 2017</li>
<li>WinOps - <a href="https://www.youtube.com/watch?v=UGI_J_nfwj4">WinOps 2017 Rob Reynolds - Modern Software Management on Windows with Chocolatey</a> - September 21, 2017</li>
<li>WinOps - <a href="https://www.youtube.com/watch?v=PL0IEhpxNWQ&amp;t=40m2s">WinOps 2017 Connon MacRae - Evolution of Ticketmaster&#39;s journey to DevOps (Shout out)</a> - September 21, 2017</li>
<li>NDC Sydney - <a href="https://www.youtube.com/watch?v=sq2mqeIG2I4">Life is like a Box of Chocolate(y) - David Gardiner</a> - August 17, 2017</li>
<li>Adelaide IT Pro - <a href="https://www.youtube.com/watch?v=oXutSXVciHs">Adelaide IT Pro June 2017 - Life is like a Box of Chocolate(y)</a> - David Gardiner, June 2017</li>
<li>Inedo - <a href="https://www.youtube.com/watch?v=BcTYGf7sQ8Q">Chocolatey Package Management with ProGet</a> - June 22, 2017</li>
<li>Egee - <a href="https://www.youtube.com/watch?v=eXMTb3qetT0">Chocolatey - The Windows Package Manager!</a> - June 5, 2017</li>
</ul>
<h3 id="section-1">2016</h3>
<ul>
<li>Arrested DevOps - <a href="https://youtu.be/rsnxc1l3Fz8?t=7m29s">Microsoft Redux (Shout out)</a> - November 15, 2016</li>
<li><a href="https://youtu.be/mNW9pDZT-8c?t=33m1s">A Tale of Two Hierarchies: Group Policy &amp; Puppet (Shout out)</a> - Matt Stone, PuppetConf 2016</li>
<li>PuppetConf 2016 - <a href="https://www.youtube.com/watch?v=K5jq35wezHI">Easily Manage Software on Windows with Chocolatey</a> - Rob Reynolds, October 21, 2016</li>
<li><a href="https://www.youtube.com/watch?v=6GGTcUbhc3o">Introducing and installing Chocolatey</a></li>
<li>BJTechNews - <a href="https://www.youtube.com/watch?v=1OrpZpeEmL0">Chocolatey and MDT 2013 Update 2 with Windows 10 - Bernardo Arocho Jr.</a> - Jun 29, 2016</li>
<li>Developer on Fire - <a href="http://developeronfire.com/episode-131-rob-reynolds-automate-everything">Episode 131 | Rob Reynolds - Automate Everything</a> - May 16, 2016</li>
<li><a href="https://www.youtube.com/watch?v=HlnTZF3H1Ac">Chocolatey Demonstration - Andy Melton</a> - April 8, 2016</li>
<li>Channel9 Demo of The Day - <a href="https://channel9.msdn.com/Shows/demooftheday/chocovm">It&#39;s Virtual Chocolate: A Custom VM Dipped in a Chocolatey Box Starter. Delicious</a> - BC3Tech and Jerry Nixon - March 3, 2016</li>
<li>TekThing.com - <a href="https://youtu.be/lqOIop83ms8?t=14m34s">TekThing 57: Chocolatey Package Manager</a> - <a href="http://www.tekthing.com/blog/2016/2/4/wifi-router-lifespan-ninite-or-chocolatey-package-manager-android-receipt-trackers-die-cfl-bulbs" class="uri">http://www.tekthing.com/blog/2016/2/4/wifi-router-lifespan-ninite-or-chocolatey-package-manager-android-receipt-trackers-die-cfl-bulbs</a> - February 4, 2016</li>
</ul>
<h3 id="section-2">2015</h3>
<ul>
<li><a href="https://www.youtube.com/watch?v=aid3ptjLlIk">Installing applications in Windows 8.1 with Chocolatey - JGAITPro (Espanol)</a> - December 14, 2015</li>
<li>Arrested DevOps - <a href="https://www.arresteddevops.com/chocolatey/">Chocolatey Goodness With Rob Reynolds</a> - December 2015</li>
<li>Arrested DevOps - <a href="https://www.arresteddevops.com/os-switching/">Switching Teams: From Linux To Windows And Windows To Linux</a> - December 2015</li>
<li>USENIX LISA15 - <a href="http://usenix.org/conference/lisa15/conference-program/presentation/reynolds">Windows Just Got Chocolatey (Package Management)</a> - Rob Reynolds, November 12, 2015</li>
<li>GoogleChromeDevelopers - <a href="https://www.youtube.com/watch?v=msCUKTdBzg4&amp;t=4m19s">Totally Tooling Tips: Windows Command-line Tooling</a> - November 11, 2015</li>
<li>PuppetConf 2015 - <a href="https://www.youtube.com/watch?v=NNM2H4GsWYA">Chocolatey and Puppet - Managing your Windows Software Since 2011</a> - Rob Reynolds, October 8, 2015</li>
<li>ITPro TV - <a href="https://www.youtube.com/watch?v=yDkjf8EOU2Q">What&#39;s New Windows 10 - OneGet Package Manager</a> - July 15, 2015</li>
<li><a href="https://www.youtube.com/watch?v=OWgADNDHJzg">Tutorial: Usando o Chocolatey (apt-get/yum para Windows) - Carlos Alberto Castelo Elias Filho (Espanol)</a> - June 29, 2015</li>
<li>devGeeK - <a href="https://www.youtube.com/watch?v=W-WihPoEbR4&amp;feature=youtu.be&amp;t=48m45s">MongoDb Tutorial (Shout out)</a> - June 17, 2015</li>
<li>GEEKBLOGTV - <a href="https://www.youtube.com/watch?v=nH6jRB5kigc">Chocolatey</a> - May 18, 2015</li>
<li>Docker - <a href="https://www.youtube.com/watch?v=l026hqjhLRU">Installing Docker Client for Windows from Chocolatey</a> - April 1, 2015</li>
<li><a href="https://www.youtube.com/watch?v=kbDPMaEkqZY">Exploring the new Chocolatey (AptGet for Windows) - Katherine Moss</a> - Mar 7, 2015</li>
<li>PhillyPoSH - <a href="https://www.youtube.com/watch?v=LqyHyoa_F1c">PhillyPoSH 3/5/2015 - Derek Murawsky : Introducing Chocolatey</a> - March 5, 2015</li>
<li>DevOpsLibrary - <a href="https://www.youtube.com/watch?v=WYxXUQCTVWw">DevOpsLibrary Episode 6: Salted Chocolatey Windows</a> - February 24, 2015</li>
<li>NDC Oslo - <a href="https://vimeo.com/131640721">DevOps Yourself: Fast-Track Your Windows Development Environment Setup with Chocolatey and Vagrant</a> - Justin James</li>
</ul>
<h3 id="section-3">2014</h3>
<ul>
<li><a href="https://www.youtube.com/watch?v=nh3lPZssp7s">How to use Chocolatey - a Simple and Cool Machine Package Manager - 000abcdexxx Google</a> - November 1, 2014</li>
<li><a href="https://vimeo.com/108866814">The Chocolatey Experience</a> - October 14, 2014</li>
<li><a href="https://www.youtube.com/watch?v=sm_U53sxt2c">The New Chocolatey</a> - September 29, 2014</li>
<li>PuppetConf 2014 - <a href="https://www.youtube.com/watch?v=cZl_wKSciVk">Plugging Chocolatey into Your Puppet Infrastructure</a> - Rob Reynolds, September 23, 2014</li>
<li>FOSDEM 2014 - <a href="https://www.youtube.com/watch?v=FENKd8NT9cY&amp;t=28m19s">Is Distribution-Level Package Management Obsolete?</a> / <a href="http://www.slideshare.net/dberkholz/is-distributionlevel-package-management-obsolete/18">Slides</a> - If you go to 24m 56s, Donnie talks about how painful packaging is for folks across different platforms - Feb 11, 2014</li>
</ul>
<h3 id="section-4">2013</h3>
<ul>
<li><a href="https://www.youtube.com/watch?v=lLJA_OW0LlY">Creating a Chocolatey Package Part 1 - Katherine Moss</a> - Dec 22, 2013</li>
<li>PuppetConf 2013 - <a href="https://www.youtube.com/watch?v=Im30wziOrBs">Puppet on Windows: Now You&#39;re Getting Chocolatey</a> - Rob Reynolds, August 23, 2013</li>
<li><a href="https://www.youtube.com/watch?v=yBk9DuAHNuc">Chocolatey Introduction - Joe Maddalone</a> - June 8, 2013</li>
</ul>
<h3 id="section-5">2012</h3>
<ul>
<li>LifeHacker - <a href="https://www.youtube.com/watch?v=ArwT8DtK7Cc">Using the Chocolatey Command Line Package Manager in Windows</a> - September 11, 2012</li>
</ul>
<h3 id="section-6">2011</h3>
<ul>
<li><a href="https://www.youtube.com/watch?v=Wt_unjS_SUo">Create a Chocolatey NuGet Package</a> - April 26, 2011</li>
<li><a href="https://www.youtube.com/watch?v=N-hWOUL8roU">Chocolatey NuGet - The Power of apt-get for Windows</a> - April 26, 2011</li>
</ul>
</article>
