@{
  ViewBag.Title = "Why";
}

<article>
<h2 id="why-chocolatey">Why Chocolatey?</h2>
<p>&quot;You&#39;ve never deployed software faster than you will with Chocolatey.&quot; -Rob Reynolds</p>
<p>Chocolatey is software management automation.</p>
<p>Chocolatey works with over 20+ installer technologies for Windows, but it can manage things you would normally xcopy deploy (like runtime binaries and zip files). You can also work with registry settings or managing files and configurations, or any combination. Since it uses PowerShell, if you can dream it, you can do it with Chocolatey.</p>
<p>Chocolatey builds on technologies that are familiar:</p>
<ul>
<li>PowerShell</li>
<li>Unattended installations</li>
</ul>
<p>We didn&#39;t try to reinvent the wheel with Chocolatey. We are building on technologies you know, technologies you may have been using for years. It&#39;s going to feel good knowing that time you have spent working with software deployment plugs right into Chocolatey in a much better and more manageable way. Welcome to sane software management. With those familiar technologies, Chocolatey brings the concepts of true package management to allow you to version things, manage dependencies and installation order, better inventory management, and other features.</p>
<p>Chocolatey also integrates with <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-infrastructure-automation" })">infrastructure management tools (like Puppet, Chef or SCCM)</a> and other remote administration tools (like LabTech or LANDesk).</p>
<p>You are going to find the simplicity and absolute power of Chocolatey reinvigorating for Windows software deployments. Yes, we know that is a bold statement. Yes, we have hundreds of organizations and thousands of individuals that use Chocolatey that will back that statement up.</p>
<p>Chocolatey is the package manager for Windows.</p>
<h3 id="what-is-the-purpose-of-chocolatey">What is the purpose of Chocolatey?</h3>
<p>How many times do you hear about an awesome tool/application from your friends and want to try it out? How much effort do you go through to set a tool and all of its requirements up on your machine? Do you realize that all of this manual effort is a pain? It&#39;s a pain we are used to! It&#39;s something we just do and don&#39;t realize we are wasting time doing all of this manual process. And worse, when we install applications it&#39;s always... Next Next Next Finish.</p>
<p>There is a better way! Once you start to use Chocolatey to silently install applications, tools, and to quickly set up things on your machine, you will start to realize that it is more of a global automation tool. That makes it an enabler, enabling you to do just about anything. And to repeat it anywhere in the world with little more than an internet connection.</p>
<p>Because Chocolatey is built on top of the NuGet infrastructure, that means you can install packages from Chocolatey.org, NuGet.org, MyGet.org, file shares, directories, custom feeds and from private feeds. That means you can set up your own server (even private) and your own internal packages with more company specific packages.</p>
<p><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "chocolatey-story" })">Tell me a story</a></p>
<h3 id="what-is-chocolatey">What is Chocolatey?</h3>
<p>Chocolatey helps good developers and system administrators become outstanding developers/sysadmins. Chocolatey goes to <em>eleven</em>.</p>
<p>Chocolatey is something <strong>you need if you&#39;ve ever installed, upgraded, or removed software on Windows</strong>. It is an <strong>existing, proven</strong>, project that was started <a href="https://github.com/ferventcoder/nugetpackages/commit/d16ed7ac675395b3bb8ecee90fb13efb03d4b619">in 2011</a>. For those familiar with *nix package managers, it is a binary package manager, sort of like yum or apt-get, but for Windows. The words &quot;binary package manager&quot; can be confusing for those who don&#39;t know what that means, but bear with me for a few minutes. Chocolatey is a tool that automates all the mundane getting and installing software work for you. You just select what you want installed and within a few minutes, Chocolatey has downloaded and installed (or upgraded) that software without need for further input from you. So <strong>while Chocolatey does the hard work, you can go get some coffee</strong>. Or <strong>sleep</strong>. Or do other more important things.</p>
<p>This may not seem very powerful at first, but imagine when you want to <strong>upgrade all</strong> of the software on your system to the latest, most secure versions, how do you do that now? Right. <strong><em>Manually</em></strong>:</p>
<ol>
<li>Search for most recent version</li>
<li>Pick (hopefully) the right download</li>
<li>Wait for it to download</li>
<li>Unblock it</li>
<li>Install it manually (next, next, next anyone?)</li>
<li>Hope it didn&#39;t install any malware</li>
<li>Now do it again for <strong><em>EVERY</em></strong> piece of software on your system.</li>
</ol>
<p><img src="https://cloud.githubusercontent.com/assets/63502/6924749/4e4e23d2-d7a0-11e4-9f4e-a44a02b227f6.gif" alt="chrisfarley-disbelief" /></p>
<p>Now contrast that with how you do the same with <strong>Chocolatey</strong>:</p>
<ol>
<li>Open command line.</li>
<li>Type <code>choco upgrade all -y</code></li>
<li>Walk away</li>
</ol>
<p><img src="https://cloud.githubusercontent.com/assets/63502/6924713/14521f12-d7a0-11e4-819d-88c46e1a7bfa.gif" alt="shia-labeouf-magic-gif" /></p>
<p><a name="can-i-use-chocolatey-with-existing-software"></a></p>
<h3 id="can-i-use-chocolatey-with-existing-installed-software">Can I use Chocolatey with existing installed software?</h3>
<p>Yes, yes you can. Chocolatey works in a similar manner to how you would do things if you downloaded and installed things yourself. Its design and infrastructure is built that way on purpose. It takes the pain of manually doing it yourself away (see previous section).</p>
<p><img src="http://replygif.net/i/208.gif" alt="Yes, yes" /></p>
<p>Now, Chocolatey <strong><em>can</em></strong> take over existing installs and be able to handle uninstalls in most cases. <strong><em>Can</em></strong> is very dependent on packaging and the underlying software installer that is used for the install (<a href="@Url.RouteUrl(RouteName.Docs, new { docName = "chocolatey-faqs" })#what-distinction-does-chocolatey-make-between-an-installable-and-a-portable-application">installer packages</a> are the context here).</p>
<p>Let me start by saying that testing how a single package won&#39;t give you a warm and fuzzy about how it will work with all packages. Software installers in the wild world of Windows have many completely different ways of going about things, all of which are dependent on those creating the installers, none of which have a consistent standard (except maybe MSI). Welcome to Windows.</p>
<p>Now that we have baselined that - each piece of software out there is a special snowflake, so each package has to be able to account for differences in the installers.</p>
<p>So when a package takes over the existing install, if the registry snapshot doesn&#39;t differ, it won&#39;t be able to automatically uninstall it (if you have autoUninstaller turned on, check <code>choco feature</code>). If there is no <code>chocolateyUninstall.ps1</code> that would uninstall the software, choco won&#39;t be able to uninstall it. At some point it will though, choco continues to get better at things. And at some point in the near future it will contain a check to do nothing for an install if a registry key exists (and record that for later uninstall).</p>
<p>The question I need to ask is whether you are worse off by adding choco into the mix? It handles upgrades for you. It brings about some level of consistency and a unifying interface to this madness that is the Windows installer infrastructure.</p>
<h3 id="why-not-use-an-existing-windows-package-manager">Why not use an existing Windows package manager?</h3>
<p>Believe me, I wanted there to be something existing on Windows that would fit the bill. Package management is not a glorious job. Especially on Windows. It&#39;s taking all of the different native installers, archives, and straight executable downloads and making a simple interface for consumers to issue the same install command for all of them. Here are/were my needs:</p>
<ul>
<li>Good CLI that is simple to use.</li>
<li>Main repository that takes packages contributions from the community (and is being maintained).</li>
<li>Ability to use additional/multiple sources.</li>
<li>Meta packages that can chain dependencies.</li>
<li>Virtual packages.</li>
<li>Packages should be easy to create / maintain.</li>
<li>Packages should be concise and be able to be created without worrying about distribution rights.</li>
<li>Unattended installs</li>
<li>Installation of multiple packages with one command.</li>
</ul>
<p>To date, Chocolatey does all of this (virtual packages is coming).</p>
<h3 id="other-questions">Other questions?</h3>
<p>See the <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "chocolatey-faqs" })">FAQs</a>.</p>
</article>
