@model CourseViewModel
@{
    ViewBag.Title = "Creating Chocolatey Packages";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}

<section class="py-3 py-lg-5 bg-white">
  @Html.Partial("~/Views/Courses/CreatingChocolateyPackages/_CourseDescription.cshtml")
</section>
@Html.Partial("~/Views/Courses/_AllCourses.cshtml")