@{
    var noticeText = ("");
}

<div class="alert alert-primary alert-dismissible fade show mb-0 @if (string.IsNullOrEmpty(noticeText)) { <text> d-none</text> }" role="alert" aria-atomic="true">
    <strong><i class="icon-exclamation-triangle m-r"></i>@Html.Raw(noticeText)</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>