@{
    var noticeText = ("Upcoming Maintenance: Services will be unavailable for 6 hours on Saturday 26 October 2019 - <a href='/blog/infrastructure-changes-october-2019'><u>Learn more.</u></a>");
    //var noticeText = ("");
}

<div class="alert bg-danger text-white alert-dismissible fade show mb-0 text-center p-2 notice-text @if (string.IsNullOrEmpty(noticeText)) { <text> d-none</text> }" role="alert" aria-atomic="true">
    <p class="mb-0 mr-3 mr-md-0"><strong>@Html.Raw(noticeText)</strong></p>
    <button type="button" class="close py-0" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>