@{
    var noticeTextBottom = ("<a href='/compare' class='alert-link'>Pro</a> (for individuals like <em><strong>you</strong></em> that want more out of Chocolatey) and <a href='/compare' class='alert-link'>Chocolatey for Business</a> now available! Get your copy now!");
}

<div class="alert alert-primary alert-dismissible fade show mb-0 @if (string.IsNullOrEmpty(noticeTextBottom)) { <text> d-none</text> }" role="alert" aria-atomic="true">
    <strong><i class="icon-exclamation-triangle m-r"></i>@Html.Raw(noticeTextBottom)</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>