<div class="cookies-popup alert alert-primary alert-dismissible fade show text-center mb-0" role="alert" aria-atomic="true">
    <strong>Chocolatey.org uses cookies to enhance the user experience of the site.</strong>
    <button type="button" class="btn btn-dark cookies-close" data-dismiss="alert" aria-label="Close">
        OK
    </button>
</div>