@if (@HttpContext.Current.Request.Cookies["chocolatey_hide_cookies_notice"] == null)
{
    <div class="cookies-popup">
        <div class="cookies-message">
            Chocolatey.org uses cookies to enhance the user experience of the site, and to monitor traffic on the site with Google Analytics.
        </div>
        <div class="cookies-close">Ok</div>
    </div>
}