@using NuGetGallery
@{
    var BaseHref = Request.Url.GetLeftPart(UriPartial.Authority);
    var FullHref = Request.Url.GetLeftPart(UriPartial.Path);

    var pagePackages = @FullHref == @BaseHref + "/packages";
    var pageSearch = @FullHref == @BaseHref + "/search";
    var pageHome = Request.RawUrl == Url.RouteUrl(RouteName.Home);
    var pageDocs = Request.RawUrl == Url.RouteUrl(RouteName.Docs) || Request.RawUrl == Url.RouteUrl(RouteName.Docs) + "?q=" + ViewBag.SearchTerm;
}

<form class="form-inline search-box d-none" role="search" action="@if(pagePackages){@Url.PackageList()}else if(pageSearch || pageHome){@Url.SearchResults()}else if(pageDocs){@Url.RouteUrl(RouteName.Docs, new { docName = "search" })}" method="get">
    <div class="input-group w-100">
        <input class="form-control" name="q" type="text" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." placeholder="Search @if(pagePackages){<text>Packages</text>}" value="@(String.IsNullOrEmpty(ViewBag.SearchTerm) ? "" : ViewBag.SearchTerm)" autofocus>
        <div class="input-group-append">
            <button class="btn btn-light" type="submit" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." value="">
                <span class="fas fa-search" alt="Search"></span>
            </button>
        </div>
    </div>
</form>