<a class="btn btn-primary btn-collapsing-right-sidebar collapsed py-3 d-hash-none d-none @if(!ViewContext.RouteData.Values["Action"].Equals("ListPackages")){<text>d-md-block</text>} shadow" data-toggle="collapse" href="#collapsing-right-sidebar" role="button" aria-expanded="false" aria-controls="collapsing right sidebar"><i class="fas fa-bullhorn"></i></a>
<nav id="collapsing-right-sidebar" class="collapsing-sidebar collapse shadow pt-3 px-3">
    <div class="text-right text-md-left mb-3"><a class="h3 collapsed text-secondary" data-toggle="collapse" href="#collapsing-right-sidebar" role="button" aria-expanded="false" aria-controls="collapsing right sidebar"><span class="fas fa-times"></span></a></div>
    @Html.Partial("~/Views/Pages/_CollapsingRightSidebarContent.cshtml")
</nav>