<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center">
                    <img class="lazy img-fluid" width="400" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/Badges/badges.png")" alt="Course Badges" title="Course Badges" />
                </div>
                <div class="col-lg-6">
                    <h2>Chocolatey Courses</h2>
                    <hr class="border-hr" />
                    <p>
                        Whether you are looking to create your first package or planning to fully automate your entire Windows Lifecycle. Its time to step out of the dark ages and stop doing things manually. 
                        Reduce complexity, save yourself time, and get up to speed on the latest technologies and approaches.
                    </p>
                    <p>Regardless if you are new to automation or a Chocolatey expert, our courses are designed to get you up to speed easily.</p>
                    <ul class="check-list">
                        <li>Interactive courses with quizzes on each module</li>
                        <li>Self-paced with practical exercises</li>
                        <li>Earn badges for each course you have completed, and share on your profile</li>
                    </ul>
                    <a class="btn btn-primary" href="@Url.RouteUrl(RouteName.Courses)">Start Learning</a>
                </div>
            </div>
        </div>
    </div>
</div>