@{
    ViewBag.Title = "Chocolatey for Business Registration Form";
}

<section>
  <div class="container-wide p-b--l">
    <script type="text/javascript" src="https://form.jotform.com/jsform/91124580699162"></script>
  </div>
</section>
