@{
    ViewBag.Title = "Kickstarter";
}

<h2>Kickstarter</h2>

In October 2014, we ran a highly successful Kickstarter campaign to put the things in place for a viable future for Chocolatey for the next 20+ years! 

- Listed backers
- Link to other backers
- Link to Campaign
- A word of thanks

<p>Coming Soon!</p>