@{
    ViewBag.Title = "Notice";
}

<h2>Notice</h2>
<p class="warning">Everything we've promised here is coming to fruition! See <a href="http://codebetter.com/robreynolds/2015/12/18/chocolatey-community-state-of-union/">Rob's post</a>!</p>

<p class="message">
  For urgent issues (including packages that are security releases), please reach out to us immediately on <a href="https://gitter.im/chocolatey/choco">Gitter</a>.<br /><br />
</p>

<p>What we've done to resolve the large backlog of moderation:</p>

<ul>
    <li>Adding in a service to automatically verify the install and uninstall of packages.</li>
    <li>Adding some auto-moderation for things a computer can check in a package.</li>
    <li>Adding more moderators</li>
</ul>
