@{
    ViewBag.Title = "Notice";
}

<h2>Notice</h2>
<p class="warning">Everything we've promised here is coming to fruition! See <a href="http://codebetter.com/robreynolds/2015/12/18/chocolatey-community-state-of-union/">Rob's post</a>!</p>

<p class="message">
    Currently we have a very large backlog of packages in moderation queue (popularity is a double-edged sword) and are actively addressing the situation, but as a result moderation may take 
    upwards of two or more weeks until we resolve issues. <br />
    For urgent issues (including packages that are security releases), please reach out to us immediately on <a href="https://gitter.im/chocolatey/choco">Gitter</a>.<br /><br />
</p>

<p>Things we are doing to help resolve the large backlog of moderation:</p>

<ul>
    <li>Adding in a service to automatically verify the install and uninstall of packages.</li>
    <li>Adding some auto-moderation for things a computer can check in a package.</li>
    <li>Adding more moderators</li>
</ul>
