@{
    ViewBag.Title = "Partnership";
}
<section>
  <div class="container-wide p-b--l">
    <h1 class="text-center m-b">Chocolatey Partner Ecosystem</h1>
    <h3 class="text-center">Help your customers. Enhance your solutions. Drive new revenue streams.</h3>
    <p class="text-center"><a href="@Url.RouteUrl(RouteName.ContactUs)">Contact us about partnership opportunities</a></p>
  </div>
</section>
<div class="bg-two p-t--l p-b--l">
  <section class="clearfix p-l p-r p-t--l p-b--l container-wide">
    <h2 class="text-center m-b">Solution Provider Program</h2>
    
    <p>Chocolatey's Partner Network offers resources, support and training to differentiate your business from your competition and increase your profitability with new revenue streams.</p>

    <blockquote>"Our goal is to support you with training and and sales support to give you the resources needed to deliver automation solutions to your customers." - Mukesh Sharma, COO</blockquote>

    <p>Solution Providers use their technical skills and market knowledge to resell Chocolatey for Business, either as part of an existing Windows project or an IT automation solution. Partnering with Chocolatey will mark you as a market leader in modern Windows automation and DevOps.</p>

    <ul style="list-style-type: disc; padding-left: 2em;">
      <li><span class="text-underline">Referral</span> - Simply engage with our sales team to inform us of customers interested in Chocolatey and we will offer you an attractive referral fee for any customers that purchase Chocolatey for Business.</li>
      <li><span class="text-underline">Silver</span> - Receive an attractive discount by signing up to our partner program. Register your opportunities, undertake training and work with us on driving new business. At least one Chocolatey trained professional required.</li>
      <li><span class="text-underline">Gold</span> - Receive an increased discount over our Silver level. Work with us on a business plan in return for leads and marketing support. At least two Chocolatey trained professionals required.</li>
    </ul>

  </section>
</div>
<div class="bg-three p-t--l p-b--l kickstarter">
  <section class="clearfix p-l p-r p-t--l p-b--l container-wide">
    <h2 class="text-center m-b">Technology Alliances</h2>
    <p>Chocolatey integrates with leading configuration managers and automation solutions such as Puppet, Chef, Microsoft SCCM, and Ansible (Red Hat).</p>

    <p>Our customers are keen to extend their usage and compatibility with other leading technology offerings.  We are keen to work with other leading software vendors to build joint solutions to help customers simplify and automate their Windows experience.</p>
	
    <h3 class="text-center huge p-t--l"><a href="@Url.RouteUrl(RouteName.ContactUs)">Become a Partner</a></h3>
  </section>
</div>
