@{
    ViewBag.Title = "Partnership";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/CookiesNotice");
    Bundles.Reference("Scripts/closeable");
}

<div id="header" class="bg-medium-dark">
    <section class="py-3 py-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="display-3">Chocolatey Partner Ecosystem</h1>
                    <h1>Help your customers. Enhance your solutions. Drive new revenue streams.</h1>
                    <a class="btn btn-lg btn-primary mt-3" href="@Url.RouteUrl(RouteName.ContactPartner)">Become a Partner</a>
                </div>
            </div>
        </div>
    </section>
    <div class="shape-border shape-border-bottom"></div>
</div>
<section class="py-3 py-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="mb-3 text-center"><strong>Solution Provider Program</strong></h2>
                <p>Chocolatey's Partner Network offers resources, support and training to differentiate your business from your competition and increase your profitability with new revenue streams.</p>
                <p>Solution Providers use their technical skills and market knowledge to resell Chocolatey for Business, either as part of an existing Windows project or an IT automation solution. Partnering with Chocolatey will mark you as a market leader in modern Windows automation and DevOps.</p>
                <ul>
                    <li><strong>Referral</strong> - Simply engage with our sales team to inform us of customers interested in Chocolatey and we will offer you an attractive referral fee for any customers that purchase Chocolatey for Business.</li>
                    <li><strong>Silver</strong> - Receive an attractive discount by signing up to our partner program. Register your opportunities, undertake training and work with us on driving new business. At least one Chocolatey trained professional required.</li>
                    <li><strong>Gold</strong> - Receive an increased discount over our Silver level. Work with us on a business plan in return for leads and marketing support. At least two Chocolatey trained professionals required.</li>
                </ul>
            </div>
            <div class="col-lg-6 text-center">
                <div class="card w-75 mx-auto testimonial">
                    <div class="card-body">
                        <img class="rounded-circle border text-center" src="/content/images/team/mukesh-sq.jpg" alt="Mukesh Sharma, COO of Chocolatey" title="Mukesh Sharma, COO of Chocolatey" />
                        <h3 class="mt-2 mb-0 text-primary"><small>Mukesh Sharma</small></h3>
                        <p><small><i>COO of Chocolatey</i></small></p>
                        <q class="mb-0">Our goal is to support you with training and and sales support to give you the resources needed to deliver automation solutions to your customers.</q>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="trusted" class="py-3 py-lg-5 bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <img class="w-100" src="@Url.Content("~/content/images/integration_points-dark.png")" alt="Chocolatey Integrations" />
            </div>
            <div class="col-lg-6">
                <h2 class="mb-3 text-center"><strong>Technology Alliances</strong></h2>
                <p>Chocolatey integrates with leading configuration managers and automation solutions such as Puppet, Chef, Microsoft SCCM, and Ansible (Red Hat).</p>
                <p>Our customers are keen to extend their usage and compatibility with other leading technology offerings.  We are keen to work with other leading software vendors to build joint solutions to help customers simplify and automate their Windows experience.</p>
                <div class="text-center"><a class="btn btn-primary mt-3" href="@Url.RouteUrl(RouteName.ContactPartner)">Become a Partner</a></div>
            </div>
        </div>
    </div>
</section>