@{
    ViewBag.Title = "Partnership";
}

<section>
  <div class="container-wide p-b--l">
    <h1 class="text-center m-b">Partnership Opportunities</h1>

    - Do you want to partner with us? 
    - Successful solutions
    - Point to business page and case studies

    <p>Coming Soon!</p>
  </div>
</section>