@{
    ViewBag.Title = "Partnership";
}

<h2>Partnership Opportunities</h2>

- Do you want to partner with us? 
- Successful solutions
- Point to business page and case studies

<p>Coming Soon!</p>