@{
    ViewBag.Title = "Notice";
}

<h2>Pricing</h2>

<h1 class="text-center m-b">Pricing</h1>

<table class="m-b--l">
    <thead>

    <th></th>

    <th>Cost per license</th>

    <th>Licenses</th>

    <th>Annual Cost</th>

    <th>Cost per month</th>

    <th>
        CPL/month
    </th>

    </thead>
    <tbody>

        <tr>

            <td>

                Professional

            </td>

            <td>

                $96.00

            </td>

            <td>

                1

            </td>

            <td>

                $96.00

            </td>

            <td>

                $8.00

            </td>

            <td>

                $8.00

            </td>

        </tr>

        <tr>

            <td>

                Business (Startup)

            </td>

            <td>

                $24.00

            </td>

            <td>

                25

            </td>

            <td>

                $600.00

            </td>

            <td>

                $50.00

            </td>

            <td>

                $2.00

            </td>

        </tr>

        <tr>

            <td>

                Business (Small Business) Per Pack

            </td>

            <td>

                $32.00

            </td>

            <td>

                75

            </td>

            <td>

                $2,400.00

            </td>

            <td>

                $200.00

            </td>

            <td>

                $2.67

            </td>

        </tr>

        <tr>

            <td>

                Business (Medium) Per Pack

            </td>

            <td>

                $31.20

            </td>

            <td>

                250

            </td>

            <td>

                $7,800.00

            </td>

            <td>

                $650.00

            </td>

            <td>

                $2.60

            </td>

        </tr>

        <tr>

            <td>

                Business (Large) Per Pack

            </td>

            <td>

                $25.00

            </td>

            <td>

                1200

            </td>

            <td>

                $30,000.00

            </td>

            <td>

                $2,500.00

            </td>

            <td>

                $2.08

            </td>

        </tr>



    </tbody>
</table>


<h2>FAQ</h2>

<h3>How Does Support Work?</h3>

<p>Unless you have an explicit support contract (coming later), you are able to contact us through a special email address. This gives you a private support channel to communicate with us about bugs and feature requests. We won't limit this support channel unless we find we need to (if it is being abused, etc). We do provide prioritization of features and bugs for customers.</p>

<p>We do not have support for packages found on Chocolatey.org - those are considered community packages and should not be used for commercial purposes. Package issues should follow the package triage proces. <a href="https://github.com/chocolatey/choco/wiki/CommunityPackagesWarning">Read more...</a></p>

<h3>What Features Are Planned?</h3>

<p>NOTE: The first feature listed (creating packages from software installers) is in final stages and should be released shortly.</p>

Note: Planned features could change or be removed. We don't think they will, but this is a heads up.

Chocolatey for Business - Create packages from software installers - Do you keep all the installers you install for your business internally somewhere? Chocolatey for Business can automatically create packages for all the software your organization uses in under 5 minutes!
Syncing with Programs and Features - Detect manual removals of software and remove those packages from Chocolatey.
Lock down configuration of Chocolatey to certain groups - helpful when you want to ensure the default source (the community feed) stays disabled.
Automatic recompile support - What is recompiling?
Non-Administrator Self-Service Installs - Chocolatey as a background service that allows non-admins to self-serve approved installations.
Administrator Only Mode - Only allow administrators to run Chocolatey.
Business / Pro only packages with an SLA - packages on the community repository bear no support whatsoever. We'd like to provide a repository that both pro and businesses can trust and count on.
Removal of software not managed by Chocolatey - do you want to restrict software installations to only the software installed by Chocolatey?


