@{
    ViewBag.Title = "Notice";
}

<h2>Pricing</h2>

<h1 class="text-center m-b">Pricing</h1>

<table class="m-b--l">
    <thead>

    <th></th>

    <th>Cost per license</th>

    <th>Licenses</th>

    <th>Annual Cost</th>

    <th>Cost per month</th>

    <th>
        CPL/month
    </th>

    </thead>
    <tbody>

        <tr>

            <td>

                Professional

            </td>

            <td>

                $96.00

            </td>

            <td>

                1

            </td>

            <td>

                $96.00

            </td>

            <td>

                $8.00

            </td>

            <td>

                $8.00

            </td>

        </tr>

        <tr>

            <td>

                Business (Startup)

            </td>

            <td>

                $24.00

            </td>

            <td>

                25

            </td>

            <td>

                $600.00

            </td>

            <td>

                $50.00

            </td>

            <td>

                $2.00

            </td>

        </tr>

        <tr>

            <td>

                Business (Small Business) Per Pack

            </td>

            <td>

                $32.00

            </td>

            <td>

                75

            </td>

            <td>

                $2,400.00

            </td>

            <td>

                $200.00

            </td>

            <td>

                $2.67

            </td>

        </tr>

        <tr>

            <td>

                Business (Medium) Per Pack

            </td>

            <td>

                $31.20

            </td>

            <td>

                250

            </td>

            <td>

                $7,800.00

            </td>

            <td>

                $650.00

            </td>

            <td>

                $2.60

            </td>

        </tr>

        <tr>

            <td>

                Business (Large) Per Pack

            </td>

            <td>

                $25.00

            </td>

            <td>

                1200

            </td>

            <td>

                $30,000.00

            </td>

            <td>

                $2,500.00

            </td>

            <td>

                $2.08

            </td>

        </tr>



    </tbody>
</table>
