@{
    ViewBag.Title = "Notice";
}
<section>
  <div class="container-wide p-b--l">
    
    
    <h1 class="text-center m-b">Pricing</h1>

    <table class="m-b--l">
      <thead>
        <th></th>
        <th>Free (FOSS)</th>
        <th>Professional</th>
        <th>Business</th>
        <th>Enterprise</th>
      </thead>
      <tbody>
        <tr>
          <td>Machines</td>
          <td>Unlimited</td>
          <td>Up to 5</td>
          <td>Starts at 35</td>
          <td>Coming soon.</td>
        </tr>
        <tr>
          <td>Command line interface / Graphical interface</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td>Multiple package sources including private / authenticated feeds</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td>Silent download install / upgrade from anywhere</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td>Tools on PATH without cluttering PATH. Automatically</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          
          <td>
            
            Upgrade all packages with one command!
            
          </td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td>
            
            Create and update your own packages easily! Create your own templates!
            
          </td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          
          <td>
            
            Install multiple packages with one command
            
          </td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          
          <td>
            
            Install packages from alternative locations like Windows Features, Ruby Gems, Python, etc
            
          </td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          
          <td>
            
            Support non-administrative scenarios
            
          </td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          
          <td>
            
            Checksum downloaded files
            
          </td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td>
            
            Override installer arguments
            
          </td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          
          <td>
            
            Script entire development environment!
            
          </td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          
          <td>
            
            Schedule package upgrades
            
          </td>
          <td></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          
        </tr>
        
        <tr>
          
          <td>
            
            Extensions - extend Chocolatey
            
          </td>
          <td></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          
          <td>
            
            Multiple installs/same machine
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Professional only packages
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Synchronize with existing add remove programs
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Alternate permanent download location for all packages
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Virus Check downloads prior to running
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Download & Recompile packages with local resources (non-internet)
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Regular Support - 1 support call per quarter, unlimited email support
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Business Support - 2 support calls per quarter, unlimited private email support
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
              
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Enterprise Support - 5 support calls per quarter, unlimited private email support
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Private Package Feed (maybe MyGet, if we can get pricing right)
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
              
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Private On-Premise Chocolatey Gallery
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Unlimited Phone Support
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Unlimited Email Support
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
        </tr>
        
        <tr>
          
          <td>
            
            Add On: Private Chocolatey Gallery ($2000)
            
          </td>
          
          <td>
            
              
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
          <td>
            
            <span class="text-green icon-check"></span>
            
          </td>
          
        </tr>
        
      </tbody>
    </table>




    <h2>FAQ</h2>

    <h3>How Does Support Work?</h3>

    <p>Unless you have an explicit support contract (coming later), you are able to contact us through a special email address. This gives you a private support channel to communicate with us about bugs and feature requests. We won't limit this support channel unless we find we need to (if it is being abused, etc). We do provide prioritization of features and bugs for customers.</p>

    <p>We do not have support for packages found on Chocolatey.org - those are considered community packages and should not be used for commercial purposes. Package issues should follow the package triage proces. <a href="https://github.com/chocolatey/choco/wiki/CommunityPackagesWarning">Read more...</a></p>

    <h3>What Features Are Planned?</h3>

    <p>NOTE: The first feature listed (creating packages from software installers) is in final stages and should be released shortly.</p>

    Note: Planned features could change or be removed. We don't think they will, but this is a heads up.

    Chocolatey for Business - Create packages from software installers - Do you keep all the installers you install for your business internally somewhere? Chocolatey for Business can automatically create packages for all the software your organization uses in under 5 minutes!
    Syncing with Programs and Features - Detect manual removals of software and remove those packages from Chocolatey.
    Lock down configuration of Chocolatey to certain groups - helpful when you want to ensure the default source (the community feed) stays disabled.
    Automatic recompile support - What is recompiling?
    Non-Administrator Self-Service Installs - Chocolatey as a background service that allows non-admins to self-serve approved installations.
    Administrator Only Mode - Only allow administrators to run Chocolatey.
    Business / Pro only packages with an SLA - packages on the community repository bear no support whatsoever. We'd like to provide a repository that both pro and businesses can trust and count on.
    Removal of software not managed by Chocolatey - do you want to restrict software installations to only the software installed by Chocolatey?




  </div>
</section>
