@{
    ViewBag.Title = "Privacy";
}
<section>
  <div class="container-wide p-b--l">
    <article class="policies privacy">
      <h1 class="text-center m-b">PRIVACY POLICY</h1>
      <p>Please update</p>
    </article>
  </div>
</section>