@{
    ViewBag.Title = "Notice";
}

<h2>Found a Bug?</h2>

<p>Coming Soon!</p>
<h3>Was it with this site?</h3>
<h3>Do you have a support contract?</h3>
<h3>Was it with the choco.exe client?</h3>
<h3>Was it with the Chocolatey GUI?</h3>
<h3>Was it with a package on this site?</h3>
<p>Packages provided on this site are community packages, as such they are unsupported. If you are looking for package support, please contact us about custom packaging for your needs.</p>
