@{
    ViewBag.Title = "Notice";
}

<section>
  <div class="container-wide p-b--l">
    <h1 class="text-center m-b">Found An Issue?</h1>
    
    <h3>Was it with a package on this site?</h3>
    <p>If you are having issue with a package, please see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "package-triage-process" })">Request Package Fixes or Updates / Become a maintainer of an existing package</a>.</p>
    <p>Packages provided on this site are community packages, as such they are unsupported. If you are looking for package support, and you are a business customer, please <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us</a> about custom packaging for your needs.</p>
    
    <h3>Are you a licensed customer / do you have a support contract?</h3>
    <p>Please see our <a href="@Url.RouteUrl(RouteName.Support)">support page</a> for details. Please use the support email. Optionally, if your support contract includes phone support, call the support line.</p>
    <p>You can also log issues at <a href="https://github.com/chocolatey/chocolatey-licensed-issues">Licensed Issues</a> and we will route the requests to the proper repositories.</p>

    <h3>Was it with this site?</h3>
    <p>Please report the issue to the <a href="https://github.com/chocolatey/chocolatey.org/issues">Chocolatey.org repository</a>.</p>
    
    <h3>Was it with the choco.exe client?</h3>
     <p>If you have found an issue with the CLI (choco.exe), please see <a href="https://github.com/chocolatey/choco#submitting-issues">the choco repository</a>.</p> 

    <h3>Was it with the Chocolatey GUI?</h3>
    <p>If you have found an issue with the GUI (Chocolatey GUI), please see <a href="https://github.com/chocolatey/ChocolateyGUI#submitting-issues">the ChocolateyGUI repository</a>.</p>    
  </div>
</section>