@{
    ViewBag.Title = "Notice";
}

<section>
  <div class="container-wide p-b--l">
    <h1 class="text-center m-b">Found a Bug?</h1>

    <p>Coming Soon!</p>
    <h3>Was it with this site?</h3>
    <h3>Do you have a support contract?</h3>
    <h3>Was it with the choco.exe client?</h3>
    <h3>Was it with the Chocolatey GUI?</h3>
    <h3>Was it with a package on this site?</h3>
    <p>Packages provided on this site are community packages, as such they are unsupported. If you are looking for package support, please contact us about custom packaging for your needs.</p>
  </div>
</section>