@{
    ViewBag.Title = "Support";
}

<h2>Support</h2>

<p>Coming Soon!</p>

<h3>Are you looking for a support contract?</h3>
<h3>Do you already have a support contract?</h3>

<p>Keep in mind that the packages found on this site (the community repository) are not supported.</p>