@{
    ViewBag.Title = "Terms and Conditions";
}

<section>
  <div class="container-wide p-b--l">
    <article class="policies">
      <h1 class="text-center m-b">TERMS &amp; CONDITIONS</h1>
      <h3>Terms of Use</h3>
      <p>Please update</p>
    </article>
  </div>
</section>