/* Footer */
#layout-footer {
    background:#f7f1e4;
    color: #3c483e;
    clear: both;
    border-top: 1px solid #fee7d3;   
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-top: -161px;
    height: 362px;
}

#header-right {
    float: right;
    width: 560px;
}

.nuspec
{
    background-color: #fff7c4;
    color: #ff9600;
    border: solid 1px;
    font-size: 0.9em;
    padding: 10px;
    overflow: visible;
    display: block;
    width: 1080px;
}

.review-instructions {
    background-color: #e3fbf9;
    color: #000000;
    /*font-weight: 600;*/
}

.approved {
    background-color: #c6efce;
    color: #006100;
    /*font-weight: 600;*/
}

/*.review-instructions li {
    position: relative;
    left: 20px;
}*/

.review-instructions textarea {
    width: 500px;
    height: 120px;
}


.notices
{
    padding: 0 10px 0 10px;
    clear: right;
    position: relative;
    top: 29px;
    left: 10px;
    color: #4e2c01;
    font-weight: bold;
    font-size: 1.25em;
    height: 47px;
    -webkit-animation: fade 8s ease-out 0.5s 1 normal forwards;
    animation: fade 6s ease-out 0.5s 1 normal forwards;
}

.notices a
{
    color: #FFFFFF;
}
.supporters
{
    padding-top: 6px; 
    vertical-align: bottom;
    clear: both;
    height: 140px;
}

.donate
{
    vertical-align: bottom;
    clear: both;
    height: 56px;
    position: relative;
    left: -18px;
}

.newsletter
{
    vertical-align: bottom;
    clear: both;
    height: 0px;
    position: relative;
    left: 0px;
}

    footer#footer ul.supporters {
        width: 760px;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

        footer#footer ul.supporters li {
            margin-left: 0;
            float: left;
            text-align: center;
            padding: 10px;
            width: 130px;
        }

            footer#footer ul.supporters li a {
                display: block;
                font-size: 1.3em;
            }

            footer#footer ul.supporters li p {
                font-size: .9em;
            }    

#realdimensions-logo
{
    background: url(../Content/Images/RealDimensionsLogo.png) no-repeat;
    height: 60px;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 0px;
    width: 77px;
    vertical-align: bottom;
}

#appharbor-logo
{
    background: url(../Content/Images/appharbor-logo.png) no-repeat;
    height: 60px;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 60px;
    vertical-align: bottom;
}

#turbo-logo
{
    background: url(../Content/Images/turbo-logo.png) no-repeat;
    height: 60px;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 60px;
    vertical-align: bottom;
}


 /* NuGet Badge */
    .nuget-badge-small code {
        background-color: #202020;
        border: 4px solid #c0c0c0;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 2px 2px 3px #6e6e6e;
        color: #e2e2e2;
        display: inline-block;
        font: 1.25em consolas, 'andale mono', 'lucida console', monospace; 
        line-height: 0.90em;
        overflow: auto;
        padding: 15px;
        float:right;
        width: 450px;
    }
    
#profileResults {
    list-style: none;
    margin: 0;
    padding: 0;
}

section.package .profile {
    float: left;
    width: 70px;
}

    section.package .profile img {
        height: 30px;
        width: 30px;
    }
    
.copy-button {
   border:0;
   width: 16px; 
   height: 16px; 
   background: url('../Content/Images/copy.png') no-repeat;
}

.form-field label.for-checkbox {
   display: inline-block;
 }
 
.package-file-content {
    display: none;
    position: relative;
    left: -110px;
    width: 1080px;
}

#sideColumn nav ul li span
{
    text-decoration: underline;
    font-weight: 400;
}

.modal-closeable {
    position: fixed;
    display: block;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 1em 0em 1em;
    margin: 0em;
    background-color: rgba(0,0,0,0.5);
}

.modal-closeable .message-content {
    display: block;
    position: relative;
    width: 960px;
    margin: 2em auto;
    padding: 1em 1em 2em 1em;
    font-size: 1.5em;
    border: 10px solid #ccc;
    border-radius: 0.5em;
    background-color: #fff;
}

.modal-closeable .close {
    position: relative;
    display: inline-block;
    float: right;
    clear: both;
    margin-top: -1em;
    text-decoration: underline;
    font-size: 0.8em;
    color: #fff;
    border: 3px solid #070;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 0.5em;
    background-color: #0d0;
    cursor: pointer;
}
